[2014-03-20 19:41] #508 closed, assigned to nobody

[2014-03-20 19:45] oleksiyk commented on #508
Well, the code I posted really doesn't use vclocks, but my actual code does use them: https://github.com/oleksiyk/riakfs/blob/master/lib/index.js#L103

That's the exact line where del operation is hanging with my real code. I do the read first with `head=true` so it shouldn't transfer object?

[2014-03-20 19:45] jrwest commented on #511
For the `default` bucket type (which you are working with) `allow_mult=false` will continue to be the default. This is in order to minimize potential surprises on upgrade (data you expected to never have siblings all of a sudden does). However, we believe `allow_mult=true` is the correct default, so bucket types, by default, use `allow_mult=true`. So yes, the scenario you describe is possible.

[2014-03-20 19:47] oleksiyk commented on #511
Thanks!

[2014-03-20 19:47] #511 closed, assigned to nobody

[2014-03-20 19:49] jrwest commented on #508
A `head` request only controls which information is returned to the client [1]. The internal erlang buffers are still filled with the objects. So there isn't very much, if any, difference between the two (reading first or letting riak do it, that is).

[1] https://github.com/basho/riak_kv/blob/develop/src/riak_kv_pb_object.erl#L133-L160

[2014-03-20 19:51] oleksiyk commented on #508
I see. Why its necessary to read the object data in order to delete it?

[2014-03-20 19:56] jrwest commented on #508
the vector clock is necessary for the delete to supersede previously written values and to establish if any operations occur concurrently with the delete. At this time, internally, reading object metadata and data is one operation.

[2014-03-20 19:57] oleksiyk commented on #508
Thanks!

[2014-03-20 19:57] jrwest commented on #508
If you are concerned with performance of deletes because of this, you may consider using something like Riak 2.0 sets (where you do not need to read before write) and inserting a key to be deleted by a garbage collection process out-of-band

[2014-03-20 20:02] oleksiyk commented on #508
I've already tried new sets and they are cool! But unfortunately their performance is a bit worse compared to plain operations: https://github.com/basho/riak/issues/483
Especially when set gets bigger.

I'm really looking forward to using them though.

[2014-03-20 23:53] rzezeski commented on #510
The PBC interface is limited to the operations supported by legacy
Riak Search. If you need to use features like faceting then you'll
have to use HTTP for now. The `fq` param is supported but it is called
`filter` in the current PBC interface.

[2014-03-21 00:24] rzezeski commented on #510
The `riak_kv_version` is based on the `riak.app` file which has its
version generated based on the last tag (`git describe --always --tags`).
In the case of 2.0.0pre18 the last tag on riak_kv was 1.4.2
and there have been 529 commits since. We haven't yet tagged the
riak_kv repo with 2.x because we are still in pre-release stage.

The version coming back from PBC is the overall Riak version which

[2014-03-21 00:24] #510 closed, assigned to nobody

[2014-03-24 14:46] jaredmorrow commented on #507
This (I believe) https://github.com/basho/riak/blob/1.4/RELEASE-NOTES.md#sorting-in-non-paginated-queries explains the difference you are seeing.

Closing this issue, since you have it filed against the ruby client as well.

[2014-03-24 14:46] #507 closed, assigned to nobody

[2014-03-24 14:52] jaredmorrow commented on #500
/cc @rzezeski since the codes are in relation to Yokozuna.  I'm setting the milestone to be 2.1 for now since we are too late in the 2.0 cycle to change the API.

[2014-03-24 15:05] jaredmorrow commented on #499
/cc @engelsanchez

What version of Riak are you seeing this on @peczenyj?

[2014-03-24 15:06] jaredmorrow commented on #498
Also /cc'ing @engelsanchez and setting milestone for 2.0.1.  Since I don't know if this was already fixed in the 1.4.x series.

[2014-03-24 15:13] jaredmorrow commented on #496
For 2.0 we might require using gcc instead of clang, both @Vagabond and I ran into the same problem.  I'll set the target of addressing clang for 2.0.1 milestone for now.

[2014-03-24 16:12] jj1bdx commented on #496
Please do note FreeBSD Port has its own leveldb (/usr/ports/databases/leveldb) 1.15.0.  Also, the default Port gcc is now 4.7.3 (port devel/gcc47).

[2014-03-24 16:17] Vagabond commented on #496
Their leveldb != our leveldb. Unlke the other leveldb forks out there (hyperdex's hyperleveldb and Facebook's RocksDB) we have not renamed our fork, although we probably should.

[2014-03-24 16:49] jaredmorrow commented on #491
/cc @macintux, he just spent some time debugging UTF8 issues, but I think that was in regards to security.  I'll leave this here for now and put it on the 2.1 milestone.

[2014-03-24 16:51] jaredmorrow commented on #490
/cc @jtuple regarding the AAE issue, as he is the main expert there.

[2014-03-24 16:52] #479 closed, assigned to nobody

[2014-03-24 16:52] #475 closed, assigned to nobody

[2014-03-24 16:53] #474 closed, assigned to nobody

[2014-03-24 16:56] jaredmorrow commented on #470
There has been work from @macintux on the CLI UX for security b/w pre18 and pre20, any idea if these issues still exist?

[2014-03-24 16:57] jaredmorrow commented on #470
Sorry, accidental "close & comment" button push.

[2014-03-24 16:58] jaredmorrow commented on #469
@Vagabond milestone added for 2.0.1

[2014-03-24 17:01] jaredmorrow commented on #465
/cc @rzezeski since he is the expert on search index corruption.  I was going to link to his guide on repairing, but it looks like you already tried that.

[2014-03-24 17:03] jaredmorrow commented on #463
Any status on this since the last planned meeting? (3 months ago)

[2014-03-24 17:04] jaredmorrow commented on #468
I just tested against pre20 and this is fixed now.

[2014-03-24 17:04] #468 closed, assigned to nobody

[2014-03-24 17:06] jaredmorrow commented on #458
Cuttlefish (the new configuration system introduced in 2.0) fixes this issue.  Sorry for the troubles in 1.3.

[2014-03-24 17:06] #458 closed, assigned to nobody

[2014-03-24 17:10] jaredmorrow commented on #445
This is fixed in cuttlefish https://github.com/basho/cuttlefish/blob/develop/priv/erlang_vm.schema#L178

[2014-03-24 17:11] jaredmorrow commented on #437
Going to close this as no further investigation was done at the time.  We will reinvestigate if we see this in 2.0.

[2014-03-24 17:11] #437 closed, assigned to nobody

[2014-03-24 17:11] #433 closed, assigned to nobody

[2014-03-24 17:12] jaredmorrow commented on #432
@michellep Is this still an active request?  Also, should this be tracked in our PM or platform_task repos?

[2014-03-24 17:19] jaredmorrow commented on #428
/cc @jgnewman @jburwell for riak_control work.  If interested in this, it should be tracked under basho/riak_control rather than here.  If this is something that won't be supported down the road, please close.

[2014-03-24 17:22] jaredmorrow commented on #426
This is still an issue in pre20, here is the result with running the above (after adding the zman user).

[code]

Thoughts @Vagabond @macintux.

I'll put this as 2.0.1 for now.

[2014-03-24 17:23] jaredmorrow commented on #424
@jrwest is this a 2.1 targeted change?

[2014-03-24 17:24] jaredmorrow commented on #423
@jrwest setting to 2.1 unless you tell me otherwise.

[2014-03-24 17:25] jaredmorrow commented on #418
See: https://github.com/basho/riak/issues/455

Though this issue is older, I'm closing it since more tracking has been done in #455.

[2014-03-24 17:25] #418 closed, assigned to joedevivo

[2014-03-24 17:32] jaredmorrow commented on #415
@TJC is this now fixed in the Java client and can be closed here?  @seancribbs opinions on it also being a bug in the HTTP client?

[2014-03-24 17:35] jaredmorrow commented on #412
It no longer references a hard coded path, closing.

[2014-03-24 17:35] #412 closed, assigned to nobody

[2014-03-24 17:38] jaredmorrow commented on #411
This is still an issue, we should fix this for 2.1.

[2014-03-24 17:40] jaredmorrow commented on #407
This appears fixed in the above referenced PR's.  Correct me if I'm wrong @slfritchie

[2014-03-24 17:40] #407 closed, assigned to nobody

[2014-03-24 17:41] jaredmorrow commented on #408
This is fixed in our shipped Erlang with Riak (R16b02-basho4) as well as Erlang 17 to be released soon.

[2014-03-24 17:41] #408 closed, assigned to nobody

[2014-03-24 17:42] Vagabond commented on #408
It was fixed in R16B03 by OTP-11370.

[2014-03-24 17:45] jaredmorrow commented on #373
This looks to be fixed / closed in riak_kv.  Closing unless @joedevivo disagrees.

[2014-03-24 17:45] #373 closed, assigned to nobody

[2014-03-24 17:49] jaredmorrow commented on #381
Closing in favor of basho/basho_docs#946

[2014-03-24 17:49] #381 closed, assigned to nobody

[2014-03-24 17:49] #370 closed, assigned to nobody

[2014-03-24 17:50] jaredmorrow commented on #363
We are shipping R16B02, so closing this issue.

[2014-03-24 17:50] #363 closed, assigned to nobody

[2014-03-24 17:50] #362 closed, assigned to nobody

[2014-03-24 17:50] joedevivo commented on #373
+1 to closing

[2014-03-24 17:51] #359 closed, assigned to nobody

[2014-03-24 17:54] jaredmorrow commented on #356
Bumped milestone to 2.1

[2014-03-24 17:57] jaredmorrow commented on #404
This appears fixed in 2.0.0pre20

[code]

[2014-03-24 17:57] #404 closed, assigned to nobody

[2014-03-24 17:57] jaredmorrow commented on #391
Marking this as 2.1, unless this is already fixed @evanmcc

[2014-03-24 17:59] jaredmorrow commented on #127
There has been no activity on this for 2 years, so I will close it.  If someone wants to dig hard into this, feel free to reopen.

[2014-03-24 17:59] #127 closed, assigned to nobody

[2014-03-24 17:59] jaredmorrow commented on #132
2 years with not much progress, going to close this as an issue.

[2014-03-24 17:59] #132 closed, assigned to nobody

[2014-03-24 18:00] evanmcc commented on #391
IMO, we should just do it , or do +sbt db for 2.0-RC, but I have never had
the time to verify my intuition that it doesn't hurt machines with a single
numa domain.

[2014-03-24 18:01] dgrnbrg commented on #458
I don't think cuttlefish fixes this, unless there's a tool to automatically
convert a legacy config to the cuttlefish config. We have a pretty large
and complex config, and porting it isn't cost-effective, but this type of
validation is really valuable to guard against typos.

On Monday, March 24, 2014, Jared Morrow notifications@github.com wrote:

[2014-03-24 18:02] jaredmorrow commented on #158
Stats are being re-inestigated in 2.1 with the Exometer package, will set the milestone for 2.1.

See: https://github.com/basho/riak/pull/448

[2014-03-24 18:06] jaredmorrow commented on #249
Backup/Restore is due for a complete rewrite in 2.1 as far as I know.

[2014-03-24 18:06] #250 closed, assigned to nobody

[2014-03-24 18:07] jaredmorrow commented on #246
This appears to be fixed in 2.0.

[2014-03-24 18:07] #246 closed, assigned to jaredmorrow

[2014-03-24 18:10] jaredmorrow commented on #234
A big rewrite of clients happened for 2.0, but I don't know if this particular issue was touched.  /cc @broach

[2014-03-24 18:11] jaredmorrow commented on #308
It is my understanding there are plans in the works for this, /cc @gburd @michellep

Setting milestone to 2.1, unless Michelle or Greg tell me otherwise.

[2014-03-24 18:14] seancribbs commented on #234
Assigning to 2.1

[2014-03-24 18:15] jaredmorrow commented on #391
Changing milestone to 2.0-RC, so we can come back and track this.

[2014-03-24 18:16] jaredmorrow commented on #355
Closing this as most of what was described here landed in 2.0 pre builds.

[2014-03-24 18:16] #355 closed, assigned to nobody

[2014-03-24 18:19] jaredmorrow commented on #315
This is a really stale bug that didn't appear to get looked at.  Sorry @rspeer, have you looked at Yokozuna in Riak 2.0?

/cc @rzezeski on handling of this issue (close, keep open, etc.).

[2014-03-24 18:23] jaredmorrow commented on #297
Right now this would be incredibly customer-dependent as some networks would work fine with 500kb object sizes and some would fall on their face.  Closing due to lack of progress on this.

[2014-03-24 18:23] #297 closed, assigned to nobody

[2014-03-24 18:25] jaredmorrow commented on #305
There was a lot of work done in 1.4.x regarding 2i, and I suspect this is fixed.

I'm closing for now, unless @engelsanchez indeed thinks this is still an issue.

[2014-03-24 18:25] #305 closed, assigned to nobody

[2014-03-24 18:29] jaredmorrow commented on #321
Setting milestone to 1.4.9, for lack of a better resolution as we are moving towards Yokozuna in Riak 2.0

[2014-03-24 18:34] jaredmorrow commented on #497
This looks like a split brain scenario where you actually appear to have two distinct clusters.  Are you still having the problem, or has it been resolved?  Are you on the [riak-users mailing list?](http://lists.basho.com/mailman/listinfo/riak-users_lists.basho.com)  If not, we will be able to more easily help you there.

[2014-03-24 18:46] michellep-basho commented on #308
It is safe to tag it with 2.1. thanks

[2014-03-24 18:49] jrwest commented on #321
imo we should close as "wontfix". Riak Search has been deprecated in favor of Riak Search 2 in Riak 2.0 and 1.4.x releases will only contain bug fixes not new features. Multi-get for k/v data has been implemented at the client layer in most (if not all?) official clients. Perhaps @rzezeski @gburd @michellep have a different opinion though?

[2014-03-24 18:58] remialvado commented on #321
We did not create a pull request for this one last year but we did implement the first option and it works quite well. cc @awetzel

[2014-03-24 19:00] ramunasd commented on #497
Except info about `Handoff receiver for partition undefined exited after processing 0 objects` i'm not getting any error.

[2014-03-24 19:00] #497 closed, assigned to nobody

[2014-03-24 19:30] jonmeredith commented on #297
Worth noting that you can now set maximum sizes though.

[2014-03-24 20:08] seancribbs commented on #354
I think we've addressed the RFC bits of this for 2.0, closing. Reopen with comments if you disagree.

[2014-03-24 20:08] #354 closed, assigned to nobody

[2014-03-24 20:44] rzezeski commented on #321
The 1st option will never be added to legacy riak_search because it has been deprecated. I think considering a native multi-get feature for new search (Yokozuna) is an interesting idea but it need to be discussed by Basho and would likely not be done as suggested above since it a) assumes the Solr endpoint for querying (I'd like to see more general query + multi-get), b) assumes an XML content-typ

[2014-03-24 21:19] rzezeski commented on #315
There are no plans to investigate this with the deprecation of legacy riak_search and the introduction of new search (Yokozuna).

[2014-03-24 21:19] #315 closed, assigned to nobody

[2014-03-24 21:20] jrwest commented on #297
related PR (for 1.4) https://github.com/basho/riak_kv/pull/836. the changes also exist today on [`develop`](https://github.com/basho/riak_kv/blob/develop/src/riak_kv_vnode.erl#L1516-L1523)

[2014-03-24 21:46] jrwest commented on #249
`riak-admin backup` in its current incarnation has been deprecated. Given this is a feature request for that specific, deprecated, implementation I believe this should be closed as wontfix.

[2014-03-24 21:46] #249 closed, assigned to nobody

[2014-03-24 21:46] jrwest commented on #249
backup was deprected in https://github.com/basho/riak_kv/pull/850

[2014-03-24 21:47] jrwest commented on #423
moved to `2.0-RC`. I was hoping leaving it would anger people enough I'd get asked to remove the JSON, but it didn't work. The "no props" version should work at a minimum.

[2014-03-24 21:48] jrwest commented on #424
unfortunately, yes

[2014-03-24 21:50] jrwest commented on #463
The tl;dr is there is no user-facing API for bucket types (code exists for some of it, but it is not documented or supported in Riak 2.0). We should use this issue to track work for 2.1 to add it.

[2014-03-24 21:50] jrwest commented on #463
moved to `2.1` release. @michellep @gburd happy to discuss again if necessary.

[2014-03-24 21:52] jrwest commented on #491
I believe its a known issue that Riak's `erlang_js` does not support unicode cc/ @cmeiklejohn

[2014-03-24 22:22] jaredmorrow commented on #321
Well since this is related to deprecated search, I'm closing this issue for now.

[2014-03-24 22:22] #321 closed, assigned to nobody

[2014-03-25 00:13] TJC commented on #415
Re bug in HTTP API -- being unable to list your buckets surely counts as a bug?
(Even if being unable to list or interact with keys isn't)

[2014-03-25 00:15] jrwest commented on #415
not 100% but this may be related re: HTTP and UTF8 https://github.com/basho/riak-erlang-http-client/pull/44 cc/ @macintux

[2014-03-25 00:21] TJC commented on #415
Jared - I haven't tested binary handling with the RJC 2.0 client yet, but the use of "BinaryValue" types to represent buckets and keys looks promising. I'll try and get time to setup a cluster in VMs and try it out later today.

[2014-03-25 02:36] slfritchie opened #514 "Placeholder: Bitcask update for 1.4.x series"
When the Riak 2.0-related bugfixes have finished & stabilized, any subsequent Riak 1.4 branch releases should use it.

[2014-03-25 02:49] slfritchie commented on #407
Correct

[2014-03-25 03:02] kuenishi commented on #415
Listing non-valid-utf8-named buckets or non-valid-utf8-named keys always fails because there is no way to represent them in [JSON](http://json.org/) String. It's possible to encode the stuff in some way (say, base64 or whatever) but it's not right. This is why HTTP requests always fail. So I don't think this is a bug.

RJC PB interface should support that use case non-valid utf8 Strings - in RJC 2

[2014-03-25 06:32] rspeer commented on #315
We have looked at Yokozuna, but we're not migrating to an unreleased version of Riak for it.

Currently we use secondary indices for text search, as a temporary measure. We are in the process of moving our searchable text off of Riak altogether. As this bug report shows, our use case hasn't been well supported by Riak.

[2014-03-25 14:38] jj1bdx commented on #496
I suggest Riak's leveldb to be renamed to avoid confusion.

[2014-03-25 14:48] Vagabond commented on #496
I agree.

[2014-03-25 15:18] joedevivo commented on #445
If this change to the default configuration is made, it should be done as an override in riak.schema, not in the erlang_vm.schema. have a nice day.

[2014-03-25 15:32] rzezeski commented on #445
Okay so this issue should be reopened then if the default is still 1024.

[2014-03-25 15:38] oleksiyk opened #515 "Riak 2.0: How to setup multi backend"
Can you please suggest how to setup multi backend in riak.conf for Riak 2.0?

I tried the following but it din't work:

[code]

Riak didn't start up with the following message:

[code]

Also I was not able to find cuttlefish mapping for the following leveldb params:
`max_open_files`
`block_size`
`cache_size`

Thanks!

[2014-03-25 16:31] jrwest commented on #515
I've marked this for milestone `2.0-RC`, it will be investigated at the latest by that release. However, I'm sure @joedevivo can shed some light on this a bit sooner.

[2014-03-25 16:40] jaredmorrow commented on #445
But why then is in commented at 32mb?  That is so confusing, if I see a comment that says 32mb, I'm going to assume that's the default unless I uncomment and change it.

[2014-03-25 17:11] macintux commented on #426
I don't know that this is a bug. @Vagabond's design allows for pluggable authentication mechanisms.

We certainly could reject unknown sources, or issue a warning that the source isn't recognized but allow it.

[2014-03-25 17:14] jrwest commented on #445
another vote for raising it? https://github.com/basho/riak/issues/508

[2014-03-25 17:17] rzezeski commented on #426
IIRC once I did this security got in a bad state and I couldn't fix it without a fresh cluster. I could be remembering wrong but would be good to test before closing this issue.

[2014-03-25 17:19] jaredmorrow commented on #445
Okay, going to do just make a branch and get this done, PR... incoming..

[2014-03-25 17:20] evanmcc commented on #445
the strongest possible :+1: from me, this absolutely needs to be done.

[2014-03-25 17:20] jaredmorrow commented on #445
@evanmcc 32mb reasonable to you, that was our previous suggestion?

[2014-03-25 17:23] evanmcc commented on #445
32MB sounds good to me.

[2014-03-25 17:59] evanmcc opened #517 "Tweak logging defaults"
Two changes, both in the interest of better default visibility:
1. Increase the log rolling to weekly rather than daily.
2. Change the log rate throttle from 100 -> something large.  I'd suggest 500 or a thousand, but people might want to discuss.  I suggest them because I think that we should err on the side of visible-but-slow.

[2014-03-25 18:19] rzezeski commented on #517
+1 to > 100. I see log msgs getting dropped during riak startup.

[2014-03-25 20:16] jaredmorrow commented on #445
I have a branch with the fix, but there is currently a bug in cuttlefish.  Leaving this as a placeholder so no one else starts it.

[2014-03-26 20:57] joedevivo commented on #515
basho/cuttlefish#130 has resolved this issue. You can try building from develop to use your multi_backend config.

[2014-03-26 20:57] #515 closed, assigned to nobody

[2014-03-27 10:30] mmaki opened #520 "X-Forwaded-Host causes 400 (Bad Request)"
When doing a request to Riak with two X-Forwarded-Host-values (comma separated) _with_ ports, I get a 400 (Bad Request).

[code]

However when doing the same request without ports, the requested image is served correctly:

[code]

Version: 2.0.0-pre20. Also had same bug with 2.0.0-pre11.

I've now solved this by unsetting X-Forwarded-Host-header in Apache, which we use as a proxy.

[2014-03-27 13:44] #445 closed, assigned to nobody

[2014-03-27 15:36] lukebakken opened #522 "riak-debug enhancement suggestions"
- logs: `/var/log/kern.log` should be included if present. It has human-readable dates, as opposed to `dmesg`.
- `netstat`: It would be great to have the PID of processes owning the connection. In general this is done using the `-p` argument.
- Recursive long list of Riak data directories and summary of data directory size.

[2014-03-27 21:26] Vagabond commented on #517
We should instead raise the limit after startup if we care about all the startup noise. The limit is there for a _very_ good reason:

http://hijacked.us/~andrew/lager.png

http://hijacked.us/~andrew/error_logger.png

If the limit is too high, the node gets overwhelmed before the dropping can kick in.

[2014-03-27 21:26] Vagabond commented on #517
Err, lower the limit, I mean.

[2014-03-27 21:29] evanmcc commented on #517
Is it possible to quantify what's safe?  the 100/s limit has made some log
sets I've looked at entirely useless because there are periods where
thousands of messages were dropped.  How hard would to be to add
syslog-like repeat message folding?  I understand why the limit is there,
I'm just arguing that it's far too strict by default.

[2014-03-27 21:39] Vagabond commented on #517
The problem is that errror_logger is _seriously_ flawed in its implementation. It provides 0 backpressure so that its mailbox can get loaded up with millions of messages.

Originally we had some code to drop duplicate messages, but it turned out to be slow enough that it didn't really help when an error_logger storm kicked in. The tradeoff is lose some error_logger messages or crash the node. In w

[2014-03-27 21:40] Vagabond commented on #517
'Safe' is going to be very system dependant, unfortunately. I tried to pick a reasonable limit that should be safe on all but the slowest machines.

[2014-03-27 21:51] evanmcc commented on #517
At a customer with a very large cluster of very heavily populated bitcask
partitions, upgrading from 1.3 -> 1.4.  The nodes got sad and kv wouldn't
start, but we couldn't figure out what was going on.

[code]

[2014-03-27 22:12] jonmeredith commented on #517
I regularly see dropped messages on startup on my year old mbp.  Normal startup shouldn't trip the threshold.

Is it feasible to have lager have a higher message/sec threshold during the initial application startup, then perhaps dropped back once all applications started?

The other way to attack it is to look and see if any of the startup messages should be lowered in priority.

[2014-03-28 13:59] Vagabond commented on #517
Remember, this _only_ affects messages coming from error_logger. Bitcask uses error_logger because we didn't want to tie it to lager with a dependancy.

We don't use phased startup, so when is riak 'up'? There's API for changing the error_logger high water mark:

https://github.com/basho/lager/blob/master/src/error_logger_lager_h.erl#L73

Now, what evan saw where it only reports the dropped messag

[2014-03-28 18:43] evanmcc commented on #517
would it be reasonable to move bitcask/eleveldb to a macro-based or
environment toggled log selector?  so in riak, we use lager, whatever else,
we use error_logger?

On Fri, Mar 28, 2014 at 6:59 AM, Andrew Thompson
notifications@github.comwrote:

[2014-03-31 23:56] evanmcc commented on #517
As a note, lager is already a dependency of bitcask now that cuttlefish is
included.  Maybe we should just move it over?

[2014-04-01 17:25] siddhuwarrier opened #526 "Starting Riak using a Puppet agent will not work"
I am writing a bunch of Puppet scripts for Riak and Riak CS, and I found that I could not start my service when running `puppet agent -tv` on Centos 6.x

The underlying reason is that Riak is started up using `sudo -H` - sudo cannot be executed by default if there is no tty. I have had to manually disable `requiretty` for the root user in order for the puppet scripts to work.

I would suggest that

[2014-04-01 17:45] jaredmorrow commented on #526
This has been reported before and we have plans to fix this in our packaging scripts post-2.0.

https://github.com/basho/node_package/issues/125

[2014-04-01 17:45] #526 closed, assigned to nobody

[2014-04-02 17:11] jaredmorrow commented on #505
Fixed, will be in our beta build.

[2014-04-02 17:11] #505 closed, assigned to jaredmorrow

[2014-04-02 17:29] RyanGordon commented on #505
Thanks!

[2014-04-02 21:04] jaredmorrow commented on #526
@siddhuwarrier the plan to push this past 2.0 is canceled since we found some time to fix it for 2.0 beta :)

[2014-04-03 07:33] oleksiyk opened #527 "Riak 2.0.pre20: high CPU usage on idle"
I'm running a clean install of 5 node Riak 2.0.pre20 cluster on a physical servers with intel xeon hexacore and experiencing constant load on CPU by beam.smp (on all nodes). The load is 7-25%. Server (and Riak) is absolutely idle.

`riak-admin top interval 2`:

[code]

There are no errors in console.log or error.log
Is that normal?

riak.conf:

[code]

[2014-04-03 08:37] oleksiyk commented on #527
Disabling `riak_control=off` helped a bit, but still the load is constantly 3-20%:

[code]

[2014-04-03 08:49] russelldb commented on #527
I wonder if it is stats? Could you turn up the stat calc TTL to something really long?

I can't find the setting in cuttlefish, so I guess it'll need to go in your `advanced.config`

[code]

Make `$SOME_NUMBER_OF_SECONDS` big to make infrequent the background calculation of stats, and let me know what difference that makes, please?

Also, until we have a known issue, the mailing list[1] is the bes

[2014-04-03 09:02] oleksiyk commented on #527
Sorry about using github instead of mailing list, will use it next time!

I've added the following to advanced.config:

[code]

And it helped a bit, however I still see the CPU load spikes at about 20% each 5-10 seconds (not 30 as configured for stats ttl).

[2014-04-03 09:06] russelldb commented on #527
Is the spike frequency and size the same whatever TTL setting you use? For example, change that TTL to 120, and is the behaviour the same?

[2014-04-03 09:17] oleksiyk commented on #527
It seems it has settled by itself. The load by beam.smp now is constant 1% with spikes not over 5%

[2014-04-03 09:18] oleksiyk commented on #527
Is it safe to set stat_cache_ttl to 30 secs in production?

[2014-04-03 09:35] russelldb commented on #527
So that setting solves your problem? This suggests that there is an issue with stat calculation taking up too much resource.

What is a safe setting for the frequency of stat calculation depends on how often you consume them. A 30 second window might be too big for most users. Once a second is probably too frequent for most users too.

Tune it based on what is acceptable to you as a trade-off CPU

[2014-04-03 09:39] oleksiyk commented on #527
Yes, once I set stat_cache_ttle to 1 second the CPU load by beam.smp is back to minimum 4-7% with spikes to 20-30%

[2014-04-03 09:41] russelldb commented on #527
Hmm. Ok. Well, let's leave this open and hopefully we can look at it before 2.0RC.

Thanks.

[2014-04-03 09:43] oleksiyk commented on #527
Yes, and `riak-admin top` shows `cpu_sup:measurement_server_loop/1` at the top of each iteration

[2014-04-03 09:49] russelldb commented on #527
Interesting. I'll look into it…though if you figure it out and send a patch/PR, I'll buy you a beverage of your choice.

[2014-04-03 18:37] lucperkins opened #528 ""services" command does not show up under riak-admin"
When you run `riak-admin` without a command, it will output a listing of available commands:

[code]

Currently, it does not list the `services` command, which is both [documented](http://docs.basho.com/riak/2.0.0pre20/ops/running/tools/riak-admin/#services) and functions normally.

[2014-04-04 18:25] cmeiklejohn opened #529 "Riak DT api doesn't honor content types"
[code]

Appears to return JSON, regardless.

[2014-04-04 19:33] seancribbs commented on #529
`Content-Type` header from the client specifies the **request** media-type, not the acceptable ones. You also cannot update via `GET`.

If you use `-H "Accept: application/xml"` you should get the appropriate 406 response.

[2014-04-04 19:33] #529 closed, assigned to nobody

[2014-04-04 20:20] cmeiklejohn commented on #529
sigh, it's Friday, I'm off my game. :)

[2014-04-04 21:23] seancribbs commented on #529
np, been off my game all week

[2014-04-05 00:28] PharkMillups commented on #529
Even Jordan had off days.

[2014-04-05 00:33] andrewjstone commented on #529
A wild @PharkMillups appears

[2014-04-07 05:56] rzezeski commented on #529
How'd your `Accept` game come up?

[2014-04-07 15:49] bsparrow435 opened #530 "Add kern.log to riak-debug dump if exists"

[2014-04-07 15:49] bsparrow435 commented on #530
Closing, covered in #522

[2014-04-07 15:49] #530 closed, assigned to nobody

[2014-04-07 15:52] bsparrow435 commented on #522
Adding more enhancements:
- riak-cs logs
- stanchion logs
- flag for riak-cs access logs

[2014-04-07 16:04] cmeiklejohn commented on #529
Poorly.

[2014-04-10 15:48] jaredmorrow commented on #162
Removed reboot completely.  Restart will be reworked to continue working with our longer shutdown and startup times.

[2014-04-10 15:48] #162 closed, assigned to nobody

[2014-04-11 16:43] #423 closed, assigned to jrwest

[2014-04-14 03:50] sendtopms opened #534 "Support for Erlang R17"
Since R17 is released, support would be nice. I tried running on R17 with few changes to  crypto API(MD5/SHA) call seems simple to just for running R17. But looking at backward support for changes/deprecated API in crypto module needs some thought.

[2014-04-14 15:13] jaredmorrow commented on #534
We are shipping Riak 2.0 with R16 + our patches for crypto.  It will probably be some time before we support R17 officially.

[2014-04-15 03:12] sendtopms commented on #534
Thats nice. It will be great if it applies based on detected erl. Thanks.

[2014-04-15 03:12] #534 closed, assigned to nobody

[2014-04-15 17:28] evanmcc opened #535 "Riak should manage backend lock files."
There have been a couple of issues on bitcask and I think at least one on leveldb where stale lock files keep the system or particular vnodes from starting up.  There've been repeated requests (https://github.com/basho/bitcask/issues/99, https://github.com/basho/bitcask/issues/163) to manage this at the backend level, but IMO, that's the wrong place to handle it, since there are various corner cas

[2014-04-15 20:25] jtuple opened #536 "Remaining strong consistency work for 2.0"
This is a meta-issue to track the remaining strong consistency work for Riak 2.0.
- [x] There is currently a manual step that must be performed from the Erlang console to enable strong consistency. This step must be performed on one and only one node in the cluster. This should be changed to be automated, or exposed via a new `riak-admin` command. (basho/riak_core#571)
- [x] Nodes cannot safely be

[2014-04-18 22:45] oleksiyk commented on #487
I'm afraid the problem has come back with beta1:

[code]

Default Ubuntu 12.04 installation.
shell: /bin/bash 4.2.24

[2014-04-18 23:38] oleksiyk commented on #487
And the breaking change is in `/usr/lib/riak/lib/env.sh`:

this won't work:
`exec su - $RUNNER_USER -c "$RUNNER_SCRIPT_DIR/$RUNNER_SCRIPT $ESCAPED_ARGS"`

this will work:
`exec sudo -H -u $RUNNER_USER -i $RUNNER_SCRIPT_DIR/$RUNNER_SCRIPT "$@`

[2014-04-19 05:43] jaredmorrow commented on #487
I have a fix for this with 'su' that will be out in the next build.  Sorry
for the trouble.

On Friday, April 18, 2014, Oleksiy Krivoshey notifications@github.com
wrote:

[2014-04-21 15:36] jonmeredith commented on #391
@evanmcc @jaredmorrow I think the time window has closed on this, unless we're planning to rerun backend/cluster testing with this enabled.

[2014-04-21 16:21] evanmcc commented on #391
I regularly recommend this setting to users with dual-core machines, and
thus run most of my scalability tests with this setting enabled.  That
said, I don't typically run these tests on single core machines.  Even
Kostis recommends it!  But I am OK with being super-conservative for one
more release, I guess.

On Mon, Apr 21, 2014 at 8:36 AM, Jon Meredith notifications@github.comwrote:

[2014-04-21 16:25] jaredmorrow commented on #391
I don't have a strong opinion on this one, though I wonder if the things mentioned in your first comment have been addressed?

[2014-04-21 16:31] evanmcc commented on #391
my testing suggest that it's better for leveldb in most if not all
situations.  Haven't done much on #1.  Maybe I'll just commit the change
for develop right after 2.0 so we have the whole cycle to notice/work on
potential regressions.

On Mon, Apr 21, 2014 at 9:25 AM, Jared Morrow notifications@github.comwrote:

[2014-04-21 16:42] jonmeredith commented on #391
l vote for after 2.0. I'll reset this milestone to 2.1

[2014-04-23 10:15] sumerman commented on #534
@jaredmorrow Please, allow others to compile riak & riak_core with r17 without fixing all the `rebar.config`s?

[2014-04-24 16:40] pavelsmolka opened #537 "Cannot reset n_val, r_val, w_val"
I have accidentaly set r_val and w_val of one of my buckets to -1, which was translated as max int

[code]

If I try to reset n_val, r_val or w_val, I get the following error:

[code]

Is this a bug in Riak? Is there any way to either reset the n_val, r_val and w_val of the bucket or at least get rid of the bucket? Even if I delete all keys from the bucket, Riak "remembers" the bucket settings and

[2014-04-24 16:42] russelldb commented on #537
What version of Riak, please?

[2014-04-24 16:46] russelldb commented on #537
I ask because I'm pretty sure there is validation against negative bucket props in riak from 1.4 onwards (though I need to double check now.)

[2014-04-24 16:47] russelldb commented on #537
Dammit, I checked, 2.0 has full bucket property validation, 1.4 only validates booleans :(

[2014-04-24 16:50] pavelsmolka commented on #537
Yes, I use Riak 1.4.8:

[code]

[2014-04-24 16:53] seancribbs commented on #537
Also, the properties are not `w_val` and `r_val`, but `w` and `r` respectively.

[2014-04-24 16:54] russelldb commented on #537
Sean is of course correct, and 2.0 does indeed disallow negative r,w,n values. Going to close this out.

[2014-04-24 16:54] #537 closed, assigned to nobody

[2014-04-24 17:00] russelldb commented on #537
Actually I was too hasty. Please see https://github.com/basho/riak_kv/issues/927 which I've opened because of this report. The bug here is that custom bucket properties (in your case `r_val`, `w_val`) are not settable via HTTP. I have to ask though: how did you initially create them?

[2014-04-24 17:08] pavelsmolka commented on #537
Thanks a lot, that was simpler than I expected. What confused me is "n_val" in the example below, but "r" and "w" without val (not in the example):
http://docs.basho.com/riak/latest/dev/references/http/set-bucket-props/#Example

If I do this, it works:

[code]

[2014-04-25 08:39] prepor opened #538 "Datatypes, i2 and Search"
Hello!

Does Datatypes support by i2 and Search? I can't find answer in docs and api but do not understand this restriction in low level.
For search it's just new extractor, isn't it? And for i2 it's just API problem, isn't it?

Thanks

[2014-04-25 08:53] russelldb commented on #538
Hi Prepor,
Please use our excellent mailing list for questions like this, issues are for issues.

http://lists.basho.com/mailman/listinfo/riak-users_lists.basho.com Is this best place to discuss this sort of thing. I'm happy to elaborate there. Short answer is no to 2i (and it is more than an API thing, or we'd have done it) and yes to riak-search 2.0, it was just an extractor.

I'm going to close

[2014-04-25 08:53] #538 closed, assigned to nobody

[2014-05-05 12:24] jameshfisher opened #539 "Installation instructions for Ubuntu 14.04 are broken [JIRA: RIAK-2542]"
Following [the installation instructions here](http://docs.basho.com/riak/latest/ops/building/installing/debian-ubuntu/) fail when installing on Ubuntu 14.04.

To reproduce, use the `ubuntu/trusty64` image on Vagrant.

Here's my provisioning script:

[code]

To be explicit about it, here's what's happening:

[code]

The important lines being:

[code]

The 403 error looks real:

[code]

The corresp

[2014-05-05 12:42] jaredmorrow commented on #539
Ubuntu 14.04 was not supported by Riak until 2.0, so there will be no
packages in the apt repo until 2.0 is at final release.  For now you can
install the beta using the deb and dpkg -i.

On Monday, May 5, 2014, James Harrison Fisher notifications@github.com
wrote:

[2014-05-05 13:00] jameshfisher commented on #539
Okay, thanks. I'll leave it to you to decide on closing the ticket.

[2014-05-08 21:00] matthewvon commented on #496
Is this issue resolved?

[2014-05-08 21:02] jaredmorrow commented on #496
Yes, if you build with the GCC flags then the world is happy, if you try to build with clang, the world is sad.  I'm set on FreeBSD10, but if you want people to be able to build leveldb out of the box on FreeBSD with the default compiler, then no there is still an issue.

[2014-05-08 21:11] #496 closed, assigned to nobody

[2014-05-09 01:30] jj1bdx commented on #496
I hope clang issue will be solved on the next Riak release after 2.0.

[2014-05-13 20:15] lordnull commented on #470
Issue exists, but is a display issue, not a code error. For each user in a source, one source row is added; even is the user added is 'all'. The user lists is combined for display. Then, if a source has 'all' in the user list, an additional row is added to the display. Because the source in the example has no users explicitly added, the row before the 'all' row has an empty list of users.

Possibl

[2014-05-14 06:26] cipy opened #542 "init script hangs while executing stop [JIRA: RIAK-2328]"
The execution of the below code/snippet from `/etc/init.d/riak` should be time bound

[code]

[2014-05-20 13:29] soyayaos opened #544 "https vs http api"
2.0.0beta1

Demo cluster. Queries via HAProxy. When i added ssl, bucket type and test user r/w operations (curl) become slower 20-50 times.

security enable:

root@deb764:/# time curl -k -u 'user1:123' -XGET https://10.20.50.50:20009/types/test_type/buckets/test_bucket/keys/2a45e29f
[{"dates":{"insert":1400588397.246,"update":0},"id":155.........
real    0m0.411s
user    0m0.024s
sys 0m0.008s

sec

[2014-05-20 20:58] 3goats opened #545 "Riak Search 2"
Hi, I've been following the search 2 tutorial using Solr and I'm a liitle confused. If I run the following query using curl as per the example:

[code]

However, If I run the same query within Solr's web console e.g. `name_s:Lion*` I get this response:

[code]

Is this expected ?

[2014-05-20 21:03] rzezeski commented on #545
You will not get correct results from Solr's HTTP port or its web console.  Yokozuna handles the distributed bits and you need to query via Yokozuna in order for the appropriate distributed query to be run.  All use of Solr's HTTP port should be avoided.

[2014-05-20 21:04] #545 closed, assigned to nobody

[2014-05-21 02:23] 3goats commented on #545
Thanks this makes sense now. Might be worth highlighting this useful info in the docs.

[2014-05-21 14:36] reiddraper commented on #544
@portfelioorg keep in mind too that this time includes the SSL handshake, which can be quite time-consuming and expensive. Do you have any results/tests that show multiple requests with a keep-alive socket?

[2014-05-22 09:57] runesl opened #546 "riak-debug is broken in Solaris"
`bin/riak-debug_: syntax error at line 179:`(' unexpected`

Fix:
Line 1: Change `#!/bin/sh` to `#!/bin/bash`
Line 592+594: Remove `z` parameter from tar command.
- Add gzipping of tar file later.

[2014-05-22 13:43] mogadanez opened #547 "Riak search index being corrupted sometimes. [JIRA: RIAK-2110]"
I'm indexing  data with Solr interface
http://docs.basho.com/riak/latest/dev/references/search-indexing/#Indexing-using-the-Solr-Interface

Sometimes it is becomes to wrongs state(  i believe under some load, simultaneous write ) - numFound returns more  count than data, for example:
http://db.proofme.com:8098/solr/test-index/select?q=field1:value1 returns

[code]

It have  numFound="2"  but only

[2014-05-22 21:24] mogadanez commented on #547
Looks like actually remove index leave item in that state

Sequence ( probably have more steps that need for reproduce ), operations not overlap, doing one by one.

23:38:59.925 - Add index

[code]

23:38:59.942 - Got response

23:39:00.866 - Add index ( same data inserted over )

[code]

23:39:00.866 - Got response

23:39:01.514 - Remove index

[code]

23:39:01.529 - Got response

23:39:01.547 -

[2014-05-22 21:40] mogadanez commented on #547
Reproduced also without index over with same Id( delete every time )
http://joxi.ru/Q25-UxjKTJAlTvTn20A

q=originalID:2196661f49c640378952200f8150734e&fl=id

[code]

q=originalID:2196661f49c640378952200f8150734e

[code]

[2014-05-23 12:40] mogadanez commented on #547
Since  Riak 2.0 will stop Solr update interfaces ( https://github.com/basho/riak_search/issues/141#issuecomment-35469036 )

I remake it for now to new paradigm

[code]

[2014-05-23 13:16] mogadanez commented on #547
Reopened, because it is not helps.

Now I use another bucket to store re-structured data.
bucket options:

[code]

So, instead post to solr index interface I  save and remove items from this bucket, and riak_search_kv_hook should handle it and maintain  search index.
But  problem still here. With riak search i get count  more data that exists in bucket

[2014-05-23 16:48] rzezeski commented on #547
Are you trying to use the new search in Riak 2.0 now?  If so the `riak_search_kv_hook` has nothing to do with new search.

[2014-05-23 16:52] mogadanez commented on #547
No, I'm still in 1.4.8 in production. Does 2.0 is ready to use in
production?

пятница, 23 мая 2014 г. пользователь Ryan Zezeski написал:

[2014-05-23 17:12] rzezeski commented on #547
2.0 is still under development.  There is a beta version available and we are pushing hard to get final out but is probably another month or so away.  But all efforts have been focused on the new search for some time now as it is replacing legacy search in 2.0.

That said, you shouldn't be having the issues you are.  Can you share the exact steps you did for the bucket-based indexing (you should d

[2014-05-23 18:29] macintux commented on #517
@evanmcc What are next steps here?

[2014-05-23 18:40] macintux commented on #528
Stealing from @jaredmorrow, tackling this right now.

[2014-05-23 19:01] #539 closed, assigned to nobody

[2014-05-23 20:04] macintux commented on #470
Touching this; I've had it on my list for a very long time to fix this, so hope to take a look soon.

[2014-05-23 20:56] macintux commented on #528
Fixed via linked PRs, closing.

[2014-05-23 20:56] #528 closed, assigned to macintux

[2014-05-23 23:44] seancribbs commented on #483
This seems stale. We've already addressed the latency issue via smaller contexts and t2b compression, and there are existing issues/tasks for benchmarking. Closing.

[2014-05-23 23:44] #483 closed, assigned to nobody

[2014-05-24 11:09] 3goats opened #550 "Riak Search 2"
Ok, So I created my own custom Solr schema and added it to Riak using this:

`curl -XPUT "$RIAK_HOST/search/schema/custom" -H 'content-type:application/xml' --data-binary @../custom_schemas/default_schema.xml`

I can see it via this:
`curl -XGET "$RIAK_HOST/search/schema/custom"`

[code]

Then I created a new search index like this:

`curl -XPUT "$RIAK_HOST/search/index/ved" -H 'content-type:appli

[2014-05-24 18:18] itsavvy-ankur opened #551 "Building RIAK from Source crashes at rebar generate on open suse [JIRA: RIAK-2069]"
Having spent the entire day trying to build RIAK from source and resolving associated problems, I am running into problems potentially towards the final stages of the build during rebar generate phase.

The below error message does not help me identify the problem ( or fix it). Hoping for some assistance :
Error : Message :
./rebar generate
==> rel (generate)
ERROR: Unexpected error: {'EXIT',{{bad

[2014-05-25 12:03] 3goats commented on #550
OK - So I sorted this problem. I had a duplicate field within my custom schema. This was visible in the Solr Web UI. Are there any plans to validate the schema at this stage?

`curl -XPUT "$RIAK_HOST/search/index/ved" -H 'content-type:application/json' -d '{"schema":"custom"}`

or is there a command to check the status for the Solr core that gets created via the above command. Since #545 ("All use

[2014-05-25 16:48] jaredmorrow commented on #551
If you are trying to build develop, right now we are shipping a R16 with patches from R17 included.  You can build erlang from the following tarball http://s3.amazonaws.com/downloads.basho.com/erlang/otp_src_R16B02-basho5.tar.gz
 as you normally would.

Every one of the patches have already been accepted by the OTP team.  So there will be forward compatibility when we move to R17 in the future.

S

[2014-05-25 16:48] #551 closed, assigned to nobody

[2014-05-26 07:47] nishannorunobi commented on #475
same problem here when i use "sudo apt-get update"

[2014-05-26 14:02] mogadanez commented on #547
Reproduce:
https://github.com/mogadanez/riak-search-index-test

It fails not every time, sometimes at first attempt, sometimes from 20th.
It fails only on cluster setup( 5 nodes with haproxy in front, AWS, c3.large, Debian, Riak 1.4.8 )

UPDATE:
~~Cannot reproduce on  5 nodes c3.xlarge cluster with **EBS optimized** , so i belive some micro-racing conditions appears.~~
UPDATE2:
It still reproduced

[2014-05-26 21:51] macintux commented on #470
Trivial patch forthcoming

[2014-05-26 22:14] macintux commented on #470
PR submitted, also submitted docs issue basho/basho_docs#1111

[2014-05-27 04:24] evanmcc commented on #517
Yet another inconclusive discussion.  I am just going to close it and move the potential work over to bitcask.

[2014-05-27 04:24] #517 closed, assigned to nobody

[2014-05-27 18:10] rzezeski commented on #547
I haven't run the code but noticed you are using allow_mult:

https://github.com/mogadanez/riak-search-index-test/blob/master/app.js#L82

Riak Search in 1.4.8 does not support siblings.  The new search in 2.0 does.  If you keep `allow_mult` set to false then it should work but you will then rely on wall clock time for resolution.  I noticed you set `last_write_wins: true` but that doesn't do what

[2014-05-27 21:35] michellep-basho commented on #527
Hi Russell,

Do you have any updates on this?

thanks,
Michelle

[2014-05-27 22:05] russelldb commented on #527
nope

[2014-05-28 08:41] mogadanez commented on #547
I able to reproduce it  with allow_mult: false and last_write_wins: false
Also, simplest reproduce sequence is Save, Remove, without any siblings or concurrent writes.

I add test with allow_mult: false ( in separate new bucket, so it never have  allow_mult: true  )

[2014-05-28 09:13] mogadanez commented on #547
I remove 2 nodes from cluster,  and it now harder to reproduce. sometimes 20000 retries will not reproduce issue.

And it completely stop reproduced when I back to single node setup( runs tests several hours )

[2014-05-29 05:14] slfritchie commented on #550
@rzezeski @coderoshi Any thoughts on a milestone assignment?

[2014-05-29 05:20] slfritchie commented on #546
Hi, Rune.  I understand the 2nd fix but not the first.  We try very hard to avoid Bash'isms in our shell script code and to use only Bourne shell-compatible syntax, so I do not understand the reason behind suggesting Bash.

[2014-05-29 16:32] rzezeski commented on #550
There is some validation performed but only so much can be done by Riak itself.  Solr provides no mechanism for validating a schema before creating an index.  It's a long discussion and not as straightforward as it seems.  In the future I'd like to see Riak have the ability to "prepare" or "test" an index before "committing" it.  This would allow you to more easily determine if a schema is broken

[2014-05-29 16:39] rzezeski commented on #550
Re-reading your original issue I decided to try `GET /search/index` with the failed index creation and sure enough it returns `dup` in the list even though it failed to create.

[code]

That is definitely confusing.  I'll create an issue.

[2014-05-29 16:45] rzezeski commented on #550
I'm closing this in favor of basho/yokozuna#395.

[2014-05-29 16:45] #550 closed, assigned to nobody

[2014-05-29 17:51] rzezeski commented on #547
@mogadanez I'm going to try running your test program today but did you check the logs on all your machines?  Deleting requires reading a special object that contains the postings list and then sending an update to each node to delete its relevant postings and finally deleting the special postings list object.  Perhaps the second step is failing to send the deletes but the third step is still proc

[2014-05-29 21:01] macintux commented on #470
Closing, PR is being merged

[2014-05-29 21:01] #470 closed, assigned to lordnull

[2014-05-29 22:09] rzezeski commented on #547
@mogadanez I was not able to reproduce with your program.  However,
looking more closely at your comments I noticed the issue you see is
that `numFound` does not equal the length of the `docs` section
**UNLESS** you set `fl=id`.  This immediately made the issue obvious
to me, let me explain.

Riak Search (pre 2.0) uses a separate backend for the inverted index
(called merge_index).  This is where

[2014-05-30 15:34] #547 closed, assigned to nobody

[2014-06-02 07:41] runesl commented on #546
I get this error when running with sh instead of bash:
./riak-debug: syntax error at line 179: `(' unexpected

This seems to be the offending line:
`if [ 0 -eq $(( $get_cfgs + $get_logs + $get_riakcmds + $get_syscmds + $get_extracmds )) ]; then`

I'm no shell script guru, so I'll leave the fix to you.

[2014-06-02 08:06] russelldb commented on #527
@oleksiyk can you let me know what OS you are using, please?

[2014-06-02 08:21] russelldb commented on #527
@oleksiyk I'm not seeing this on OS X. I'm running the latest beta. Would you mind trying the current beta, and reporting back, please?

[2014-06-02 09:03] oleksiyk commented on #527
@russelldb OS is Ubuntu 14.04
I'm running riak_2.0.0beta1-1
`stat_cache_ttl` is set to 1 second
CPU load by beam SMP is 4-7% (idle). I think that's totally acceptable.

[2014-06-02 09:04] russelldb commented on #527
@oleksiyk so I can close this issue?

[2014-06-02 09:08] oleksiyk commented on #527
Well I haven't noticed any slow down when putting real load on Riak so probably you can close this issue.

[2014-06-02 09:08] russelldb commented on #527
Thank you

[2014-06-02 09:08] #527 closed, assigned to russelldb

[2014-06-09 21:56] jcapricebasho opened #554 "riak-admin reip not working in riak-2.0.0beta6"
Reip, when run with the node down, is throwing the below error:

[code]

riak_kv_console:reip/1 attempts to load riak_core here: https://github.com/basho/riak_kv/blob/develop/src/riak_kv_console.erl#L219

[2014-06-10 10:09] superstructor commented on #487
Do you have an ETA on the fix being rolled into another beta ? This is still an issue with the latest beta1  Ubuntu package on the Basho downloads page. Thanks.

[2014-06-10 13:23] seancribbs commented on #487
@superstructor We'll be making the release candidate publicly available as soon as it's ready.

[2014-06-10 16:41] jaredmorrow commented on #546
We will not change any of our scripts to `/bin/bash` that we ship with the product because that adds an unnecessary dependency on installing bash on those platforms that do not ship with it by default.  These include Solaris, FreeBSD, OpenBSD, and SmartOS.

We will fix the issue with the actual line as there should be no bashisms in the script.

[2014-06-10 17:57] jaredmorrow commented on #546
The following is the issue I get on `riak-debug`:

[code]

This use of `read` as a separator should be replaced with two calls to `cut -d' '` so continue to work on in `sh`

[2014-06-10 21:10] jaredmorrow opened #555 "`riak-debug` uses awk and sed options that are specific to GNU sed and awk"
On Solaris 10, `riak-debug` gets through the run, but has trouble with some of the commands.  In particular, `riak-debug` uses GNU extensions of sed and awk that aren't supported.  Here is the example of it failing:

[code]

[2014-06-10 21:31] #546 closed, assigned to nobody

[2014-06-11 01:56] superstructor opened #557 "riak-admin bucket-type status <name> always returns non-zero exit code"
`riak-admin bucket-type status default` (or any other bucket type name) always returns a `1` as the exit code despite appearing to complete successfully. This makes scripting of `riak-admin` commands and detecting genuine errors troublesome. I am on Mac OS X 10.9.3 using the official Basho 2.0.0-beta1 package for OS X.

[2014-06-11 02:39] jrwest commented on #557
This is a duplicate of https://github.com/basho/riak_kv/issues/930. The changes in the associated pull request will be included in the next beta or release candidate release. thanks!

[2014-06-11 02:39] #557 closed, assigned to nobody

[2014-06-12 22:53] lukebakken commented on #522
`riak-debug` should list the contents of the `basho-patches` directory

[2014-06-13 15:42] reiddraper commented on #522
+1, these are great

[2014-06-13 18:36] #554 closed, assigned to nobody

[2014-06-16 16:58] michellep-basho commented on #432
Yes, this has come up again recently with 2 other customers and 1 open source user. It doesn't necessarily have to be through riak-admin, but more visibility is needed. thanks

[2014-06-16 17:00] binarytemple commented on #432
+1 It would be very useful to identify specific MR jobs. I see instances where one person is running a bunch of MR without informing their teammates.

[2014-06-16 17:09] michellep-basho commented on #432
Same goes for the list key operations.

[2014-06-16 22:21] jtuple opened #559 "Gracefully handle mixed consensus configuration"
Currently, when not all nodes in a cluster have consensus (`strong_consistency = on`) configured, nodes with consensus enabled (particularly the claimant as well as the root leader) have various processes crash trying to send messages (eg. `gen_server:call`) to processes that aren't running on the remote nodes (eg. `riak_ensemble_manager`).

Test this scenario in more detail and make things not cr

[2014-06-17 23:37] Vagabond opened #560 "'make package' should use the 'locked deps' if available"
If you look in the Makefile:

https://github.com/basho/riak/blob/develop/Makefile#L227

you see that 'make package' will always use 'make deps' when building a package, this isn't really what you want when you are trying to build an alpha or beta tag because many of those deps are floating and a lock-deps file is available.

The makefile should check if a lock deps file is present and call 'make l

[2014-06-17 23:44] jaredmorrow commented on #560
So the only problem with this is there will always be a lock-deps file.  So even if we don't make a new one and commit it, it will manage to find one.  Maybe we can solve it with just passing in a flag like concrete does it.

[2014-06-17 23:58] Vagabond commented on #560
There is not always a lock-deps file, 1.4 branch does not have one:

https://github.com/basho/riak/tree/1.4

[2014-06-18 00:11] jaredmorrow commented on #560
Okay, yes, going forward there will always be one in the repo.  But maybe
that makes sense to always build packages from the last lock-deps.

On Tuesday, June 17, 2014, Andrew Thompson notifications@github.com wrote:

[2014-06-18 00:14] Vagabond commented on #560
Or maybe have 'make snapshot'

[2014-06-18 15:31] reiddraper commented on #560
@jaredmorrow any thoughts on a milestone for this issue?

[2014-06-18 19:02] jaredmorrow commented on #560
I put 2.0.1 because it is something reasonable to think about and do to make it easier for people.

[2014-06-19 21:11] jburwell opened #561 "Riak fails to start on Ubuntu/Debian"
Upon installing the Riak 2.0.0beta7 packages on Debian 7 and Ubuntu 12.04.4, Riak fails to start due to the following error:

[code]

Adding -x to the shell directive of the /usr/sbin/riak script revealed the following error while attempting to start riak:

[code]

Following the failed start, the permissions of the files in /var/lib/riak are as follows:

[code]

It appears that Erlang process is b

[2014-06-19 21:26] jburwell commented on #561
Debugging/investigation revealed that the [Ubuntu/Debian init.d script](https://github.com/basho/node_package/blob/develop/priv/templates/deb/init.script#L91) performs a ping before starting Riak.  In contrast, the [Red Hat init.d script](https://github.com/basho/node_package/blob/develop/priv/templates/rpm/rhel.init.script#L114) does not perform a ping on start.  The [runner:ping function](https:

[2014-06-19 21:36] jaredmorrow commented on #561
Honestly the easy solution is just removing that ping before `riak start`.  We don't want to add the `bootstrapd` function call to ping then you wouldn't be able to ping from a non-root or non-riak user.

[2014-06-19 21:37] jaredmorrow commented on #561
@hectcastro I think removing that ping and just trying a start if it is already started is a reasonable method if we just plan to catch it.  Thoughts?

[2014-06-19 21:47] jaredmorrow commented on #561
See https://github.com/basho/node_package/pull/145

[2014-06-19 22:05] jburwell commented on #561
@jared I like the removal of the ping approach least invasive for 2.0 and consistent with the Red Hat behavior.

I think it would be prudent to add a `env.sh:invoke_erl` function post-2.0 to properly drop permissions/manage execution across all of the scripts. If you agree, I will create a ticket for such a refactoring.

Finally, we also need to stop swallowing stderr/stdout output and redirect to

[2014-06-20 02:48] jburwell commented on #561
@jaredmorrow @hectcastro The solution we are considering will fix riak start on Ubuntu/Debian systems, but it doesn't protect against a misplaced ping wedging the permissions on the .erlang.cookie file.  Deleting the /var/lib/riak/.erlang.cookie file when the ping fails prevents the permissions from getting wedged while maintaining the non-root users to ping.  My thought is to add the following to

[2014-06-21 16:19] quantumpotato commented on #319
Where do I look up what to change it to?

[2014-06-23 15:56] jburwell commented on #561
I think the [PR](https://github.com/basho/node_package/pull/145/files) submitted by @hectcastro to address this issue is better overall approach than the delete method I proposed above.  My suggestion  creates the potential of race condition if/when root is pinging a node while operations as the riak user need to be performed.  While the window for this race is very small, @hectcastro's PR avoids

[2014-06-23 19:26] glickbot opened #563 "Env variables (i.e. WAIT_FOR_ERLANG) do not persist during startup."
Reproduce:
On Ubuntu (12.04), save 'export WAIT_FOR_ERLANG=60' in /etc/default/riak, run 'service riak start' which takes longer than 15 seconds. Notice it still only waits 15 seconds, not 60.

Variables set in /etc/default/riak don't persist if /usr/sbin/riak has to change the user riak is run as.

https://github.com/basho/node_package/blob/develop/priv/base/env.sh#L234

'su -' doesn't preserve e

[2014-06-23 20:14] jaredmorrow commented on #563
This leaves us in a bit of a pickle, using 'service' strips all env, and Solaris doesn't support `su -m`.  We might be too deep to fix this for RC.  I'll try to think of the least risky fix for this, since at this point we can't just punt on Solaris.

[2014-06-23 20:37] jaredmorrow commented on #563
That's what I was initially thinking.  We source it from the init.d script,
but clearly that is no longer effective.

On Mon, Jun 23, 2014 at 2:17 PM, Jon Glick notifications@github.com wrote:

[2014-06-25 05:07] jburwell opened #564 "Automated Network Partition Testing"
Automate the process of installing and configuration Riak 2.0 for testing under [Jepsen](https://github.com/aphyr/jepsen).  Ideally, the automation should deployment under Vagrant for laptop testing and to a dedicated server running a set of LXC containers for dedicated integration/functional test environments.

When completed, the following Riak 2.0 configurations should be tested:
- KV without s

[2014-06-25 05:09] jburwell commented on #564
Initial implementation will use the [Jepsen old branch](https://github.com/aphyr/jepsen/tree/old) because the Riak driver has not been ported to the new branch.  Once I have verified operation, I will port the driver to the 2.0 branch.

[2014-06-25 16:46] aphyr commented on #564
Definitely use the Jepsen new branch; it'll make your life waaaay easier as far as setting up the DB goes. There's a riak installer in there already IIRC.

[2014-06-25 20:58] darkchanter opened #565 "erlang check too strong"
Hi
I think you should check for an Erlang version >= x rather than = x.

In other words: I tried to 'make' Riak 1.4.9 on an Erlang version that is obviously too new:

ERROR: OTP release R16B01 does not match required regex R14B0[234]|R15
ERROR: compile failed while processing /home/roger/riak_src/riak-1.4.9/deps/node

Is there any way to supress this verification?

[2014-06-25 21:48] darkchanter commented on #565
sorry I'm new to Github. Can't find the information of the merged bug or version tag to download. Where do I start?

[2014-06-25 22:08] seancribbs commented on #565
We do not support Erlang/OTP R16 on the 1.4.x version of Riak. It's better to use a [packaged version](http://docs.basho.com/riak/latest/downloads/) of Riak for deployment or your local testing.

[2014-06-25 22:12] #565 closed, assigned to nobody

[2014-06-25 22:19] darkchanter commented on #565
Actually I got my version from that page. I picked the Source since openSuSE isn't available there. Looks like 2.0.0 pre15 compiles, but I couldn't start dev1 yet

[2014-06-26 14:13] binarytemple opened #566 "add_paths is missing from files/riak.schema"
https://github.com/basho/riak/blob/develop/rel/files/riak.schema

It may not be the correct place to put it, but it isn't anywhere else either.

@angrycub Mentioned that it might be better to use `-pa` or `-pz`

http://erlang.org/doc/man/erl.html

[code]

Adds the specified directories to the beginning of the code path, similar to code:add_pathsa/1. See code(3).

As an alternative to -pa, if sever

[2014-06-26 19:11] jburwell commented on #561
@hectcastro's [PR](https://github.com/basho/node_package/pull/145) needs to be closed since @jaredmorrow's [PR](https://github.com/basho/node_package/issues/146) has been selected to address this defect.

[2014-06-26 19:45] jaredmorrow commented on #561
Fixed in https://github.com/basho/node_package/pull/146

[2014-06-26 19:45] #561 closed, assigned to jburwell

[2014-06-26 21:13] jburwell opened #567 "Riak Debian package missing logrotate dependency"
The Riak Debian package is missing the logrotate dependency per the following message:

[code]

[2014-06-26 21:16] jburwell commented on #567
Incorrect defect.  Closing.

[2014-06-26 21:16] #567 closed, assigned to nobody

[2014-06-26 21:32] seancribbs commented on #566
https://github.com/basho/riak_kv/blob/develop/priv/riak_kv.schema#L276

[2014-06-27 20:00] binarytemple commented on #566
Until this gets added to a cuttlefish schema, the current way to `add_paths` is the following:

[2014-07-07 03:09] dcy opened #569 "ubuntu14.04 R17 riak2 does not work?"
Eshell V6.1  (abort with ^G)
1> {ok, Pid} = riakc_pb_socket:start_link("127.0.0.1", 8087).
{ok,<0.35.0>}
2> riakc_pb_socket:ping(Pid).

=ERROR REPORT==== 7-Jul-2014::11:05:44 ===
*\* Generic server <0.35.0> terminating
*\* Last message in was {req,rpbpingreq,60000}
*\* When Server state == {state,"127.0.0.1",8087,false,false,#Port<0.826>,
                               false,gen_tcp,undefined,

[2014-07-07 03:11] dcy commented on #569
I was wrong, sorry!

[2014-07-07 03:11] #569 closed, assigned to nobody

[2014-07-09 18:42] jonmeredith commented on #563
@jaredmorrow were there any fixes outside basho/node_package#146 needed to close this?

[2014-07-09 20:55] jaredmorrow commented on #563
Something needs to still happen, I just needed to come back to it.  I'll take a look again at it tomorrow.

[2014-07-09 21:41] alexmoore opened #570 "Shutdown more cleanly when canceling a cluster plan."
If you add a new node, and then cancel the cluster plan, the new node does not shut down cleanly.
## Steps to reproduce:
1. Add a new node to an existing cluster `riak-admin cluster add riak@existing-node`
2. View cluster plan `riak-admin cluster plan`
3. Cancel the cluster plan `riak-admin cluster clear`
4. New node will have shutdown, but with a crash.log file generated:

[code]

[2014-07-09 22:02] jonmeredith commented on #570
Assigned to 2.0.1 as a placeholder, will be triaged into 2.0.x series at later date.

[2014-07-10 19:08] jonmeredith commented on #559
Is merging #609 sufficient to close this?

[2014-07-10 19:12] engelsanchez commented on #559
Yes. We tested mixed configurations and the crash on manager down was the one issue found. Let @jtuple or @andrewjstone re-open if any undocumented issued was found.

[2014-07-10 19:12] #559 closed, assigned to nobody

[2014-07-11 00:01] andrewjstone commented on #559
Yep, that's all I know of. Valid close :)

[2014-07-11 22:19] jaredmorrow commented on #563
Will close issue when it is confirmed fixed in the RC packages.

[2014-07-12 04:46] jtuple commented on #536
All 2.0 RC takes complete. Moving to 2.0.1 to track items that were punted

[2014-07-14 13:55] #563 closed, assigned to jaredmorrow

[2014-07-25 09:50] jonasrichard opened #574 "dmesg should contain timestamps in riak-debug"
In `riak-debug` when dmesg is called it should call dmesg with `-T` or something which dumps dmesg logs with human readable timestamps. Now it is called with just `dmesg`.

There are kernel setups when there is no timestamp at all, in that case the operators should enable timestamp during logging, we cannot do anything in that case.

[2014-07-27 20:07] binarytemple opened #577 "riak-admin silently accepts the command 'riak-admin cluster plan commit'"
It should throw an error if any extraneous text is at the end of the command.

[2014-07-27 20:07] #577 closed, assigned to nobody

[2014-07-28 02:04] jrwest opened #578 "missing riak_core modules on develop build"
trying to reproduce an issue on develop branch led to the following errors. need to investigate further but I don't have a moment right now so filing here for later.

[code]

[2014-07-28 15:03] jrwest commented on #578
with `make locked-deps` ran before `make devrel` the build works fine. @jaredmorrow any off-the-top-of-your-head ideas before I dig a bit more?

[2014-07-28 17:10] jaredmorrow commented on #578
Only thing I can think of is something getting left out of the toplevel reltool.config and modules aren't getting added to the rel as expected, but if core is doing the right thing, that shouldn't be a problem.

[2014-07-28 17:11] kellymclaughlin commented on #578
I have reproduced the problem and it can be attributed to the merging of https://github.com/basho/node_package/pull/155. There are several calls in `riak_core_console` that do not need to accept any input parameters, but accept just the empty list due to the exact limitation described in the `node_package` PR. I'll go through and convert all those console functions appropriately.

[2014-07-28 17:22] jaredmorrow commented on #578
FYI, so this won't affect 2.0 right now, since that node_package PR wasn't included.

[2014-07-28 17:23] jrwest commented on #578
agreed. on the `riak-2.0.0rc1` tag I have confirmed that everything builds fine.

[2014-07-28 17:59] kellymclaughlin commented on #578
After looking more into this and thinking about what it would take to make this work in mixed cluster scenarios up until the point where people are no longer upgrading to some future version from 2.0 (_i.e._ a few years down the road) I am not sure it is worth the effort. I think I will just open a PR to revert my `node_package` change and handle the no parameter rpc case for the specific scenrio

[2014-07-28 18:10] kellymclaughlin commented on #578
https://github.com/basho/node_package/pull/156

[2014-07-28 18:39] #578 closed, assigned to kellymclaughlin

[2014-08-05 10:45] barcoyou opened #581 "Crash 1 minute after starting [JIRA: RIAK-1642]"
The Erlang version is R17 and the Riak is git cloned from the github master branch

2014-08-05 14:11:21.123 [info] <0.7.0> Application riak_control started on node 'riak@127.0.0.1'
2014-08-05 14:11:21.123 [info] <0.7.0> Application erlydtl started on node 'riak@127.0.0.1'
2014-08-05 14:11:21.136 [info] <0.7.0> Application riak_auth_mods started on node 'riak@127.0.0.1'
2014-08-05 14:11:30.551 [err

[2014-08-05 16:03] jrwest commented on #581
we do not support building with R17 at this time -- the error seems very related to the erlang version. closing.

[2014-08-05 16:03] #581 closed, assigned to tburghart

[2014-08-10 03:24] fanchangyong opened #582 "riak can't build on OS X Erlang/OTP 17"
I clone the code in to my local machine,and type `make`,then the follow errors occur(I have ran this command previously,and the dependencies have been got):

[code]

And below is what my `erl` prints:

[code]

It seems like riak wasn't compatible with R17 now?

[2014-08-10 04:19] slfritchie commented on #582
No, sorry, please use R16.

[2014-08-10 04:19] #582 closed, assigned to nobody

[2014-08-10 14:10] fanchangyong commented on #582
OK,thank you.
But I want to know when will riak support R17?

[2014-08-10 14:32] slfritchie commented on #582
Please see https://github.com/basho/riak/issues/534, there is no schedule for this work inside of Basho.

[2014-08-10 15:35] fanchangyong commented on #582
I see ,thank you.

[2014-08-11 13:38] ashwinak08 opened #583 "Riak Upgrade ISSUE"
![image](https://cloud.githubusercontent.com/assets/8417087/3876490/84a3adda-215c-11e4-992a-046d20fe347a.png)

after upgrading riak to 2.0 below is the error i am seeing any help please

[2014-08-11 21:30] normaclyde opened #584 "Ability to prevent sensitive object content from getting written to logs"
<b>Description:</b> Under certain conditions log files (e.g. crash.log) will pull in the contents of unencrypted or uncompressed objects. This is a problem for customers that store sensitive data especially if the log files need to be shared for troubleshooting purposes.  These customers would like to have the option of excluding this data from the logs.

<b>Drivers:</b> data sensitivity

<b>Reque

[2014-08-11 21:31] #584 closed, assigned to nobody

[2014-08-11 21:33] michellep-basho opened #585 "Ability to prevent sensitive object content from getting written to logs [JIRA: RIAK-1916]"
Sorry for the redundancy, switching github accts :)

<b>Description:</b> Under certain conditions log files (e.g. crash.log) will pull in the contents of unencrypted or uncompressed objects. This is a problem for customers that store sensitive data especially if the log files need to be shared for troubleshooting purposes.  These customers would like to have the option of excluding this data from

[2014-08-11 22:06] jonmeredith commented on #585
`erlang:process_flag(sensitive, true)` will help with the crash.log, at the price of not being able to debug problems. Controlling that being set may be an option. Logging in general is tougher and requires a full audit.

Perhaps providing the notion of never-user-data, permit-keys, all-data or something like that as a configuration setting for either Riak or lager, and adding some extended modifi

[2014-08-11 22:59] binarytemple commented on #585
@cipy didn't you have a suggestion in the chat room, about controlling the size of the dumps?

@jonmeredith would it require a patch to set erlang:process_flag(sensitive, true) before riak_core started up?

[2014-08-11 23:12] jonmeredith commented on #585
@binarytemple nope, sensitive processes would need to check on startup - could potentially do it as a bucket type property.

[2014-08-11 23:12] jonmeredith commented on #585
... for extra clarity.

The process itself needs to set it once it is created.

[2014-08-13 02:30] jrwest commented on #583
@ashwinak08 the [riak mailing list](http://lists.basho.com/mailman/listinfo/riak-users_lists.basho.com) is a better place for your inquiry. There you can also attach the files in Riak's log directory, which will aid in debugging. You may want to try addressing the file limit (ulimit) warning and see if that resolves your issue first.

I'm going to close this issue. Please email the mailing list if

[2014-08-13 02:30] #583 closed, assigned to nobody

[2014-08-18 16:43] lukebakken opened #587 "Client error on Riak restart"
Customer ticket 8488

Theorized scenario:

Riak had been restarted. During start-up, the client made a request to Riak prior to the `riak_kv` application being available, resulting in this error. If possible, this scenario should have a well-known error code that API clients can use.

[2014-08-28 04:14] pma opened #590 "error parsing riak.conf with multi_backend and bitcask.expiry set"
Adding the following to riak.conf will cause an error:

multi_backend.bitcask_expiry_1d.bitcask.io_mode = erlang
multi_backend.bitcask_expiry_1d.bitcask.data_root = $(platform_data_dir)/bitcask_expiry_1d
multi_backend.bitcask_expiry_1d.bitcask.expiry = 1d
multi_backend.bitcask_expiry_1d.bitcask.expiry.grace_time = 1

The problematic line is the one adding expiry. If commented 'riak config generate

[2014-08-28 15:42] seancribbs commented on #590
Our bitcask experts tell me that `bitcask.expiry.grace_time` is only settable globally. What happens if you just comment the final line?

[2014-08-28 22:00] pma commented on #590
Commenting the grace_time line produces the same error:

[code]

$ riak config generate -l debug

...
21:55:37.008 [error] Error generating configuration in phase apply_translations
21:55:37.008 [error] Error running translation for riak_kv.multi_backend, [error, badarg].

[2014-08-29 13:54] seancribbs commented on #590
@pma Sorry about this bug. I will be writing a test and the fix should land by 2.0.1. In the meantime, you can configure multi_backend in `advanced.config`.

[2014-09-02 15:33] michellep-basho opened #593 "Update "Note on upgrading Riak from Older Versions" to reflect 2.0"
You probably have this on your list, but the verbiage in <i>Note on upgrading Riak from Older Versions</i> on the [upgrade page](http://docs.basho.com/riak/2.0.0/ops/upgrading/rolling-upgrades/) reflects upgrading to 1.4.  Please update for 2.0.  Per Eng the upgrade from 1.3. to 2.0 has been tested. thanks

[2014-09-02 15:33] #593 closed, assigned to nobody

[2014-09-02 22:04] pma opened #595 "Validate that the backend exists when setting the bucket type option 'backend'"
When creating a bucket type it's possible to set the backend option to one that does not exist.

Later any operation on that bucket type will just hang for a long time before failing, with no clear error. Perhaps its better to just fail, or at least warn, when the bucket type is being created. (tested with a put with the pb erlang client).

Noted: Detected this when I misstyped the backend name as

[2014-09-03 16:50] areski commented on #539
@jaredmorrow the final release is out for some time but the problem still remain, as 14.04 is the next LTS it might be good to find a solution:
http://docs.basho.com/riak/latest/ops/building/installing/debian-ubuntu/

[2014-09-03 17:31] jaredmorrow commented on #539
The download for 14.04 is on the downloads page http://docs.basho.com/riak/latest/downloads/   Just download the file and use dpkg -i to install it as with the other versions.  The install docs just didn't get updated for the new version that's all.

[2014-09-13 20:18] see0 commented on #539
It seems like the official repository is not yet updated for Ubuntu 14.04 and CentOS 6. Should I just switch to installing from binaries distributed directly instead of using official repositories?

[2014-09-14 03:15] jaredmorrow commented on #539
@see0 sorry, there is a PR out right now to update the docs.  We moved from our own apt/yum repos to use packagecloud.io: https://packagecloud.io/basho/riak/

For ubuntu 14.04, you can look here: https://packagecloud.io/basho/riak/riak_2.0.0-1_amd64.deb?distro=trusty for the install script

Or you can use one of the automated scripts found here: https://packagecloud.io/basho/riak/install

Sorry fo

[2014-09-14 17:46] eminarcissus opened #597 "Is x-riak-meta-yz-tags still working?"
Hi,

I'm maintaining a third party pb driver for riak 2.0 on pre-release period, some of them were dramatically changed now.

Now I'm testing on on search part,seems like x-riak-meta-yz-tags is not working anymore?
I'm using a default schema provided from manual page

<?xml version="1.0" encoding="UTF-8" ?>
<schema name="schedule" version="1.5">
 <fields>

   <field name="_yz_id"   type="_yz_str"

[2014-09-15 15:45] eminarcissus commented on #597
Failed to create schema, fixed after using a correct schema

[2014-09-15 15:45] #597 closed, assigned to nobody

[2014-09-17 21:54] angrycub commented on #590
Of note, it's one of the settings that has a translation.  For more understanding, I created a similar setting that didn't use the translation and it worked as expected.  On further inspection looks to be related to the fact that it's a duration.

[2014-09-18 17:44] angrycub commented on #590
Intentionally broke that catch statement so that we could see the actual error.  Looks like the cascading unit requirement is causing sad.

in riak.conf

[code]

[code]

[2014-09-18 17:53] lukebakken opened #598 "segfault during Riak shutdown"
Ticket #8744 has complete details.

During the shutdown of three Riak 1.4.10 nodes the following segfaults were noted in `/var/log/messages`

[code]

[2014-09-19 18:17] taurusser commented on #551
issue still be there.
ubuntu 14.04 trusty
erlang : otp_src_R16B02-basho5
eleveldb : rolling tag 1.2.0

make rel
==> riak_ensemble (compile)
==> pbkdf2 (compile)
==> riak_core (compile)
==> riak_pipe (compile)
==> protobuffs (compile)
==> riak_pb (compile)
==> mochiweb (compile)
==> ibrowse (compile)
==> webmachine (compile)
==> riak_api (compile)
==> riak_dt (compile)
==> eunit_formatters (compile

[2014-09-19 23:12] shalako opened #599 "No response to `rel/bin/riak version`"
The documentation says this can be accomplished by running command-line tools.

http://docs.basho.com/riak/latest/ops/running/tools/riak/#version

[code]

On the machine, this returns a blank line.
After a good amount of googling, I found that riak-admin status returned a version for riak_kv_version.

![screen shot 2014-09-19 at 3 46 25 pm](https://cloud.githubusercontent.com/assets/156568/4343259

[2014-09-19 23:37] shalako commented on #599
Looks like `rel/bin/riak version` simply calls `echo $APP_VERSION` and rel/lib/env.sh is supposed to set `APP_VERSION=` but isn't.

![screen shot 2014-09-19 at 4 35 19 pm](https://cloud.githubusercontent.com/assets/156568/4343402/aaea049a-4055-11e4-9c21-d67242aa2038.png)

[2014-09-20 03:02] jaredmorrow commented on #599
If this was built from source, that setting doesn't get set.  This only gets set when packaged with 'make package'.

All builds from source will report an empty `riak version` string.

[2014-09-22 17:20] shalako commented on #599
Thank you, Jared. We are building from source. We'll look into whether `make package` is an option.

Could you please tell me how to discover the running version of riak, riak cs, and stanchion in this case? Seems like there ought to be a more direct way to query the version than relying on an environment variable.

[2014-09-22 18:03] shalako commented on #599
Also, even if `make package` is used, how could one environment variable `APP_VERSION` provide the version of both Riak and Riak CS? Latest compatible versions are Riak 1.4.10 and Riak CS 1.5.0. Even if APP_VERSION were set, it would be incorrect for one of these (Riak and Riak CS run on the same VMs).

[2014-09-22 18:49] jaredmorrow commented on #599
If you are doing `make package`, both Riak and RiakCS will get their own
copy of the VM and have their own libraries.  So they will not share the
same VM or runner scripts.

On Mon, Sep 22, 2014 at 12:04 PM, Shannon Coen notifications@github.com
wrote:

[2014-09-22 19:00] shalako commented on #599
Not sure I understand; will have to look into `make package` more. We expect Riak and Riak CS to run on the same VM. Doubling the number of VMs in a cluster seems unnecessary.

Regardless, could you please tell me how to discover the running version of Riak, Riak CS, and Stanchion when APP_VERSION is not set?

[2014-09-22 19:45] jaredmorrow commented on #599
All erlang apps built with reltool build an erlang 'rel' which includes a small copy of the VM for the app to run on.  Making a proper self-contained package for each will ensure you can have different versions of libraries for each app, as well as possibly different Erlang VM versions.  This is a very common thing to do in the Erlang world http://www.erlang.org/doc/design_principles/release_struc

[2014-09-22 19:45] jaredmorrow commented on #599
I'm closing this as this is part of the design and not at this time considered a bug.

[2014-09-22 19:45] #599 closed, assigned to nobody

[2014-09-22 20:31] shalako commented on #599
Thank you, Jared. However `riak-admin status` only works for riak. There doesn't appear to be a similar solution for Riak CS or Stanchion.

[2014-09-22 20:35] jaredmorrow commented on #599
Well when you build from source you can always just add the 'git describe --tags' version to the runner script as part of your build.

[2014-09-23 23:36] derzzle opened #600 "ChkConfig does not sense duplicate paths in <<multi>> config"
A (lethal) situation occurs if one accidentally uses the same data path for multiple backends. Yes, I know it's a user error. ChkConfig however, happily ignores it and when Riak starts up, it gets bogged in file lock waits, eventually terminating. Even a riak stop takes a while... a long while.

[2014-09-27 00:17] lgustafson opened #602 "Document support for foreground process managers"
PR #265 and issue #254 discuss changes to support process supervisors such as daemontools, runit, etc. that require processes to run in the foreground (not daemonize).  However, it still isn't clear to me what is necessary to integrate Riak with them.  It would be nice if the steps could be documented somewhere, if it's not already.

[2014-09-29 15:49] lukebakken opened #603 "Enabling webmachine access logging causes crash"
See issue basho/webmachine#183

Mailing list threads:
http://lists.basho.com/pipermail/riak-users_lists.basho.com/2014-September/015962.html
http://lists.basho.com/pipermail/riak-users_lists.basho.com/2014-September/015986.html

[2014-10-03 08:46] binarytemple opened #604 "riak-debug relative data directory path crash"
Running Riak from `make devrel`...

The storage has been configured with mult, and there is a leveldb datastore named `big_leveldb`.

The `big_leveldb` datastore has been configured to use `data/big_leveldb` and Riak is fine with this, loading data in and out to the associated bucket-type..

However riak-debug is not, it crashes with the following error:

[code]

The problem goes away when an abso

[2014-10-03 18:18] seancribbs commented on #590
@angrycub I think we've found the source of this. Thanks for the backtrace.

[2014-10-08 13:32] angrycub commented on #566
`-pa` and `-pz` can also be set in advanced.config like this:

[code]

This enables you to set Erlang VM flags for non-schema items, like -s, -pa, -pz, -scl

[2014-10-09 09:55] jonasrichard commented on #522
About the basho-patches it would be good to do a

[code]

for all files in the `lib/basho-pacthes` in order to see when it was compiled, what kind of export it has, etc. It would be good to see some kind of commit hash.

[2014-10-10 07:13] cipy opened #606 "riak-repl fullsync might stop on network errors"
If the tcp or ssl socket has an error or closes during a fullsync, the coordinator exits abnormally. This means a full sync would need to be completely restarted if there's just a network blip. Given that a full sync can take a very long time, it would be favorable to attempt to re-establish the connection instead while keeping as much state alive as possible.

tracked also as riak-repl #625

[2014-10-14 13:17] przemien opened #607 "DataTypes: Iterating sets/counters/registers inside a map. Cannot get a key"
Is there any way to get the set name when iterating a map.sets?
PYTHON CODE EXAMPLE:

[code]

[2014-10-14 13:55] seancribbs commented on #607
Iterating over `Mapping` objects yields keys, not values. Try this instead:

[code]

[2014-10-14 13:55] #607 closed, assigned to nobody

[2014-10-15 08:44] pigmej opened #608 "binary 2i ~broken on 1.4.4+ (~swapping/floating results) BUG [JIRA: RIAK-1604]"
Please consider this script:

[code]

1. It creates binary index on random new records.
2. Then it queries 200 times that index.
3. It compares previous and current `results`
4. If it differs it prints the difference

If everything would be working correctly, you should have one print per bucket (the very first one), but instead you will probably have something like:
[code]

on `test0_bin`, `test3

[2014-10-15 13:58] przemien commented on #607
Thank you for your answer Sean. But, I am observing other behaviour.
I got Map datatype that I am storing in RIAK. It's Map that contains few Maps that contain counters.
The expected output of such program would be:

[code]

But instead I am getting  exception: "TypeError: unhashable type: 'Map'".
Thanks for your help. Here are the sample codes:

[code]

[2014-10-16 08:59] przemien commented on #607
Ok. I got it working. It seems that there is an inconsistency between the RIAK library and description. Iterating over map.maps is not yielding keys but values. But, if you iterate over map itself you will get the key/type touple. Here are the working codes:

[code]

[2014-10-16 11:26] rsltrifork opened #610 "Don't include SSL private keys in riak-debug"
Currently, the output of the riak-debug command includes everything from riak's etc dir, which usually includes the private ssl-key key.pem.
ssl keys are seldom needed for debugging, and when they are, they can be manually retrieved then.
We can avoid spreading private keys unnecessarily by making sure that no `*.pem`-files are included in riak-debug output when it dumps the etc dir.
https://githu

[2014-10-16 14:34] seancribbs commented on #607
@przemien Ah yes, that was fixed early after release, but we have not issued a patch release of the client. My apologies.

[2014-10-16 15:24] przemien commented on #607
Ok, great. When the official patch can be expected?

[2014-10-17 15:50] bsparrow435 commented on #606
Doesnt really matter but this should be filed against https://github.com/basho/riak_ee-issues

[2014-10-17 17:27] macintux commented on #610
Thanks for raising the issue.

I'm not sure `.pem` is sufficient; there are other common certificate extensions to watch out for (http://blogs.msdn.com/b/kaushal/archive/2010/11/05/ssl-certificates.aspx via a quick search looks useful).

[2014-10-19 02:30] chapani commented on #512
Finally figured out the reason. It was /home/user/.erlang.cookie. After deleting it, riak started successfully. Hope it will help someone :)

[2014-10-22 10:35] cipy opened #611 "batch removal from CRDT/maps removes only one item"
The code to reproduce it:

[code]

[2014-10-22 11:32] russelldb commented on #611
is it only batch remove of maps in maps? Have you tried batch remove of keys from the top level map? Simplest case first helps.

Are there any errors in the riak logs?

[2014-10-22 11:45] zenlambda opened #612 "Installing riak 2.0.1-1 on Ubuntu 14.04 (Software Center) results in message 'The package is of bad quality'"
Installing riak 2.0.1-1 deb package on Ubuntu 14.04 (via Software Center) results  in message 'The package is of bad quality'. (The package was download from the riak website and auto-opened in Firefox).

![riak_error](https://cloud.githubusercontent.com/assets/2952592/4735452/b30de43a-59e0-11e4-91b6-136288e7c193.png)

Clicking 'ignore and install' seems to allow the installation to proceed withou

[2014-10-22 12:26] russelldb commented on #611
First checking `riak_dt_map` shows that the datastructure works as expected

[code]

And a quick trace shows that running your example only one `{remove, Field()}` tuple is in the operation list.

[2014-10-22 12:29] russelldb commented on #611
Yup. Tracing the parser:

[code]

Three removes enter, one remove leaves. It's like the thunderdrome all over again.

[2014-10-22 12:34] russelldb commented on #611
Luckily, it also fails in the simple case of a top-level map with multiple fields.

[2014-10-22 13:29] seancribbs commented on #611
This is an incorrect payload. The [correct way](https://github.com/basho/riak_kv/blob/develop/src/riak_kv_crdt_json.erl#L152-L155) is:

[code]

All of our official libraries create this correctly. It's also important to note that repeated keys of the same name in a JSON object has undefined semantics.

[2014-10-22 13:29] #611 closed, assigned to russelldb

[2014-10-22 14:56] lukebakken opened #613 "riak-debug on ZFS systems"
On systems with ZFS support, `riak-debug` should run these commands:

[code]

[2014-10-22 15:12] bsparrow435 commented on #613
+1

[2014-10-25 13:10] AndreasMadsen opened #615 "Bucket-type in MapReduce [JIRA: RIAK-1622]"
The MapReduce documentation indicated that Bucket Types are supported by MapReduce:

However there is no documentation for how to specific a bucket-type in a MapReduce query. If one create a malformed `inputs` parameter the following message is obtained.

[code]

Again, none of these contain any information about how to specify the bucket type. In an attempt to guess the format I try this:

[code]

[2014-10-28 18:39] davidx opened #616 "Installing Riak 2.0.1 on Debian 7.0"
Installing Riak 2.0.1 on Debian 7.0 results in unusable state of scripts and confusing error message.
Thanks!

root@ip-10-202-157-207:~# cat /etc/issue
Debian GNU/Linux 7.0 \n \l

root@ip-10-202-157-207:~# ls
riak_2.0.1-1_amd64.deb

root@ip-10-202-157-207:~# dpkg -i riak_2.0.1-1_amd64.deb
Selecting previously unselected package riak.
(Reading database ... 15994 files and directories currently inst

[2014-10-29 11:48] Quentin01 opened #617 "Can't achieve to have a perfect consistancy"
We use 4 differents physical servers, each hosting a Riak node (v1.4.10).
We're connecting using riak-js lib with Node.js.

Our buckets configuration is :

[code]

We want to store some serialized JSON data, with the ability to update documents (re-send the whole JSON) or get them. Our request will be randomly sent to each node (we will send some data on a node then get those data on another node

[2014-10-29 17:11] seancribbs commented on #617
Configuration of buckets is insufficient to get "perfect consistency" (which seems to mean "recency" in your case). What you want is [Strong Consistency](http://docs.basho.com/riak/latest/dev/advanced/strong-consistency/).

[2014-10-29 17:17] Quentin01 commented on #617
This link is for Riak 2.0, but we use Riak 1.X :(
Is there a similar option / configuration in Riak 1.X?

[2014-10-29 18:51] seancribbs commented on #617
No, this functionality is not in 1.x.

Your other option is to refetch if the expected value is not received, or turn on the "return body" option that replies to writes with the updated value. There is a probabilistic bound on the staleness of any item, so simply refetching the item may work. However, there is no guarantee that you will read your own writes and sessions are not sticky.

If you can

[2014-10-31 09:36] Quentin01 commented on #617
Thank you for your reply, I will use this informations.

[2014-10-31 09:36] #617 closed, assigned to nobody

[2014-11-03 18:38] pigmej opened #618 "Map Reduce with Search input not working (2.0+) [JIRA: RIAK-1605]"
Consider:
[code]

Run it like ```BUCKET=test11 RIAK_HOST=http://{host}:{port} bash riak.sh```.
1. It will create new search index with ```yz_default``` schema.
2. It will then add some data (from search documentation page in fact)
3. It will run normal Search query and it will return data then.
4. It will run the same input query as a input in map/reduce (also from documentation page), with `[1]`

[2014-11-04 10:55] pigmej commented on #618
I have also run this script on 5 node cluster on centos7 and the same happens. (all requests were made to the same riak node)

[2014-11-04 16:49] joecaswell commented on #608
The 2I results seem to be returning incorrectly when small numbers are used for max_results.  Testing this with curl https://gist.github.com/joecaswell/ed2d095a90cece5751fa, 7 seems to be the magic number for this instance where the results become stable.  Smaller result sets intermittently miss some terms.

[2014-11-04 18:02] pigmej commented on #608
So @joecaswell, I assume that the bug is confirmed ?

Thanks for poiting about _magic 7 number_. I can resolve some testing issues with client side fix for it.

[2014-11-04 22:34] oleksiyk opened #619 "riak config effective fails when using bucket types"
I'm unable to dump effective configuration while using a bucket type (fs_chunks):

[code]

[2014-11-05 11:15] russelldb commented on #608
I started looking into this a bit, and found that using these two scripts https://gist.github.com/russelldb/90db1a31a4aaeb30d6cb there is a non-deterministic result from at least 1.4.8 up (will try earlier versions too)

I think I'd rather look at fixing that first, and see if it isn't the cause of the above too.

[2014-11-05 11:34] pigmej commented on #608
As we talked, I can confirm that your script is doing similar thing, it's the same problem. 1.4.2 is fine.

[2014-11-05 11:42] russelldb commented on #608
Yeah, for the record, 1.4.2 does not show the issue from my scripts, but 1.4.4 does. I can't find a 1.4.3 release. So I'll start looking at commits next.

[2014-11-06 01:27] shino commented on #608
I'm digging the same symptom (but originated from riak_cs) with riak 1.4 branch.
Not yet find the root cause, just a interim memo.

With single node cluster with ring size 16.
Added the following print debug to `riak_core_coverage_fsm`:

[code]

Then, not always, the log reports duplicated key (`<<"1415092978_118">>` for this case)
 by executing a streaming 2i request:

[code]

This seems to break

[2014-11-06 07:20] russelldb commented on #608
I think we have it. Looks like an off by one somewhere between the fold and the FSM. I have a hack fix that passes my script test. Should have updated the issue last night, sorry.
On 6 Nov 2014 01:28, Shunichi Shinohara notifications@github.com wrote:I'm digging the same symptom (but originated from riak_cs) with riak 1.4 branch.
Not yet find the root cause, just a interim memo.

With single node

[2014-11-06 07:25] pigmej commented on #608
Russell, I can test your patch about 9am CET.

-----Original Message-----
From: Russell Brown notifications@github.com
Date: Wed, 05 Nov 2014 23:20:08
To: basho/riakriak@noreply.github.com
Reply-To: basho/riak reply@reply.github.com
Cc: Jędrzej Nowakpigmej@gmail.com
Subject: Re: [riak] binary 2i ~broken on 2.0.1 (~swapping/floating results)
 BUG (#608)

I think we have it. Looks like an off by one

[2014-11-06 08:28] shino commented on #608
Thank you for update. It may be same or may be not, please let me add
my memo of digging around.

My case:
- index is `$key`
- paginated 2i with max_results=2

It seems for me that the point is accumulator (buffer) treatment in
`stoppable_fold` of `riak_kv_eleveldb_backend` [1].  By calling
`Fun(...)`, the inside buffer (`riak_kv_fold_buffer`) is updated, but
the exeption (`throw(stop_fold)`) can

[2014-11-06 10:42] pigmej commented on #608
@russelldb a check that you gave to me (this is not a fix, just for testing):

[code]

solves this on 2.0.1.

@shino you can probably try to apply the same for 1.4.4+ series to confirm that it's the same problem.

**Above patch is NOT a fix**

[2014-11-11 15:34] bixu opened #620 "installing Riak 2.0+ via `pkg_add` breaks `pkgin full-update`"
See this issue filed here: https://github.com/joyent/pkgsrc/issues/224

According to Joyent, there may be an issue with the package provided by Basho currently (package metadata?)

It sounds like Joyent is pretty interested in providing a latest stable version of Riak via their own pkgsrc tooling, so maybe package creation can just be handed off to them, or we can figure out what's amiss in the cu

[2014-11-12 20:42] seancribbs commented on #616
This resolved by basho/node_package#170 and will be fixed in 2.0.3.

[2014-11-12 20:42] #616 closed, assigned to nobody

[2014-11-17 15:58] pigmej opened #622 "broken 2i with big negative integer values [JIRA: RIAK-1603]"
Consider this test script:

[code]

It inserts big negative integers as 2i value. And after each insert, it gets and prints all data from 2i.

This is the output from it. Expected output would be list `from n to 0` after each step (one line is one step)

[code]

As you can easily see, it returns pretty "broken" results, missing values, messed order. That script works perfectly on positive integers

[2014-11-18 21:10] nickelization commented on #603
basho/webmachine#183 is now fixed, so I'm closing this issue as well.

[2014-11-18 21:10] #603 closed, assigned to nobody

[2014-11-18 21:19] nickelization commented on #603
Oh, one more note to add though, to avoid any potential confusion....

The version of webmachine used in the develop branch of riak is currently 1.10.5, which doesn't yet include the necessary fix. Once a newer version of webmachine is added to riak, this will actually be fixed.

[2014-11-19 21:39] jpmitche11 commented on #615
I agree this feature is not well documented.

I was able to get a mapReduce query to work by setting input as follows:
{
    inputs: [bucketType, bucketName],
    query: ...
}

[2014-11-20 01:46] 5HT commented on #581
Just replace here
https://github.com/basho/riak_kv/blob/develop/src/riak_kv_vnode.erl#L1983
"~p" with "~tp"
and also update vnode status on any error not just enoent.
That will fix R17 vnode status updates.

[2014-11-21 14:12] sinemetu1 opened #624 "Search index fails after changing nodename"
Hello,

I reported this in irc: http://irclogger.com/.riak/2014-11-21#1416549951 but the gist is:
1. node starts on localhost
2. added index to node
3. renamed node and enabled search
4. started inserting documents
5. saw that documents were failing indexing in the logs

Here are the commands I used to add the indexes:

[code]

Here's the error I was seeing in the logs http://pastebin.com/KZBUhghM

[2014-11-24 10:45] jonasrichard opened #625 "Riak real-time replication rebalancing (in 2.0.1)"
When real-time replication is enabled source and sink cluster nodes form replication pairs, so one source node pushes replicated operations (PUT, DELETE) to the appropriate sink node. Let us imagine two 5-node clusters, one directional real-time replication in between.

If one node fails in sink cluster (node2_1 - the first node in the second cluster), its pair (node1_1) won't connect to that node

[2014-11-24 16:14] jonmeredith commented on #625
Thanks for reporting, we're aware of the issue and have work scheduled against the 2.0.X series to improve.

(Tracked against RIAK-1182 in our internal work tracking system).

[2014-11-25 12:07] jonasrichard commented on #625
Is it possible to apply that fix to 1.4.x product line?

[2014-11-25 16:39] jonmeredith commented on #625
Unfortunately not - it has required refactoring the inter-cluster connection manager and at this time we view the changes as too significant to backport.

You can trigger a rebalance by stop/starting the realtime subsystem (pending writes will be queued as long as they are enabled). Additionally our support team have some workarounds to do more targeted rebalancing that require running some code i

[2014-12-02 17:29] ks opened #648 "Riak buildable from source on Erlang R17 ?"
Currently this requires a lot of (trivial) changes on many places.

Any plans to make the building work out of the box?

[2014-12-02 17:37] cmeiklejohn commented on #648
Historically, we've only ever advanced the version of the supported runtime at major revisions of Riak, because it requires a large amount of testing to ensure that there are no unforeseen performance penalties.  That said, Riak 2.0 (released September 2, 2014) was the first release to ship with R16 and there are no current plans for moving to 17 in the short term.  We will reevaluate when identif

[2014-12-02 17:37] #648 closed, assigned to cmeiklejohn

[2014-12-08 01:43] ghost opened #650 "storage = multi ; riak fails to start"
[code]

[2014-12-08 01:50] ghost commented on #650
http://docs.basho.com/riak/latest/ops/running/recovery/errors/ I just found this, I couldn't find the error in that stack of shit until a second ago. I'll see if I can find the solution in here and close this if I can

[2014-12-08 01:57] ghost commented on #650
nope, useless:

[code]

RIP x________x

[2014-12-08 02:03] ghost commented on #650
I took a guess, only because I'm brave enough to try to figure stuff like this out, reading a little further into this: http://docs.basho.com/riak/latest/ops/advanced/backends/multi/ which I did not read much into before because it says at the top "storage_backend = multi" and that seemed like all I should care about but reading a little further in (actually all the way down at the bottom)

[code]

[2014-12-08 02:13] ghost commented on #650
well, also adding:

[code]

seems to be fine. Tested:

laptop riak # bin/riak-admin bucket-type create Sessions '{"props":{"backend":"memory_mult"}}'
Sessions created

WARNING: After activating Sessions, nodes in this cluster
can no longer be downgraded to a version of Riak prior to 2.0
laptop riak #

I guess thats it.

[2014-12-08 02:13] #650 closed, assigned to nobody

[2014-12-13 12:02] ghost opened #653 "solr; not working"
[code]

[code]

[code]

[2014-12-16 01:06] pseudorandumb commented on #618
I have the same issue and looking at the logs it looks related to a solr memory error.
`java.lang.OutOfMemoryError: GC overhead limit exceeded`

[2014-12-27 18:59] binarytemple commented on #653
It is bound and listening on the every interface, and shows up under IPV6.
Depending on your OS/network config that may mean it is also available over
IPV4. In any event it is not intended that you interact with that port
directly, rather you should query Riak, and let it handle the marshalling,
redirection, etc.

Bryan

On Sat, Dec 13, 2014 at 1:02 PM, Paige Thompson notifications@github.com
wrot

[2015-01-01 19:31] Vagabond opened #659 "Riak 2.0.1-2.0.4 tags have deps pointing to riak_core '2.0' branch, not a tag"
Riak 2.0.0 was done correctly, but all subsequent tags have not pinned all dependancies to tags, so repeatable builds aren't currently happening. The addition of 'clique' as an incorrectly specified dependancy of riak_core on the riak core 2.0 branch is breaking all builds of riak from any tag after 2.0.0.

This is a very bad thing.

[2015-01-01 19:51] Vagabond commented on #659
So, for 2.0.0:

[code]

For 2.0.1:

[code]

[2015-01-01 20:56] jaredmorrow commented on #659
This is actually not unusual for Major.0.X releases.  At some point along the way we decided that it might not be worth constantly going from tags in `Major.0.0` to branches in to continue development and then back to tags for `Major.0.X`.  In this case, 2.0.1 -> 2.0.4 used the `rebar.config.lock` file to move dependencies.

If you:

[code]

Then do a `rebar list-deps` while passing in the lock co

[2015-01-01 21:09] Vagabond commented on #659
Why is 'make' doing the wrong thing then? I guess we have run over this before, but if I check out a tag and call 'make', I'd expect it to make that tag, not some weird mismash of tags and branches.

[2015-01-01 21:15] jaredmorrow commented on #659
Good point.  The **fix** in this case might be to just add the 'locked-all' target as the default target in major release branches.

[2015-01-01 22:09] jrwest commented on #659
For as long as I can remember re: 2.0 you have had to "make locked-deps" followed by "make all" for repeatable tag builds.

Not saying it's the best way but it's been that way for a while and was documented (at least internally)

Jordan

Sent from my iPhone

[2015-01-01 22:10] cmeiklejohn commented on #659
:+1:, `make locked-deps` has been the only way to reproduce the tag build.

[2015-01-01 23:30] Vagabond commented on #659
Yeah, this was my bad, although as an open source user, it is very confusing. I just don't have a great suggestion for how to make it better for users _and_ developers.

[2015-01-05 10:01] sandeepbisht opened #660 "ring_size in configuration not working"
I set up

ring_size=16

But when i checking it using

**1** --> *riak-admin status|grep -i ring i got following output*

ring_members : ['riak@10.20.2.180','riak@10.20.2.182']
ring_num_partitions : 64
ring_ownership : <<"[{'riak@10.20.2.180',32},{'riak@10.20.2.182',32}]">>
ring_creation_size : 16

**2** --> riak control  -  it is showing 64 partitions (As per looking into https://10.20.2.180:8069/

[2015-01-05 13:41] sandeepbisht opened #661 "For multi_backend max_memory_per_vnode not capping memory usage"
It looks like max_memory_per_vnode is the possible way to cap memory consumption.

But when I am trying to benchmark riak.
**Configuration file changes are**

*ring_size = 16

storage_backend = multi
multi_backend.fs_no.storage_backend = memory
multi_backend.fs_no.memory_backend.max_memory_per_vnode = 1MB*

But when i restarted riak

Its Memory status is as following

"mem_total":4145422336,"mem_a

[2015-01-05 14:32] seancribbs commented on #660
If you started the node before changing the ring_size, it will be already persisted to disk. Stop all the nodes, remove `/var/lib/riak/ring` (assuming a Linux install), ensure the ring_size is set correctly on both nodes, and then restart and rejoin.

[2015-01-05 14:47] #660 closed

[2015-01-05 18:26] sandeepbisht commented on #660
Thank you it works.

But is it needed to remove /var/lib/riak/ring if some changes made in riak.conf related to ring_size ?

Because till now changes on riak.conf automatically reflected.It not needed manual deletion.Whenever i have to modify riak.conf.I modify it  on all nodes and restart all nodes.Change reflected.

[2015-01-06 03:21] kuenishi commented on #659
How about just mentioning these procedures on README? There is a paragraph describing how to build. Although I sometimes don't trust documents, just in case we all forgot this thread.

[2015-01-06 16:00] gglanzani commented on #618
Adding a +1 here. I filed a bug in the riak-python-client, but I think it's an upstream (i.e. Riak) issue.

https://github.com/basho/riak-python-client/issues/393

[2015-01-08 23:45] lukebakken commented on #426
FWIW, I ran into this today by mis-typing `certificate`. The only way to know it had happened was to turn on debug logging in Riak to see why my client certificate authentication was failing.

[2015-01-08 23:54] lukebakken opened #662 "Difficult to diagnose authentication failures."
Scenario:
- Riak 2.0.4 cluster with security enabled
- The following sources are set up. Note the restrictive CIDR for the `riakuser` source:

[code]

Mis-typing `certificate` (`certficate`, for example) causes this scenario as well and is especially frustrating (see issue #426)
- A ping attempt while using a client certificate fails in this manner in the client:

[code]
- The following is logged

[2015-01-13 21:30] gglanzani opened #663 "Set the number of reducers when using Erlang"
Hi y'all,

I couldn't find any option to set the number of reducers when using Erlang mappers/reducers. I know there is such an option for javascript (javascript.reduce_pool_size).

This is quite important as I have the following input:

[code]

and I'd like the following output

[code]

I'm already doing an intermediate reduce operation to sort the records by `<<"Hub">>`, but to get desired outpu

[2015-01-14 11:11] cipy opened #664 "unpredictable API response for streaming keys/buckets"
When performing a bucket or key streaming operation, the riak's API would in some cases:

+ respond with the full set
+ respond with a partial set, then {timeout}
+ respond with an empty set

[2015-01-14 11:36] binarytemple commented on #664
This is using the HTTP API

[2015-01-14 11:37] cipy commented on #664
Can be seen in clusters where the data on disk greatly (i.e. at least 10 times) exceeds the available RAM dedicated to Riak.

[2015-01-14 13:34] gglanzani commented on #664
I'm consistently getting partial set, then {timeout}. The workaround (I'm using the Python client) for our use case (delete keys), is to wrap the stream in a try/except block wrapped in a while block, and let the client reconnect.

[2015-01-14 13:37] russelldb commented on #664
Are you setting the timeout high enough on the request?

[2015-01-15 21:59] lukebakken opened #666 "Regression in dealing with bad PB message data."
In Riak 1.4.X, you can send a `RpbPutReq` while leaving the `bucket` field set to NULL and Riak will return an error.

In Riak 2.0.X, doing that results in this crash and the connection is unexpectedly aborted:

[code]

I will add code to the C# client to disallow this scenario (the Ruby client disallows null or empty bucket names).

[2015-01-16 03:57] seancribbs commented on #666
That should not be possible if you are following the protobufs spec, the `bucket` field is marked `required`.

[2015-01-16 04:05] lukebakken commented on #666
Unfortunately, the C# protobuf library doesn't throw exceptions when required data is missing (https://code.google.com/p/protobuf-net/issues/detail?id=262).

[2015-01-20 14:07] russelldb opened #667 "Multi-version DT serialization error [JIRA: RIAK-1482]"
Despite testing of to/from_binary code, there seems to be some path in Riak where riak_dt sets/maps try to merge pre-2.0.4 data structures with 2.0.4 datastructures.

The relevant PR from DT https://github.com/basho/riak_dt/pull/110
The original report on the mailing list http://lists.basho.com/pipermail/riak-users_lists.basho.com/2015-January/016568.html

[2015-01-22 18:40] DSomogyi commented on #625
Fixed by Riak-1127.

[2015-01-22 19:43] binarytemple commented on #522
My PR from 24th Oct 2014 - https://github.com/basho/riak/pull/614 check ulimits are set in /etc/default/riak save someone a day sometime.

[2015-01-23 02:13] molele2 opened #670 "I have some probolem"
Install riask 2.0.1 2.0.2 2.0.3 on centos6 ,hava some probolem ,I use erlang 16B03
Compiling /riak/riak-riak-2.0.1/deps/canola/c_src/canola-port.c
/riak/riak-riak-2.0.1/deps/canola/c_src/canola-port.c:36:31: error: security/pam_appl.h: No such file or directory
/riak/riak-riak-2.0.1/deps/canola/c_src/canola-port.c:38: error: expected ‘=’, ‘,’, ‘;’, ‘asm’ or ‘__attribute__’ before ‘*’ token
/riak/r

[2015-01-23 03:32] molele2 opened #671 "Compiling error error: expected ‘=’, ‘,’, ‘;’, ‘asm’ or ‘__attribute__’ before ‘*’ token"
Install riask 2.0.1 2.0.2 2.0.3 on centos6 ,hava some probolem ,I use erlang 16B03

/riak/riak-riak-2.0.1/deps/canola/c_src/canola-port.c:36:31: error: security/pam_appl.h: No such file or directory
/riak/riak-riak-2.0.1/deps/canola/c_src/canola-port.c:38: error: expected ‘=’, ‘,’, ‘;’, ‘asm’ or ‘__attribute__’ before ‘*’ token
/riak/riak-riak-2.0.1/deps/canola/c_src/canola-port.c:42: warning: ‘st

[2015-01-25 11:12] molele2 commented on #671
no  boy  ansow my problem?The  project is dead ???????

[2015-01-25 12:18] kesslerm commented on #671
Hi molele2,

I can assure you that the riak project is very much alive. Riak has been created by basho (http://www.basho.com) and is actively maintained and developed further by this company.

Regarding your issue, I note that the very first error relates to a missing header file. Please make sure that you install the development packages for your system. In particular you will want to have the pa

[2015-01-25 12:18] #671 closed

[2015-01-25 12:26] kesslerm commented on #670
Duplicate of #671

[2015-01-25 12:26] #670 closed

[2015-01-26 07:32] molele2 commented on #671
Hi kesslerm ,I try use this project to my new case,But not intall from network,So,  I assumed it was dead,I feel so  sorry, But I hope the project was strong ,Becase I plan to develop new case  for my boss,Thanks for your  support

[2015-01-26 10:13] molele2 opened #672 "canola-port.c:38: error: expected ‘=’, ‘,’, ‘;’, ‘asm’ or ‘__attribute__’ before ‘*’ token[ have no package install right]"
Install riask 2.0.1 2.0.2 2.0.3 on centos6 ,hava some probolem ,I use erlang 16B03

/riak/riak-riak-2.0.1/deps/canola/c_src/canola-port.c:36:31: error: security/pam_appl.h: No such file or directory
/riak/riak-riak-2.0.1/deps/canola/c_src/canola-port.c:38: error: expected ‘=’, ‘,’, ‘;’, ‘asm’ or ‘attribute’ before ‘’ token
/riak/riak-riak-2.0.1/deps/canola/c_src/canola-port.c:42: warning: ‘struct

[2015-01-26 10:17] russelldb commented on #672
Hi, do you have pam-dev dependancy installed, as the previous issue stated?

[2015-01-26 10:19] russelldb commented on #672
This is not an issue, riak builds. I think that the riak-users mailing list is the best source of help for you. Closing this now.

Please post to the mailing list in future.  http://lists.basho.com/mailman/listinfo/riak-users_lists.basho.com

[2015-01-26 10:19] #672 closed

[2015-01-27 14:54] cosmink opened #673 "Riak Links with Bucket Types"
Tested this on both Riak 2.0.2 and Riak 2.0.4 on CentOS.
Trying to create some Links attached to an object using the Links header.
We are using bucket types and this behaviour doesn’t seem to replicate when using plain buckets.

I did read https://github.com/basho/riak/issues/362 and it seems that link *walking* is not supported for non-default bucket types, but I'm only interested in writing/read

[2015-01-29 14:31] russelldb commented on #667
Fixed in riak-2.0.5

[2015-01-29 14:31] #667 closed

[2015-01-30 06:20] molele2 opened #674 "Editing Never compiler success, it seems that I give up riak"
Compiling /riak/riak-develop/deps/canola/c_src/canola-port.c /riak/riak-develop/deps/canola/c_src/canola-port.c:36:31: error: security/pam_ap pl.h: No such file or directory /riak/riak-develop/deps/canola/c_src/canola-port.c:38: error: expected ‘=’, ‘,’, ‘;’, ‘asm’ or ‘attribute’ before ‘’ token /riak/riak-develop/deps/canola/c_src/canola-port.c:42: warning: ‘struct pam_resp onse’ declared inside

[2015-01-30 06:21] molele2 commented on #674
ERlang 16B   centos6.5  64 riak-develop .2.0.3,2.0.4,2.0.2 no a way

[2015-01-30 06:26] seancribbs commented on #674
We have binary packages for CentOS 6. Please use those to install Riak.

On Thu, Jan 29, 2015 at 10:21 PM, molele2 notifications@github.com wrote:

##

Sean Cribbs sean@basho.com
Sr. Software Engineer
Basho Technologies, Inc.
http://basho.com/

[2015-01-30 14:40] kesslerm commented on #674
Hi molele2,

As already advised on #671 and #672, you have to have the development packages available for your system. You don't seem to have the necessary header files for 'pam' installed. According to http://www.rpmseek.com/rpm-pl/pam-devel.html?hl=com&cx=0:: for CentOS 6 you need pam-devel-1.1.1. I don't have that version of CentOS available to me to verify this exact version.

Unless you make

[2015-01-30 14:40] #674 closed

[2015-02-03 09:30] khauser opened #675 "Starting Riak 2.0.1 and 2.0.4 on Debian 8"
Hello, I'm having a problem installing riak:

root@eis-staging:/tmp# dpkg -i riak_2.0.4-1_amd64.deb
(Reading database ... 44718 files and directories currently installed.)
Preparing to unpack riak_2.0.4-1_amd64.deb ...
Unpacking riak (2.0.4-1) over (2.0.4-1) ...
Setting up riak (2.0.4-1) ...
Processing triggers for man-db (2.7.0.2-3) ...
root@eis-staging:/tmp# riak start
root@eis-staging:/tmp# ria

[2015-02-03 13:25] kayabendroth-epages commented on #675
@khauser Can you update the summary to something like: Starting Riak on Debian 8 fails?

[2015-02-05 19:19] cmeiklejohn commented on #615
@lucperkins Can we get this added to the MapReduce documentation?  It just came up on the mailing list again, and appears to be a straightforward fix.

[2015-02-05 20:03] marksteele opened #677 "Active entropy crash 1.4.{2,12}"
In the active entropy code, there's a condition which causes riak_kv_util:responsible_preflists_n to receive a binary instead of an integer which then gets passes to lists:split and crashes the cluster. Essentially, all nodes go down pretty much at once and the cluster refuses to come back online.

I haven't been able to pinpoint the client behaviour (if any) which is triggering this as we've only

[2015-02-05 20:54] russelldb commented on #677
Hi Mark,
You didn't respond to my question in IRC: can you get the bucket properties for the bucket(s) in question? I suspect that is where the binary is coming from.

Russell

[2015-02-05 21:39] russelldb commented on #677
I ask because `* {badarg,[{lists,split,[<<"4">>,` suggests that you've updated the default somewhere, which may well be the cause of the issue. Is it in the config file, or some client call that updates bucket props?

[2015-02-05 21:59] marksteele commented on #677
I have three buckets configured:

{"props":{"allow_mult":true,"backend":"bitcask_mult","basic_quorum":false,"big_vclock":50,"chash_keyfun":{"mod":"riak_core_util","fun":"chash_std_keyfun"},"dw":"quorum","last_write_wins":false,"linkfun":{"mod":"riak_kv_wm_link_walker","fun":"mapreduce_linkfun"},"n_val":2,"name":"midway_counter","notfound_ok":true,"old_vclock":86400,"postcommit":[],"pr":0,"precommi

[2015-02-05 22:09] russelldb commented on #677
But the crash shows a bucket of nval <<"4">>. How do you know you have 3 buckets configured? Is this in a non-prod env where running list-buckets is feasible?

[2015-02-05 22:11] marksteele commented on #677
That's how I know how many buckets I have :)

[2015-02-05 22:12] russelldb commented on #677
Hmmm, OK. I will dig into it some more, but if the binary isn't the n_val of a bucket, what the hell is it?

[2015-02-05 22:13] russelldb commented on #677
Curious that it is also a binary of an integer that looks very n_val-esque

[2015-02-05 22:15] marksteele commented on #677
Might somehow be counter related, as we've recently starting using the CRDT counters and the bucket in question is used for storing counters.

[2015-02-05 23:25] pyrrho commented on #610
Two pull requests that relate to this, #676 will add this functionality to the 2.0 branch and #678 will add it to the 1.4 brach.
Currently, the extensions that will (by default) be ignored are `.pfx`, `.p12`, `.csr`, `.sst`, `.sto`, `.stl`, `.pem`, and `.key`.

[2015-02-05 23:26] pyrrho commented on #613
Two pull requests that relate to this, #676 will add this functionality to the 2.0 branch and #678 will add it to the 1.4 brach.

[2015-02-05 23:26] pyrrho commented on #604
Two pull requests that relate to this, #676 will fix this bug in the 2.0 branch and #678 will fix it in the 1.4 brach.

[2015-02-06 15:26] marksteele commented on #677
The php code that sets bucket properties is using the php pecl extension (https://github.com/php-riak/php_riak#bucket-properties-riak-14-and-above).

[2015-02-10 17:08] cmeiklejohn opened #680 "Riak Control broken on develop [JIRA: RIAK-1507]"
Riak Control is currently broken on develop:

[code]

[2015-02-12 12:16] binarytemple opened #681 "include 'riak-admin search aae-status' in riak-debug output for 2.x"
Command output is missing - riak-admin search aae-status - very important for debugging Yokozuna coverage query inconsistencies.

[2015-02-12 14:02] binarytemple opened #682 "riak-debug - commands/riak_diag - fails - blames malformed config"
1 Fatal error: Riak config file /var/lib/riak/generated.configs/app.2015.02.08.06.01.48.config is malformed!
  2 RPC to 'riak@127.0.0.1' failed: {'EXIT',
  3                                  {{badmatch,undefined},
  4                                   [{riaknostic_config,get_app_env,1,
  5                                     [{file,"src/riaknostic_config.erl"},
  6

[2015-02-13 17:54] pyrrho commented on #681
Added to the (work in progress?) #676 PR.

[2015-02-16 21:38] AndreasMadsen opened #683 "Unknown message code: 60"
If Riak Search 2.0 isn't enabled, which is the default setting (`search = false`) and a `RpbYokozunaSchemaPutReq` protocol buffer request is made (haven't checked the other search request types) the return error is `Unknown message code: 60`. This is not very useful for machines or humans.

For comparison if secondary indexes is not supported the return error is `{error,{indexes_not_supported,riak

[2015-02-18 23:10] AndreasMadsen opened #684 "Poor documentation for implementing a secure client [JIRA: RIAK-1618]"
There is no documentation for `RpbStartTls` and almost non for `RpbAuthReq`, it would be nice with a small section about how to implement a secure client connection.

[2015-02-19 11:49] cipy opened #685 "frozen riak stop [JIRA: RIAK-1663]"
Hi,

`riak stop` freezes with the below error instead of stopping correctly

[code]

[2015-02-19 14:54] cmeiklejohn commented on #685
This bug should be filed against `riak_ee`.

[2015-02-21 20:12] cmeiklejohn commented on #680
Now that everything's been merged up and the dependencies resolved, this is no longer an issue.

[2015-02-21 20:12] #680 closed

[2015-02-23 18:27] Basho-JIRA commented on #680
This was fixed this weekend.

**_[posted via JIRA by Chris Meiklejohn]**_

[2015-02-25 10:42] xiaoliuliu2050 opened #694 "Cross-Origin Resource Sharing about riak"
recently i am using riak and riak cs ,
and i happend to a problem ,
that is i want to upload a file directly to my database ,
but the brower has a problem ,you know it is Cross-Origin Resource Sharing,
i am here to ask help ,
how should i solve this problem ?

[2015-02-25 16:25] aeden opened #695 "Build fails on OS X with Erlang R17"
I am attempting to build Riak on OS X 10.10 with R17.

Erlang/OTP 17 [erts-6.3] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Here is the output of the build:

[code]

[2015-02-25 16:27] cmeiklejohn commented on #695
We're in the progress of addressing these issues, one component at a time.  The next major release of Riak will be targeted at Erlang 17, but right now, only R16B02 is officially supported.

[2015-02-25 16:30] aeden commented on #695
Oh, ok, thanks. Maybe update the README indicating that it can only be built with version up to R16B02.

[2015-02-25 16:57] cmeiklejohn commented on #695
Opened #697 to address.

[2015-02-26 06:48] kuenishi commented on #694
Riak will not support CORS and may be this is about CS S3 API.

[2015-02-26 06:48] #694 closed

[2015-02-27 02:53] molele2 opened #700 "I hava some error from riak-java-client"
I try execute class from http://docs.basho.com/riak/latest/dev/using/data-types/

import java.net.UnknownHostException;
import java.util.concurrent.ExecutionException;

import com.basho.riak.client.api.RiakClient;
import com.basho.riak.client.api.commands.datatypes.FetchSet;
import com.basho.riak.client.api.commands.datatypes.SetUpdate;
import com.basho.riak.client.api.commands.datatypes.UpdateSet

[2015-02-27 02:55] molele2 commented on #700
How to set bucket-type ??????

set? map?  and other?

[2015-02-27 03:11] cmeiklejohn commented on #695
Addressed by #699 (and a slew of other PRs across several repos.)

[2015-02-27 03:41] molele2 commented on #700
import java.net.UnknownHostException;
import java.util.LinkedList;
import java.util.List;
import java.util.concurrent.ExecutionException;

import com.basho.riak.client.core.RiakCluster;
import com.basho.riak.client.core.RiakNode;
import com.basho.riak.client.core.operations.SearchOperation;
import com.basho.riak.client.core.util.BinaryValue;

public class RiakClusterClientTester {

[code]

//

[2015-02-27 03:53] #700 closed

[2015-02-27 04:06] molele2 opened #701 "I hava some error fro counters"
package com.warunion.shop.riak;

import java.net.UnknownHostException;
import java.util.LinkedList;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;

import com.basho.riak.client.core.RiakCluster;
import com.basho.riak.client.core.RiakNode;
import com.basho.riak.client.core.operations.SearchOperation;
import com.basho.riak.client.core.util.BinaryValue;

[2015-02-27 04:13] #695 closed

[2015-02-27 05:12] molele2 commented on #701
riak-admin bucket-type update sets '{"props":{"search_index":"hobbies"}}'

import java.net.UnknownHostException;
import java.util.concurrent.ExecutionException;

import com.basho.riak.client.api.RiakClient;
import com.basho.riak.client.api.commands.search.StoreIndex;
import com.basho.riak.client.core.query.Namespace;
import com.basho.riak.client.core.query.search.YokozunaIndex;

public class RiakQ

[2015-02-27 07:03] molele2 commented on #701
import com.basho.riak.client.FetchMeta;
import com.basho.riak.client.StoreMeta;
import com.basho.riak.client.convert.Converter;
import com.basho.riak.client.convert.PassThroughConverter;
import com.basho.riak.client.core.RiakCluster;
import com.basho.riak.client.core.RiakNode;
import com.basho.riak.client.core.operations.DeleteOperation;
import com.basho.riak.client.core.operations.FetchOperation;

[2015-02-27 07:04] molele2 commented on #701
so All version is eable to used!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2015-02-27 07:05] molele2 commented on #701
the url http://docs.basho.com/riak/latest/dev/using/search/#Why-Riak-Search is fine for use success!
The riak is very joke!!!!!!!!!!!!!!

[2015-02-27 07:38] molele2 commented on #701
经过我一个月左右时间的尝试,我决定放弃riak了,给出的文档文章一片乱,上面标注着2.0.5的版本,但是例子中错误百出,甚至从github上下载的2.0的java库,中带着1.4.4的代码,之后整个test工程下全是一堆没用的代码,形如:

import junit.framework.Test;
import junit.framework.TestCase;
import junit.framework.TestSuite;

/**
- Unit test for simple App.
  _/
  public class AppTest
  extends TestCase
  {
  /_*
  - Create the test case
    *
  - @param testName name of the test case
    */
    public Ap

[2015-02-27 07:38] molele2 commented on #701
kv加油

[2015-02-27 07:40] molele2 commented on #701
经过一番挣扎之后我决定放弃riak这个东西太不靠普了

[2015-02-27 07:41] molele2 commented on #701
bye riak!!!!!!!!

[2015-02-27 07:44] molele2 commented on #701
key-value 存储系统 RocksDB
轻量级Key-value存储 iPage
key-value 存储系统 Keyspace
key-value 数据存储 OpenKeyval
Key-Value数据引擎 quickdb
分布式 key-value 存储系统 Scalaris
key-value存储系统 kvs
key-value 存储服务器 QDBM
加密的 key-value 存储系统 Trousseau
Key-Value 数据库 GT.M

Python实现的Key-Value数据库 spugdb

分布式的Key-Value存储系统 Kai
分布式的Key-Value存储系统 Ringo
Key-Value数据库 Flare
分布式的Key-Value存储系统 Dynomite
key-value 存储服务器 LightCloud
key-value 存储服务器 Ria

[2015-02-27 07:46] molele2 commented on #701
so many kv
kv
kv
kv ........................
oh,my god,我醉了，怪不得我写了n多年技术之后，越来越不喜欢，这些长着技术样，个个都说自己是kv的家伙，一点营养价值都没有，而且个个都说自己很好很牛皮，我以为是从火星来的技术，kv
kv，我又醉了

[2015-02-27 09:34] aeden commented on #695
Thanks, I've confirmed the build succeeds now on my machine.

[2015-02-27 09:46] kesslerm commented on #701
Dear @molele2,

running your latest message through google translator suggest that you were severely inebriated writing this. I will close this bug report. Please come back once you are able to formulate your thoughts in a clearer manner.

[2015-02-27 09:46] #701 closed

[2015-02-27 10:10] kesslerm commented on #700
Hi @molele2,

have you followed the instructions in http://docs.basho.com/riak/latest/dev/using/data-types/#Setting-Up-Buckets-to-Use-Riak-Data-Types? You need to set up your CRDT buckets separately from the command line:

[code]

May I also suggest to use the public riak-users mailing list (http://lists.basho.com/mailman/listinfo/riak-users_lists.basho.com) for support questions. The issue tracke

[2015-02-27 15:07] molele2 opened #702 "I want to know which one to use on riak 2.0.5 for java lib client"
Do you know ,tell me please.Thanks very much

[2015-02-27 15:08] molele2 commented on #702
Which 2.0?Which 1.4 ?

[2015-02-27 18:09] kesslerm commented on #702
Hi @molele2,

The github issue tracker is not a support forum. Please subscribe to our public mailing list. Instructions to do this are available at http://lists.basho.com/mailman/listinfo/riak-users_lists.basho.com

That said, you should use version 2.0 of the [riak-java-client](https://github.com/basho/riak-java-client/tree/riak-client-2.0.0) with Riak-2.0.x.

I hope to see your further question

[2015-02-27 18:09] #702 closed

[2015-02-27 19:49] marksteele opened #703 "Riak pb client mapred crashes server process"
[code]

Crash log:
[code]

[code]

[2015-02-27 21:24] ghost commented on #673
Works as expected apparently: https://github.com/basho/basho_docs/pull/1506

[2015-02-27 21:24] #673 closed

[2015-03-06 14:26] nbari opened #704 "FreeBSD Port databases/riak 2.0.5 [JIRA: RIAK-1578]"
I created a patch for the FreeBSD port databases/riak https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=198355

So far working but would be nice if more experienced users could test it.

[2015-03-06 15:34] tombriden commented on #509
This has recently been an issue for me, the attached patch doesn't appear to work with 2.0.5 but a slight variation on it works and there are no duplicate SSL variables when using "riak console" or "riak start"

[code]

there's also a separate issue with some extra output from nodetool when using SSL making get_pid fail, fixable with

[code]

[2015-03-06 20:33] nbari commented on #704
Cleaned and updated the patch: https://bz-attachments.freebsd.org/attachment.cgi?id=153931

New patch to avoid the BASH dependecy :   https://github.com/basho/yokozuna/issues/461

[code]

https://bz-attachments.freebsd.org/attachment.cgi?id=153981

To install it, update the [FreeBDS](https://www.freebsd.org/doc/en/books/handbook/ports-using.html) ports:

[code]

Patch current riak port:

[code]

I

[2015-03-10 09:28] ryanbamford commented on #509
have modded this additionally to include a check for the file

if [ -f $RUNNER_ETC_DIR/vm.args ]; then
   SSL_ARGS=`grep -e '^\-ssl_dist_opt' -e '^\-proto_dist' $RUNNER_ETC_DIR/vm.args | tr '\n' ' '`
   NODETOOL="eval ERL_FLAGS=\"$ERL_FLAGS $SSL_ARGS\" $ERTS_PATH/escript $ERTS_PATH/nodetool $NET_TICKTIME_ARG $NAME_ARG $COOKIE_ARG"
else
   NODETOOL="$ERTS_PATH/escript $ERTS_PATH/nodetool $NET_TICKT

[2015-03-10 09:38] ryanbamford opened #705 "Bucket type creation issue while using tls"
When underlying tls is enabled in the erlang cluster the application errors out when attempting to do a bucket create

riak-admin bucket-type create test_type '`cat bucket_type.json`'

This seems to be based on the return value being not whats expected.

The erlang version the 2.0.5 is complied against has some leftover debug code when tls is enabled in the cluster that gives

close called #Port<0

[2015-03-10 09:59] ryanbamford commented on #705
bug -  code removed post R15

http://erlang.org/pipermail/erlang-questions/2013-April/073241.html

[2015-03-10 10:08] nbari commented on #704
New patch passing poudriere testport:  https://bz-attachments.freebsd.org/attachment.cgi?id=154128

Is there a way to avoid solr / yokozuna when compiling ?

It would be nice to have yokozuna as an extension rather than a dependency while compiling

[2015-03-10 19:35] nbari commented on #704
New patch removing yokozuna: https://bugs.freebsd.org/bugzilla/attachment.cgi?id=154161

A second port could be created to include yokozuna, mainly because of the solr dependency

[2015-03-11 10:57] pengxindong opened #706 "one node manages multiple disks? [JIRA: RIAK-1602]"
it looks like that one node of riak only can manager one disk(the node's data is only can be wrote to the  directory is Configured ).if one server has four disks, i need to open four nodes to make full use of disks? why not go to implement the feature that on node can manage multiple disks?

[2015-03-11 11:14] nbari commented on #704
Maybe a good idea to have a riak2 port so that both 1.4.x and 2.0.x are available.

For riak 2 (2.0.5) I created this shar file: https://bz-attachments.freebsd.org/attachment.cgi?id=154212 https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=198517

To use (in FreeBSD):

[code]

[2015-03-11 13:46] seancribbs commented on #706
It is something we have discussed internally in the past (we called them "storage zones"), however isn't this something generally better handled by your volume manager? There are existing solutions to the problem.

[2015-03-11 16:56] seancribbs commented on #622
@Basho-JIRA ping

[2015-03-11 16:56] seancribbs commented on #608
@Basho-JIRA ping

[2015-03-11 16:57] seancribbs commented on #618
@Basho-JIRA ping

[2015-03-12 00:59] slfritchie commented on #706
Basho engineering has not been able to settle on a "storage zone" design that isn't horrible in at least one common scenario.

Workaround: use ZFS or a RAID-style logical volume manager.

[2015-03-12 00:59] #706 closed

[2015-03-12 03:26] pingyym commented on #706
volume manager  may have a lower performance than riak manage disks itself?

@slfritchie As more and more nodes, communication between nodes will become the system bottleneck, so we have to reduce nodes by "storage zone" or other way like volume manager? can you tell me why riak not been able to settle on a "storage zone"  design, It is difficult or just think don't need at present?

[2015-03-12 03:40] slfritchie commented on #706
If a person were to accept the idea that Basho's developers have a very thorough knowledge of Riak's internals, and if no Basho developer has been able to make a per-disk "storage zone"-like proposal that can satisfy the rest of Basho internally, then it's quite likely that there is no easy way to implement per-disk "storage zone"-like things within Riak today. And every proposal for a future Riak

[2015-03-12 15:21] #608 closed

[2015-03-16 02:57] ksauzz opened #708 "lager log rotation setting in riak.schema"
riak.conf doesn't provide items to change lager's log rotation configs including size, date and count.

[code]

[2015-03-16 17:39] jaconstantine commented on #684
+1

[2015-03-16 19:56] marksteele opened #710 "Input filtering in pb/http interfaces for things that can crash the Riak cluster"
Passing in a string/binary instead of an integer in an n-val for bucket properties can lead to some hard to troubleshoot seemingly random crashes.

For example: https://gist.github.com/marksteele/c2002b44b005ea1fda63

A user specified a binary as the n-val, which causes things using coverage queries to crash.

All input should be type checked to prevent misbehaving clients from bringing down the s

[2015-03-17 14:31] nbari commented on #704
I created a port: [lang/riak-erlang](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=198656) to compile riak using Bashio's custom erlang port:

To use:

[code]

[2015-03-17 16:48] joaonrb commented on #615
@jpmitche11 are you sure that you define bucket type like that? My query return 200 like that but do not return me the expected values. And according to documentation Erlang should verify a list with 2 strings to be "bucketName" and "key".

[2015-03-18 03:44] ronalfei opened #711 "Some books of riak2.0+ to recommand? [JIRA: RIAK-1623]"
Some books of riak2.0 to recommand?

[2015-03-18 09:00] gglanzani commented on #711
The little riak book? https://github.com/coderoshi/little_riak_book/commits/master

[2015-03-18 14:29] seancribbs commented on #711
Use @gglanzani's suggestion, but this is really a question better for the mailing list than for the issue tracker.

[2015-03-18 14:29] #711 closed

[2015-03-18 15:46] pyrrho commented on #684
Thanks for raising these concerns, guys!
As this issue is specifically calling out documentation, it can't really be solved in the base Riak repository. I've gone ahead and opened up an [identical issue](https://github.com/basho/basho_docs/issues/1575) in our [Basho Docs](https://github.com/basho/basho_docs) repository, and we should be able to get these improvements made there. As such, I'm going

[2015-03-18 15:46] #684 closed

[2015-03-18 15:48] TheOnlyRew opened #712 "Add Bucket Type data collection to `riak-debug` [JIRA: RIAK-1624]"
Additionally (or alternately), we could capture all the `*.dets` files in `/path/to/data/cluster_meta`.

[2015-03-19 21:00] Basho-JIRA commented on #710
This seems only appropriate for HTTP interface (PB already has strict types on properties), but should already be caught by bucket validators. The exception is potentially that a bad default property could be set and not caught by the validators if the user does not explicitly create buckets/bucket-types.

**_[posted via JIRA by Sean Cribbs]**_

[2015-03-19 21:30] seancribbs commented on #704
@Basho-JIRA ping

[2015-03-20 10:25] nbari commented on #704
Hi, I am currently testing port, software and so far working as expected, I am just waiting feedback from FreeBSD guys to see if they can accept the port.

[2015-03-23 03:31] enewhuis commented on #581
@5HT it looks like the code in the development branch has changed since your suggestion.  I am having the same problem you did back then now also trying to hack together an R17 release.

@jrwest I realize this isn't supported but is there any info that might help me?

[2015-03-23 05:17] cmeiklejohn commented on #581
While Riak should compile on Erlang 17 now, we're not officially supporting it until we release a Erlang 17-based Riak, which won't be our next immediate release, but should follow shortly after.

[2015-03-23 07:45] 5HT commented on #581
you can you our version of riak: https://github.com/riak-synrc
this is production ready riak for erlang > 17.0

[2015-03-23 14:08] enewhuis commented on #581
That is quite righteous of you, thanks!

[2015-03-24 16:04] sdebnath commented on #704
@nbari removing yokozuna disables all of search 2.0 which is critical in riak 2.0+

[2015-03-24 23:19] nbari commented on #704
Hi, new port depending on lang/riak-erlang includes yokozuna, in one patch I disable it just to try to pass the ports rules, but I agree that disabling it removes all search stuff, therefore I put them back, basically my last port should compile as bashio recomends.

[2015-03-25 07:14] danieldreier opened #714 "Riak RPMs not GPG signed [JIRA: RIAK-1647]"
The Riak RPM in the packagecloud yum repository is not GPG signed, so installing it requires that GPG validation be disabled. In the [docs for using the yum repo](http://docs.basho.com/riak/latest/ops/building/installing/rhel-centos/) a GPG key is linked to ("gpgkey=https://packagecloud.io/gpg.key") but gpgcheck is disabled ("gpgcheck=0") and so that key will never be used.

I think that packagecl

[2015-03-25 18:59] jlintz opened #715 "Explicit setting of bitcask.expiry.grace_time to 0 returns error"
According to the docs at [http://docs.basho.com/riak/latest/ops/advanced/configs/configuration-files/#Bitcask] , the default value of `bitcask.expiry.grace_time` is 0.  If you set this value in riak.conf, `riak chkconfig` returns an error

[code]

I also tried this for '0s'.  Removing the option works fine.  If I run `riak config effective` with the option removed, it shows the value as being 0.

[2015-03-25 22:39] seancribbs commented on #715
Note to future self: this looks like it could be fixed in Cuttlefish by allowing 0 to be unit-less.

[2015-03-30 12:47] nbari commented on #704
I tried my best, but I think the port wont be accepted by the FreeBSD committers, more details here: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=198517#c15 https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=198656#c18

Anyway the port compiles and work nice, just in case someone interested or want to use with tools like poudriere.

Maybe the only way is to create another port than just instal

[2015-03-31 02:00] blitzprog opened #716 "HTTP API not showing Unicode/UTF-8"
I am saving Japanese characters inside the database in JSON format via Nodiak (node.js client).
While this works without problems, loading that data up in the browser via Riak's default HTTP interface leads to this:

![Japanese characters in the browser](http://puu.sh/gVULa/f325784dda.png)

I quickly checked the response headers via Chrome:

    HTTP/1.1 304 Not Modified
    Vary: Accept-Encoding

[2015-04-01 15:09] ssylvester87 commented on #685
I have observed this behavior when all nodes in a multi-cluster realtime-replication configuration are issued a stop command simultaneously (via an automation tool such as Ansible). Failed repl leadership negotiation seems to cause a race condition when the operation times out and riak stop never finishes.

[2015-04-02 10:10] xiaoliuliu2050 opened #717 "bucket type use issue"
with my nodes ,i just update the riak.conf file and specify the storage_backend parameter to multi.

after that i use the command
riak-admin bucket-type create memory_backend '{"props":{"backend":"memory"}}'
to create a new bucket type.

then i start the link
{ok, Pid} = riakc_pb_socket:start_link("127.0.0.1", 8087).

then create a new object and want to put it in the bucket which bear the bucket-

[2015-04-07 15:01] Basho-JIRA commented on #685
An ESL customer has been experiencing a similar issue. Attaching riak-debug.

**_[posted via JIRA by Bryan Hunt]**_

[2015-04-07 19:43] Basho-JIRA commented on #685
Customer: William Hill via ESL.
Version: 1.4.12

***[posted via JIRA by Seema Jethani]***

[2015-04-07 23:09] pyrrho commented on #610
As the above PRs have been merged, I'm going to go ahead and close this issue. Feel free to reopen if there's more to discuss.

[2015-04-07 23:09] #610 closed

[2015-04-07 23:10] pyrrho commented on #613
As the above PRs have been merged, I'm going to go ahead and close this issue. Feel free to re-open if there's more to discuss.

[2015-04-07 23:10] #613 closed

[2015-04-07 23:10] pyrrho commented on #604
As the above PRs have already been merged, I'm going to go ahead and close this issue. Feel free to re-open if there's more to discuss.

[2015-04-07 23:10] #604 closed

[2015-04-07 23:14] pyrrho commented on #574
It should be noted that `-T` is a non-standard extension to dmesg. If anything, we should add `dmesg -T` to the command list rather than replacing `dmesg`. Even then, we would be polluting some debug archives with spurious failures.

[2015-04-08 08:05] pma opened #723 "Search does not return consistent results when indexing a bucket-type with datatype "map" [JIRA: RIAK-1671]"
Steps to reproduce:

1. Setup a 5-node Riak cluster
2. Create index with `curl -XPUT $RIAK_HOST/search/index/stuff -H 'Content-Type: application/json' -d '{"schema":"_yz_default"}'`
3. Create a new map bucket_type with `riak-admin bucket-type create stuff_leveldb '{"props":{"datatype":"map", "backend":"eleveldb"}}'`
4.  `riak-admin bucket-type activate stuff_leveldb`
5. `riak-admin bucket-type upd

[2015-04-08 14:06] zeeshanlakhani commented on #723
Reopened at https://github.com/basho/yokozuna/issues/480.

[2015-04-08 14:06] #723 closed

[2015-04-08 15:18] jonasrichard commented on #574
According to this conversation, it has been introduced in `util-linux 2.20.1` and yes, some older OSes don't support it. Is there any way to check if dmesg -T is supported?

http://stackoverflow.com/questions/13890789/convert-dmesg-timestamp-to-custom-date-format

[2015-04-13 16:44] mkuznetsov opened #724 "Failed make rel on canola_port.c on Ubuntu 12.04 and R17.4 [JIRA: RIAK-1678]"
Get error while compilation from source. Tried develop and 2.1 branches. Get same result.
Tried to install canola with apt-get, but it does not change situation.
I need compiled version for development.  Binary package installed from packagecloud runs ok, but I need to compile from source to make local 3 node cluster for development.

If u post instructions how to make 3 node package with binary p

[2015-04-13 16:53] jadeallenx commented on #724
On my system, `/usr/include/security/pam_appl.h` is part of the pam-devel package. Looks like on 12.04 Ubuntu that's [libpam0g-dev](http://packages.ubuntu.com/precise/libpam0g-dev).

[2015-04-13 17:20] mkuznetsov commented on #724
installed libpam0g-dev and finish my compilation. Thanks a lot

[2015-04-13 17:20] #724 closed

[2015-04-14 12:04] roooms opened #727 "An upgrade to Riak 2.0 from Riak 1.4 (and continuing to use app.config) can lead to sibling generation [JIRA: RIAK-1681]"
In Riak 1.4 `allow_mult` defaults to `false` and therefore is false if allow_mult is not set in `app.config`.

During an upgrade to Riak 2.0, the `app.config` could continue to be used (therefore stopping the `riak.conf` being used). In this scenario the default bucket-type changes from `allow_mult: false` to `allow_mult: true` potentially resulting in unexpected sibling generation.

To reproduce:

[2015-04-14 12:18] kesslerm commented on #727
Using cuttlefish (`riak.conf`), the `allow_mult = true` default is set for the default bucket type at https://github.com/basho/riak_kv/blob/develop/priv/riak_kv.schema#L512

Without `riak.conf` no further overrides of the bucket defaults for all buckets (https://github.com/basho/riak_core/blob/develop/src/riak_core_bucket_type.erl#L135) seem to happen. The defaults for the default bucket are assem

[2015-04-14 12:29] russelldb commented on #727
Testing that now @kesslerm, thanks!

[2015-04-14 12:37] russelldb commented on #727
Can confirm that adding

[code]

to `app.config` is a workaround and does not impact typed buckets defaults.

[2015-04-14 13:05] roooms commented on #727
Full output of `riak-admin bucket-type status default` when using riak.conf and app.config as above:
- with `riak.conf`

[code]
- with `app.config`

[code]

Differences:
- `allow_mult`
- `dvv_enabled`

[2015-04-14 14:50] tombriden commented on #509
The mod to env.sh isn't a complete fix as some commands still fail, such as `riak-admin bucket-type create`

What actually works is to use an alias for nodetool rather than store the command in a variable. So, changing env.sh to

[code]

and then updating env.sh and riak-admin so all `$NODETOOL` calls become just `NODETOOL`.

[2015-04-15 12:22] russelldb commented on #727
This is "expected" behaviour. Please see https://github.com/basho/cuttlefish/wiki/Cuttlefish-for-Application-Users specifically `Cuttlefish will see your app.config sitting where it's supposed to, and use that instead.`

Looping in @seemaj for opinions. I think the right thing is add the workaround to the procedure for upgrading. The best thing would be a script that turned the legacy `app.config`

[2015-04-15 13:17] Basho-JIRA commented on #685
I am not convinced William Hill are seeing this specific issue. I have asked for further troubleshooting by ESL. As such the prioritisation should not be based on William Hill needing this fixed.

***[posted via JIRA by Dan Brown]***

[2015-04-17 21:13] oktie opened #729 "Search not working: "Not enough nodes are up to service this request.""
I have a 100-node Riak cluster running with default settings (except for search=on and increased ring size). At some point, search (Yokozuna / Solr) stopped working, with any query returning "Not enough nodes are up to service this request.". All the nodes are running fine and the key value store is functioning properly, so it seems like a search/Solr issue but I haven't been able to figure out wh

[2015-04-18 16:04] dougluce opened #730 "PB Delete, no error when key doesn't exist?"
The proto file says RpbDelReq "will return a RpbDelResp on success or RpbErrorResp on failure."  I can get a RpbErrorResp if I send bogus params (rw to 999999, say).  But if I try to delete a key that does not exist, I get a RpbDelResp.  The HTTP interface works as I'd expect, giving me a 404 with "not found" body on deleting bogus keys.

What am I doing wrong?

[2015-04-20 12:40] khauser commented on #675
fixed in 2.1.0

[2015-04-20 12:40] #675 closed

[2015-04-21 16:32] lukebakken opened #733 "Riak devrel failing to start with message: "handoff.ip invalid, must be a valid IP address" [JIRA: RIAK-1742]"
This is the same issue reported in basho/riak_core#670, but applies to a devrel built from the `riak-2.1.0` tag.

A fix is included in PR #731

[2015-04-28 23:07] Basho-JIRA commented on #685
https://github.com/basho/riak/issues/685

**_[posted via JIRA by Deborah Rakow]**_

[2015-05-08 11:39] cipy opened #737 "changing queue_size has no effect for the riak-repl realtime queue [JIRA: RIAK-1799]"
Our app.config has the new value (1 GB):
root@riak-1:~# grep queue /etc/riak/app.config
{queue_size, 1073741824}

But after a restart, the riak-repl status still shows the default (100 MB):
root@riak-1:~# riak-repl status | grep max_bytes
{max_bytes,104857600},

[2015-05-08 11:51] cipy commented on #737
we found the following versions to be affected: 1.4.12+ and 2.0.5+

[2015-05-08 12:37] jonmeredith commented on #737
I believe the setting you need is `rtq_max_bytes` under riak_repl.
You can also 'do it live' with `riak_repl_rtq:set_max_bytes(1073741824)`, but that won't survive a restart (or process crash).

In future, we should probably make JIRA file RiakEE issues against https://github.com/basho/riak_ee-issues.

[2015-05-08 12:38] #737 closed

[2015-05-08 13:21] boosty commented on #737
@jonmeredith Thanks! I was the one asking @cipy for help in this case :wink:

Just wanted to let you know that setting it live via `riak attach` does not seem to work with 1.4.12:

[code]

However, I am happy that setting `rtq_max_bytes` works via `app.config`.

[2015-05-08 13:54] jonmeredith commented on #737
Apologies, got the wrong module... the price of rolling upgrade compatibility. `riak_repl2_rtq:set_max_bytes(1073741824)`

[2015-05-22 07:15] rastkojokic commented on #475
I am experiencing similar issue when I try to install Riak.

I am using: `Ubuntu 14.04.2 LTS`

Here is the sequence of commands that I have executed:

[code]

Update gives me the following error:

[code]

Thank in advance!

[2015-05-22 12:01] k-bx opened #738 "Error processing incoming message: error:{case_clause,rpblistkeysreq} [JIRA: RIAK-1823]"
I am trying to make a simple program with Haskell Riak driver and get an error on Mac OS X. I know that haskell driver is out of your scope, but I was hoping you can explain an error that riak logs to me, that would help a lot. I created separate issue inside haskell driver itself to get some help from an author.

The program is very simple, it just lists buckets:

[code]

Output of a program:

[c

[2015-05-22 12:12] k-bx opened #739 "Error processing incoming message: error:data_error:[{zlib,call,3,[]} [JIRA: RIAK-1824]"
One more error to #738 with which I am asking for your help. This one I got after running `cabal test` tests in haskell lib. Logs begin with same message as #738 (same running riak), but error is different:

Test output:
[code]

Riak logs:

[code]

[2015-05-22 13:39] k-bx commented on #739
Sorry, my bad. I modified a bit haskell's riak driver (I am implementing lookup-by-secondary-index functionality) and I didn't put msg types into the right place, so driver started sending wrong message codes.

[2015-05-22 13:39] #739 closed

[2015-05-22 13:39] k-bx commented on #738
Sorry, my bad. I modified a bit haskell's riak driver (I am implementing lookup-by-secondary-index functionality) and I didn't put msg types into the right place, so driver started sending wrong message codes.

[2015-05-22 13:39] #738 closed

[2015-05-22 13:45] jonmeredith commented on #739
Thx for the speedy update @k-bx - I was a bit puzzled by the crash dump :)

[2015-05-22 17:24] JeetKunDoug commented on #733
This is handled by https://github.com/basho/riak/pull/734, which was released in 2.1.1. Can we close this and the related PR?

[2015-05-22 17:36] JeetKunDoug commented on #717
@xiaoliuliu2050 did you activate your bucket type after creating it? In order for riak to make sure the bucket type is available across the cluster, you need to first create the bucket type, and then activate. See http://docs.basho.com/riak/latest/dev/advanced/bucket-types/#Managing-Bucket-Types-Through-the-Command-Line for more information

[2015-05-26 21:35] lukebakken commented on #733
Fine by me!

[2015-05-26 21:35] #733 closed

[2015-05-28 17:39] takabow opened #740 "riak-debug on Riak 2.1.1 always returns error"
riak-debug command on Riak 2.1.1 always returns error at the same place.

- Cent OS 6.5: `[: too many arguments`
- Ubuntu 14.04: `[: !: unexpected operator`

The message depends on shell.

[code]

https://github.com/basho/riak/blob/riak-2.1.1/rel/files/riak-debug#L863

[code]

First, L863: `$exclude` is unquoted and hence the variable is expanded with white-space when the if-clause is evaluated. T

[2015-05-29 20:21] Basho-JIRA opened #741 "Verify leveldb ram default is 70% in the release config [JIRA: RIAK-1838]"
null

**[Created in JIRA by Patricia Brewer]**

[2015-06-07 07:13] DeadZen commented on #337
I believe @matthewvon mentioned this was heavily optimized for Riak's _1.0_ use-case. We are well beyond that now (two years now with 3.0 on the roadmap), has there been anything more substantial than a cursory glance of the contrasts in the implementations? Maybe some Basho benchmarks?; I think the appropriate response here is quantitative because I fail to see how multiple writers per partition,

[2015-06-11 18:13] weaktyper commented on #683
+1 agree.

[2015-06-11 18:13] lukebakken opened #744 "Edge-case of Riak handoff [JIRA: RIAK-1859]"
We need to ensure that Riak can't be started or run in a scenario in which a node is communicating with itself for handoff.

[2015-06-12 04:55] jsvisa opened #745 "kv_vnode becomes invalid after riak restarted with Erlang/OTP 17.0 or later [JIRA: RIAK-1861]"
With riak 2.1.0 running in Erlang 17.0 or later, seems the kv_vnode files become invalid after a node restart, in its' starting phase, below is the error log:

[code]

the crash log comes from `riak_kv_vnode_status_mgr:read_vnode_status/1`, and I use `file:consult/1` to read the kv_vnode, it failed again with

[code]

but with Erlang R16B03, the error doesn't appearing.

I don't know it's erlang's

[2015-06-12 09:23] jadeallenx commented on #745
See https://github.com/basho/riak_kv/pull/1141

[2015-06-12 09:24] #745 closed

[2015-06-15 12:20] binarytemple opened #746 "Spurious riak-debug error '...E' generated from cluster-info generation"
(Riak 2.0.5)

Executed `riak-debug` and received the following output:
[code]
I grepped through the info files for non-zero return code:

[code]
But the output of that command was found in `/commands/cluster-info.html` and appeared to be correct.

[2015-06-16 20:28] jenagraham opened #747 "riak-admin cluster commit failure returns zero"
When other riak-admin commands fail, they return a non-zero failure code.  For example, when a `rial-admin cluster join` command fails the following is returned:
[code]
However, when `riak-admin cluster commit` fails, it returns an "error code" of 0.  It should return a non-zero error code in the case of failure.

[2015-06-18 17:31] jenagraham opened #748 "Riak-debug throws error during execution [JIRA: RIAK-1874]"
The `riak/rel/files/riak-debug` file throws the following error during execution:

[code]

This error originates from the following line:

[code]
To fix this, the `$exclude` must be in quotation marks as follows:
[code]

[2015-06-18 17:46] jenafermiller commented on #748
PR for fix:  https://github.com/basho/riak/pull/749

[2015-06-22 01:23] cmeiklejohn commented on #748
:+1: 09ed9f3, please open backports for 2.0 and 2.1 if necessary.

[2015-06-22 01:24] #748 closed

[2015-06-24 23:18] Basho-JIRA commented on #741
Checked - rel has limited_developer_mem=false

**_[posted via JIRA by Jon Meredith]**_

[2015-06-24 23:18] #741 closed

[2015-06-26 10:46] hcs42 opened #754 "Nodes don't initiate handoffs if `riak-admin vnode-status` is called often"
**The problem** is easy to reproduce (I tested Riak 1.4.1 and Riak 2.1.1):

1. Have a cluster with at least 2 nodes.
2. Stop one node.
3. Generate some puts so that there is data to be handed off. (I used `basho_bench`.)
4. Execute `riak-admin transfers`. Select a node that has at least one partition to hand off to the stopped node. We will use this as the "source node".
5. Make sure that `riak-ad

[2015-06-26 11:32] binarytemple commented on #754
Confirmed from our side and @joecaswell also had some comments:

[2015-06-26 14:42] jadeallenx commented on #754
This sounds like a case where it would be simplest to send a message using a timer with an explicit message using `erlang:send_after/3` and then maybe manipulating the FSM state from the info message properly.

[2015-06-26 14:43] jadeallenx commented on #754
Or, I suppose another option would be to piggy-back on the management tick message.

[2015-06-26 22:32] Basho-JIRA commented on #685
Jon M confirmed code merged to 2.0.6 on 6/25/15.  Dev is done. Now just waiting to go into additional releases.

**_[posted via JIRA by Patricia Brewer]**_

[2015-06-26 22:32] #685 closed

[2015-06-26 22:44] Basho-JIRA commented on #741
Jon M confirmed code merged to 2.0.6 on 6/25/15.  Dev is done. Now just waiting to go into additional releases.

**_[posted via JIRA by Patricia Brewer]**_

[2015-06-27 09:01] superjaska opened #755 "Build fails on compiling protobufs [JIRA: RIAK-1908]"
fatal: Not a git repository (or any of the parent directories): .git
Using rebar.config.lock file to fetch dependencies
./rebar -C rebar.config.lock get-deps
==> rebar_lock_deps_plugin (get-deps)
==> node_package (get-deps)
==> goldrush (get-deps)
==> lager (get-deps)
==> syslog (get-deps)
==> lager_syslog (get-deps)
==> cluster_info (get-deps)
==> sidejob (get-deps)
==> erlang_js (get-deps)
==> m

[2015-06-27 20:43] ArpitSuthar opened #756 "Switch to RocksDb from LevelDB"
I would like to port leveldb backend storage to RocksDB.

RocksDB builds on LevelDB to be scalable to run on servers with many CPU cores, to efficiently use fast storage, to support IO-bound, in-memory and write-once workloads, and to be flexible to allow for innovation.

[2015-06-28 13:51] matthewvon commented on #756
Why?  Have you personally tested the configuration?

See third party results:  https://influxdb.com/blog/2014/06/20/leveldb_vs_rocksdb_vs_hyperleveldb_vs_lmdb_performance.html

[2015-06-29 14:45] Basho-JIRA commented on #685
Can the fix or commit be linked on this ticket?

**_[posted via JIRA by Dan Brown]**_

[2015-07-01 16:09] ksauzz opened #759 "dvv_enabled is changed to true in default bucket type if default_bucket_props is specified in advanced.config. [JIRA: RIAK-1913]"
DVV is disabled in default bucket type on default. But if one add some default_bucket_props items into advanced.config, dvv_enabled is enabled in default bucket type.

This is tested on both 2.1.1 and 2.0.5. They show the same results.

##### test with default configuration.

###### generated app.config

[code]

###### application env

[code]

##### test with `{default_bucket_props, [{allow_mult,

[2015-07-02 08:30] binarytemple opened #760 "handoff.ip missing from configuration on 2.0.6 devrel build [JIRA: RIAK-1914]"
Could be a bug - or perhaps just a problem with devrel

[code]
Note how the handoff.ip is blank?

[2015-07-02 11:27] JeetKunDoug commented on #760
I've reproduced this by first building the develop branch, then switching to the 2.0 branch and rebuilding without first cleaning up deps/dev directories - but it doesn't reproduce after a clean (as the problem has to do with a change made in the 2.1 series cuttlefish schema for handoff.ip). `make distclean` will do this for you, but `make clean` doesn't do enough (as it doesn't actually remove yo

[2015-07-02 13:43] binarytemple commented on #760
Confirmed, and thanks for your help. Perhaps this could be a future rebar enhancement. B

[2015-07-02 13:43] #760 closed

[2015-07-02 17:16] JeetKunDoug commented on #760
So `make clean` means "please remove any compile-derived files from my filesystem", not necessarily "remove everything other than source from my filesystem", and cleaning the deps directory seems to fall into the latter case.

[2015-07-04 22:33] Basho-JIRA commented on #680
This was assigned to me, but I just pulled the latest version of Riak EE and it appears to be working just fine?

**_[posted via JIRA by Chris Meiklejohn]**_

[2015-07-06 12:37] binarytemple commented on #585
Is this going anywhere or should we just close out?

[2015-07-07 02:42] cclam0827 opened #761 "riak crash within 30sec [JIRA: RIAK-1917]"
I am using OTP 17.5, and riak 2.1.1. I can start riak and use it at the first time, but if I stop the node and start again it will get crashed every time in 30 sec. Any one know what is the problem?

[code]

[2015-07-07 07:16] russelldb commented on #761
HI,
Riak does not yet support OTP 17.5. Please use the basho erlang 16. The error you are seeing is to do with vnode-status files and the default encoding change in OTP 17.

This patch https://github.com/basho/riak_kv/pull/1115 might get you running, but is not the proper solution for the problem you are seeing.

We do have a branch of core (https://github.com/basho/riak_core/pull/733) that is awa

[2015-07-07 07:16] #761 closed

[2015-07-09 20:15] Basho-JIRA commented on #685
This is linked to GH Riak/685.  [~dbrown] are you looking for something different?

**_[posted via JIRA by Patricia Brewer]**_

[2015-07-09 20:21] Basho-JIRA commented on #685
This is linked to GH Riak/685.  [~dbrown] are you looking for something different?  This fix didn't go into 2.0.6.  Needs to go in a future release.

**_[posted via JIRA by Patricia Brewer]**_

[2015-07-13 19:26] mogadanez opened #766 "packagecloud: package for debian/jessie is absent [JIRA: RIAK-1960]"
https://packagecloud.io/basho/riak?filter=debs
jessie now is last stable debian build
and many automation script that used packagecloud not works on jessie

[2015-07-15 09:03] binarytemple opened #767 "riak-debug should include dump of bucket-type information"
We have a need to include the bucket-type information in riak-debug, for example, where diagnosing the [case where both DVV and last_write_wins are enabled](http://docs.basho.com/riak/latest/community/product-advisories/dvv-lastwritewins/).

Back when buckets were the only mechanism, it was easy, just decode the ring-file and extract the custom bucket information from there.

But bucket-type infor

[2015-07-15 09:24] nerophon commented on #767
Seconded. However we must consider the case where there a lot of bucket-types. How many is it practical to list (including configuration)? i.e. what's the overhead, does it bloat the size of debug-output?

[2015-07-15 14:09] jonmeredith opened #768 "riak-debug should capture LOG.old"
While there's a few riak-debug related things going by...

In cases where the node has been restarted before the riak-debug has been collected then the leveldb LOG files rotate to LOG.old and recreate new ones.  If there were any leveldb related performance issues before the crash we lose them.

The logs compress well and they're worth every byte when you need them.

[2015-07-18 11:46] ArpitSuthar commented on #756
From the third party results we can that RocksDB is performing better in terms of Read/Write/Delete queries and DB compaction. Also it has performed average in other areas that are tested.

@matthewvon  I would love to personally test the configuration of RockDB as storage with comparison of existing LevelDB. Though I need some guide to how to switch from RocksDB and test it.

[2015-07-19 03:09] alexmoore commented on #756
@ArpitSuthar You'd have to implement Riak's [Backend API](http://docs.basho.com/riak/latest/dev/references/backend-api/).  Basho does this through [eLevelDB](https://github.com/basho/eleveldb), which is the Erlang interface to Level, and our branch of [LevelDB](https://github.com/basho/leveldb).

[2015-07-21 10:04] Basho-JIRA commented on #685
Thanks Patricia. I would like to know which version of Riak this will be available in and would like a link to the commit (not the GH issue) of the code change that fixes this.

**_[posted via JIRA by Dan Brown]**_

[2015-07-22 12:17] casertap opened #770 "hook_crashed,{riak_search_kv_hook,precommit,error,badarg}"
I am trying to set up solr to work with riak for optimized search.
I am getting very confused with all the different versions of the documentation.
It seems that riak as changed a lot in version 2.1 and many deprecated documentation still exists on the internet.

So in the config file I set:
[code]

I have installed solr:
[code]
curl -X POST -H "content-type:application/json" http://localhost:8098

[2015-08-02 15:07] NoKriK commented on #551
Hi,

I just hit the same issue while trying to compile Riak on Scaleway.

[code]

Here is the environment in which I'm trying to compile Riak:
Erlang version: R16B02-basho8 built using kerl
OS: Ubuntu 15.04 (Vivid)
Riak tag: 2.1.1
ElevelDB: 1.1.1

I just found that version 1.1.1 of ElevelDB didn't have the two configuration template files which rebar is awaiting.
This solves the issue:

[code]

Th

[2015-08-05 15:33] danqing opened #771 "Will Riak support bulk mode R/W sometime?"
While clients can do multithread R/W's, that still involves lots of roundtrips. Will Riak support bulk APIs at some point so that we can just dump a payload to Riak to be written/fetched, in one TCP request?

[2015-08-10 16:07] Basho-JIRA commented on #727
I have found an alternative to Sean's approach that works; needs more review to make sure it's as otherwise harmless as I think it is.

bugfix/jrd/727

**_[posted via JIRA by John Daily]**_

[2015-08-10 16:09] Basho-JIRA commented on #727
I have found an alternative to Sean's approach that works; needs more review to make sure it's as otherwise harmless as I think it is.

https://github.com/basho/riak_core/tree/bugfix/jrd/727

**_[posted via JIRA by John Daily]**_

[2015-08-11 13:52] Basho-JIRA commented on #727
Filed https://github.com/basho/riak_core/pull/765

**_[posted via JIRA by John Daily]**_

[2015-08-11 23:15] Basho-JIRA commented on #727
[~jdaily] Does that mean we should abandon [https://github.com/basho/riak_kv/pull/1109]?

**_[posted via JIRA by Brett Hazen]**_

[2015-08-12 06:47] shino commented on #608
I think this is fixed by https://github.com/basho/riak_kv/pull/1155

[2015-08-12 17:51] #727 closed

[2015-08-13 00:53] kri5 commented on #766
:+1:

[2015-08-17 18:54] cshope opened #772 "Executing DeleteValue builder produces Solr missing required field exception"
I'm seeing the following exception in the Solr log when I attempt to execute a DeleteValue via the Java Riak-Client. I am using:

JRuby 1.7.16.1
Riak-Client Java 2.0.0

Basic example:

1. Let's say the Solr index schema.xml has a required field.

2. I create a 'record' with the required field and save it successfully. No exception is produced in the Solr log. I am able to retrieve the user's favor

[2015-08-18 23:54] jwmtllc commented on #547
I understand this is closed but I ran into something similar. I had a Solr index that I was unable to delete. My error was that I had accidently associated two buckets with the same bucket-type, the bucket-type associated with my index. This may be okay in some cases. In my case the identical lookup key was created twice (along with additional data I did not want indexed!). I was able to find this

[2015-08-31 12:15] Basho-JIRA opened #774 "Remove etop_txt.erl from the release once it is in our OTP fork [JIRA: RIAK-2144]"
Once the etop_txt.erl changes have made it into our OTP fork I suggest that we remove this file from the riak and riak_ee repos.

**[Created in JIRA by Torben Hoffmann]**

[2015-09-04 15:43] mk1s opened #775 "riak-debug feature request -- Add dmidecode"
Recent ticket activity has involved clusters with mixed hardware and unexpected behavior(s).

It might be useful to add dmidecode to get more descriptive output of chipsets, hardware, etc. for debugging and comparison purposes.

[2015-09-08 10:10] ronalfei opened #776 "about the redis add-on"
hi
I see some description about redis add-on,  I very expect this.
so I want to kown when will the redis add-on be  release?  or it will be into the Enterprise edition?

thank you!  :)

[2015-09-08 15:19] gcymbalski commented on #714
They never have been.

Is this a new requirement?

[2015-09-08 20:44] ph07 commented on #776
Hello,

For now, Redis add-on will be only available in Enterprise Edition. We do plan to release some of functionality as open source in future releases, but there is no hard date for it.

Thanks,
Pavel

[2015-09-09 01:52] ronalfei commented on #776
thank you for reply, expecting open source!

[2015-09-14 06:36] ZhaoX commented on #776
@ph07  I'm very interested in Redis add-on too. While it is only available in Enterprise Edition, are there more documents about it's architecture?

Thanks.

[2015-09-14 13:42] cuyler commented on #776
@ZhaoX You can take a look at that official documentation here: http://docs.basho.com/dataplatform/latest/

That'll give at least a bit of an idea on how it works.

[2015-09-15 08:30] ZhaoX commented on #776
@cuyler Thank you for your reply.

[2015-09-17 06:36] buriwoy opened #777 "Only root user can start Riak [JIRA: RIAK-2192]"
Hi there,

I installed basho-erlang 16 and followed all the instructions to install riak 2.1.1 from source (http://docs.basho.com/riak/2.1.1/quickstart/). I never used root or sudo command to install riak.

After installing I added 2 devnodes by this command:

```make devrel DEVNODES=2```

But I can't start riak with a user name that installed erlang and riak 2.1.1.

##### riak start output:

[cod

[2015-09-17 15:54] jadeallenx commented on #777
This is the relevant bit of the crash report here: `{error,{file_error,"./data/cluster_meta/manifest.dets",eacces}}`

It's a permissions issue of some kind - did you build the whole system as the root user?

[2015-09-17 16:10] chapani commented on #777
If you mean riak installation by "the whole system", no, I used neither root nor sudo. Except for dependencies:

[code]

But I don't think it has anything to do with the issue.

[2015-09-17 22:36] jadeallenx commented on #777
According to the error, the user account that Riak is started under does not have permission to read or write the `./data/cluster_meta/manifest.dets` file.  Is there some kind of mismatch between the user account that's starting the riak application and the file system location where it's being run out of?

[2015-09-18 00:32] chapani commented on #777
No, everything is the same, in the user's home dir. That same user installed basho's erlang and Riak.

I also tried to change user:group recursively under that user (my guess is even before that everything belonged to the user). It didn't help.

[2015-09-18 17:14] jadeallenx commented on #777
This is the [relevant part that's failing](https://github.com/basho/riak_core/blob/2.1.1/src/riak_core_metadata_manager.erl#L585). Could you try running `dets:open_file(test, [{file,"./data/cluster_meta/manifest.dets"}]).` from the erlang shell?  Just type `erl` from your terminal.  You should see a `1>` prompt.  Enter the dets command at `1>`.

If that fails, try `dets:open_file(test, [{file,"/tm

[2015-09-18 20:08] chapani commented on #777
Here is what I got:

[code]

[2015-09-18 20:17] jadeallenx commented on #777
OK, does the `./data/cluster_meta/manifest.dets` file exist on disk? If so, what does `ls -l ./data/cluster_meta/manifest.dets` show?

[2015-09-18 20:32] chapani commented on #777
yes, it exists. Surprisingly, it belongs to root:

[code]

[2015-09-18 20:35] jadeallenx commented on #777
Hopefully there's no data you need to keep around?  If so, you can delete the directories and try to start Riak again.

[2015-09-18 20:38] chapani commented on #777
what directories you mean? data/\* ?

[2015-09-18 20:39] jadeallenx commented on #777
Yes `data/*`

[2015-09-18 20:52] chapani commented on #777
I got a new error:

[code]

[2015-09-19 00:35] chapani commented on #777
Thanks, @mrallen1 for your efforts!

I figured out the issue. It was /tmp//home/user/apps/new_riak-2.1.1. After deleting /tmp/home, it worked.

thanks again, have a good weekend,

-- buriwoy

[2015-09-19 00:35] #777 closed

[2015-09-22 11:13] Basho-JIRA commented on #774
Need to consider what effect this will have on Riak running on non-Basho OTP, and whether that should be a concern.

**_[posted via JIRA by Ted Burghart]**_

[2015-09-22 13:22] Basho-JIRA commented on #774
It will only change the etop output so it would be nice to know how much that is actually being used.
And if the information is relevant - might be that we should change the information.

Or do we have other things that will show the same information?

**_[posted via JIRA by Torben Hoffmann]**_

[2015-09-22 13:35] slfritchie commented on #774
The number of MFAs that exceed etop's default number of columns is .... too small for a lot of Riak module+function names.  The patch is there to make the output wider, which is a pain of a different kind, admittedly. Being able to see the entire mod+fun name is the end goal, IMHO.

[2015-09-25 12:22] william-gr commented on #704
I have committed databases/riak2 and lang/erlang-riak yesterday to FreeBSD ports tree, I'll be adding stanchion and riak-cs today.

[2015-09-26 19:18] nbari commented on #704
http://www.freshports.org/databases/riak2/

Many thanks

[2015-09-26 19:18] #704 closed

[2015-09-27 20:13] binarytemple commented on #415
So the solution, in the presence of non-valid-utf8-named buckets or  non-valid-utf8-named keys is to use the protocol buffers interface - as they can't be represented in valid JSON. This sounds reasonable to me. Javascript Map/Reduce is also deprecated. Can this issue be closed now?

[2015-09-27 20:29] binarytemple commented on #415
Interestingly, the python client doesn't seem able to list them either.

c=riak.RiakClient(protocol='pbc',nodes=[{'host':'127.0.0.1', 'http_port':'10018','pb_port':10017}])
c.get_buckets()

[code]

It might be worth raising an issue against the Python client if unicode bucket names are indeed supported. Thoughts?

[2015-10-02 07:07] shino commented on #759
It seems that [1] fixed this bug. The commits are included in riak_core's
2.0 and 2.1 branches, but not yet included in riak releases 2.0.6 or 2.1.1.

---

At the last commit hash of the PR

[code]

At the parent commit hash of the first commit of the PR

[code]

[1] https://github.com/basho/riak_core/pull/765

[2015-10-02 07:07] #759 closed

[2015-10-02 18:36] mbbroberg commented on #714
Hey @gcymbalski, this request is a valid new feature for us. It's certainly a standard in our industry. Thanks @danieldreier for opening it up. Our infrastructure team is building some pretty big projects of late so this may take a little while to address just so you know. Cheers! :bow:

[2015-10-02 19:38] danieldreier commented on #714
thanks @mjbrender

[2015-10-05 19:23] #714 closed

[2015-10-05 19:32] mbbroberg commented on #714
Hey @danieldreier - I guess I need to follow up on this elsewhere.

[2015-10-05 19:44] danieldreier commented on #714
thanks @mjbrender - it's probably worth noting that packagecloud (which basho currently uses) can sign packages for you. I don't know what your build pipeline looks like but it should be relatively straightforward to enable that step.

[2015-10-07 00:36] TJC commented on #415
@binarytemple, you wrote "So the solution, in the presence of non-valid-utf8-named buckets or non-valid-utf8-named keys is to use the protocol buffers interface - as they can't be represented in valid JSON. This sounds reasonable to me."

In the two years since I created this ticket, I started using the PBC interface via the RJC via Scala, and can confirm that it does work with the non-unicode-buc

[2015-10-08 22:04] Basho-JIRA commented on #733
Closing this based on the comment above stating it was resolved with PR 734 in release 2.1.1

**_[posted via JIRA by Patricia Brewer]**_

[2015-10-10 14:46] lukebakken opened #783 "Rebar lock file references private repository [JIRA: RIAK-2224]"
https://github.com/basho/riak/blob/end-to-end/timeseries/rebar.config.lock#L127-L129

`make locked-deps` fails due to the above reference to a private repository.

[2015-10-13 15:48] cipy opened #785 "riak segfaults [JIRA: RIAK-2226]"
while trying to stop riak (2.0.6) or even during normal operation the following segfaults are recorded

[594503.149869] traps: beam.smp[10885] general protection ip:7f01c6a134c2 sp:7f011b7d5d00 error:0 in eleveldb.so[7f01c69c2000+86000]
[696293.070195] beam.smp[17620]: segfault at 7fb70da0d470 ip 00007fb70da0d470 sp 00007fb8e87d7e58 error 15
[859730.649709] beam.smp[7434]: segfault at 7f30cac8d130

[2015-10-13 16:05] matthewvon commented on #785
Segfault during stop fixed by change in util/env_posix.cc function Shutdown().  Said fix moved to develop branch with merge of mv-timed-grooming.  Awaiting release.  Segfault "during normal operation" has not be documented / researched.

[2015-10-26 19:41] Basho-JIRA commented on #683
Doug researched and the PR is the wrong one, so removed the Fix Version.

**_[posted via JIRA by Patricia Brewer]**_

[2015-10-26 19:44] Basho-JIRA commented on #666
Fix version and PR removed since not related per Doug.

**_[posted via JIRA by Patricia Brewer]**_

[2015-10-26 19:44] Basho-JIRA commented on #666
Something was fixed in the .net client, not here /Riak

**_[posted via JIRA by Patricia Brewer]**_

[2015-10-29 12:09] viktoriafordos opened #786 "Cascade write ignores bucket repl=false"
Riak version used is 2.0.6 EE.

{Fred} -> {Bob} -> {Jane}

{Fred} has:

•	Bucket a: n_val = 5
•	Bucket b: n_val = 3

{Bob} has:

•	Bucket a: n_val = 5
•	Bucket b: n_val = 3

{Jane} has:

•	Bucket a: n_val = 5

Sequence:

1.	I set {Bob} to have cascade writes = true
2.	I created a new bucket on {Bob} [ABTest] and set the repl property to false
3.	I then inserted a new object into [ABTest] on {Fred}

[2015-10-29 12:16] viktoriafordos opened #787 "v2.0.6 bucket type – incorrectly configured"
Used Riak version is 2.0.6 EE

I think I have found one to do with the new BucketTypes, where interaction with a bucket type that has been incorrectly setup can cause a silent failure (from the client perspective)

Scenario:

1.	Create a cluster with multi backend:
 a.	Leveldb
 b.	Bitcask
2.	Set the default backend to be the Bitcask storage
3.	Create and activate buckettype <<”leveldb_bucket”>>, w

[2015-11-06 01:52] cread opened #789 "node_put_fsm_active maxing out"
We've been building riak from source for a while, but I've had trouble getting the 2.1.x releases built reliably and so would like to revert back to using the .deb package. The problem I have is that in our test environment we always manage to max out node_put_fsm_active under sustained write loads, and they never drop, even when disk activity drops to zero.

When running riak 2.0.4 on R16B02-bash

[2015-11-06 02:05] macintux commented on #789
Thanks for this report, and the detail. I know we've been a bit wary about HIPE; when I saw it mentioned I fully expected the failing node to be using it.

https://github.com/basho/otp/pull/3 is the only change between basho5 and basho6.

[2015-11-06 12:34] tburghart commented on #789
Empirically, HiPE **_seems**_ to be ok on 64-bit Linux, but I'm not going to go out on a limb and recommend it - the problem is that if it breaks, it won't generally do it until the system is pretty well loaded, so the results can be catastrophic.

On careful review of the above there are version differences in several key components, so they can't both be from the `2.0.4` tag. Are these Basho rel

[2015-11-06 14:15] cread commented on #789
The packages that are giving me problems are the Basho released .deb packages available from http://docs.basho.com/riak/latest/downloads/

We've been running the HiPE enabled build in production since late January this year, which I built from the 2.0.4 tarball downloaded from the above URL. I built them following the Installing from Source instructions for 2.0.0.

[2015-11-09 15:17] Zerebokep opened #790 "Riak doesn't start anymore - Waiting for service riak_kv to start (540 seconds)"
After a server crash riak doesn't seem to start anymore. There are no errors logged.

Here is the console.log:

2015-11-09 16:04:31.030 [info] <0.7.0> Application lager started on node 'riak@127.0.0.1'
2015-11-09 16:04:31.038 [info] <0.7.0> Application sasl started on node 'riak@127.0.0.1'
2015-11-09 16:04:31.039 [info] <0.7.0> Application asn1 started on node 'riak@127.0.0.1'
2015-11-09 16:04:31.

[2015-11-09 20:35] JeetKunDoug commented on #790
Can you try a few things for me:
1. See if you have anything in crash.log or error.log, which may help us understand what's going on.
2. Run riak as `riak console`, which will start riak but keep all its output on the console, and see if you get any further information.

Thanks,

Doug

[2015-11-09 22:42] Zerebokep commented on #790
1. The last few errors in the error log are:

2015-11-08 23:20:15.760 [error] <0.229.0> Supervisor riak_pipe_fitting_sup had child undefined started with riak_pipe_fitting:start_link() at <0.5108.3055> exit with reason noproc in context shutdown_error
2015-11-08 23:21:01.390 [error] <0.229.0> Supervisor riak_pipe_fitting_sup had child undefined started with riak_pipe_fitting:start_link() at <0.871

[2015-11-10 09:23] Zerebokep commented on #790
I'm not sure if this helps, but here is some output of riak top:

#

 'riak@127.0.0.1'                                                          09:21:44
 Load:  cpu         0               Memory:  total       79619    binary        208
        procs    1391                        processes   41132    code        13421
        runq        0                        atom          549    ets

[2015-11-10 11:28] Zerebokep commented on #790
Another thing, in /var/lib/riak/leveldb there are some files/folders owned by root instead of riak, is this normal?

The files are:

-rw-r--r--  1 root root    0 Nov 10 10:09 000002.log
-rw-r--r--  1 root root   16 Nov 10 10:09 CURRENT
-rw-r--r--  1 root root    0 Nov 10 10:09 LOCK
-rw-r--r--  1 root root 2.4K Nov 10 10:09 LOG
-rw-r--r--  1 root root  148 Nov 10 10:09 LOG.old
-rw-r--r--  1 root ro

[2015-11-10 12:17] russelldb commented on #790
Nope, and that is probably you�re problem, leveldb failing to get a lock, and backing off, and trying again.

On 10 Nov 2015, at 11:28, Zerebokep notifications@github.com wrote:

[2015-11-10 12:38] Zerebokep commented on #790
I've changed the permissions, but it doesn't seem to solve the problem.

[2015-11-10 13:36] Zerebokep commented on #790
That's weird, even the status commands are telling me that everything is fine.

# riak-admin member-status

================================= Membership ==================================

## Status     Ring    Pending    Node

## valid     100.0%      --      'riak@127.0.0.1'

Valid:1 / Leaving:0 / Exiting:0 / Joining:0 / Down:0

# riak-admin ring-status

================================== Claima

[2015-11-10 14:54] hmmr commented on #790
To me `Segfault at 0` suggests it's a NULL pointer dereference, somewhere in eleveldb C++ code. @mvm?

[2015-11-10 15:50] Zerebokep commented on #790
Okay guys, problem is solved. I've repaired all leveldb partitions and riak started normally. It seems there is some reporting issue with riak when something is wrong with an leveldb partition.

[2015-11-10 18:06] JeetKunDoug opened #791 "Forward-merge hashtree fixes to 2.1 [JIRA: RIAK-2287]"
Need to forward-merge riak_kv, riak_core, and yokozuna from their respective 2.0 branches in order to bring hashtree fixes to 2.1

[2015-11-10 20:42] JeetKunDoug commented on #791
@zeeshanlakhani here's the PR we discussed.

[2015-11-11 00:18] JeetKunDoug commented on #791
The three connected PRs are ready for review - need to merge basho/riak_core#794 first, as the other two can't pass xref until the core PR is merged.

[2015-11-11 16:29] cread commented on #789
I've just done a test with my own build of 2.1.1 from source. The only difference between this build and the .deb packages is that my build has HiPE enabled. We see the same behavior.

Just in case it matters, here are the properties for the bucket we're writing to:

[code]

I'm going to see if I can reproduce this on a single node now.

[2015-11-11 21:08] cread commented on #789
I've been able to reproduce the problem using basho_bench on our test cluster. Here's the basho_bench configuration:

[code]

Within 2 hours or so you'll see `node_put_fsm_active` start creeping up. After it passes 1000 or so you can stop the load and that value does not drop.

Here's the `put_fsm` stats from one of the nodes once the load has been removed:

[code]

I'm now running this configurat

[2015-11-12 04:33] cread commented on #789
Ran the same script on a single node for 8 hours without being able to reproduce the lock up which I guess makes this a cluster problem.

[2015-11-15 11:52] dmilith opened #792 "Build issue under FreeBSD 11-CURRENT"
Hello. I did two small patches that makes build possible under FBSD 11 with clang 3.7.0:

https://bitbucket.org/verknowsys/sofindefinitions/commits/4c1761f887efc4de1cc3b4359382b0447b65a704

With these two, build passes.

[2015-11-15 14:10] hmmr commented on #792
Thanks for the patch. Can you open a PR in basho/eleveldb, against branch 2.1? cc @erikleitch.

[2015-11-16 20:00] erikleitch opened #793 "Primary key condition parsing [JIRA: RIAK-2299]"
When SQL queries are parsed, WHERE clauses involving primary keys are consumed and converted to start/end key pairs (and not passed to the backend filtering).

This works for things like: **WHERE time > 100 AND time < 400**, but is insufficient for handling combinations of operators like **WHERE time > 100 AND time != 400**.  These sorts of conditions cannot be converted into simple ranges.

To fi

[2015-11-16 22:48] Basho-JIRA commented on #793
Re-assigning this to Andy, since it's really a change in the erlang parser code that needs to happen, and I suspect he's a lot more familiar with it than I am.  Happy to work on it too, but I'll wait for Andy to have a first crack at it.

**_[posted via JIRA by Erik Leitch]**_

[2015-11-17 17:23] Basho-JIRA commented on #793
Working on this currently.

**_[posted via JIRA by Andy Till]**_

[2015-11-17 19:25] Basho-JIRA commented on #793
And as you noted, this is:

# partly the unbounded range query problem

ie, we don't support time > 100, therefore can't support time > 100 AND time != 400
which we've decided is _definitely not_ part of TS1.0, in which case we just need to document what's allowed and not allowed for TS1.0

# partly error handling

we should throw an error then if we get passed a query like time > 100 AND time !=

[2015-11-17 19:27] Basho-JIRA commented on #793
And as you noted, this is:

# partly the unbounded range query problem

ie, we don't support time > 100, therefore can't support time > 100 AND time != 400
which we've decided is _definitely not_ part of TS1.0, in which case we just need to document what's allowed and not allowed for TS1.0

# partly error handling

we should throw an error then if we get passed a query like time > 100 AND time !=

[2015-11-17 19:29] Basho-JIRA commented on #793
And as you noted, this is:

# partly the unbounded range query problem

ie, we don't support _time > 100_, therefore can't support _time > 100 AND time != 400_
which we've decided is _definitely not_ part of TS1.0, in which case we just need to document what's allowed and not allowed for TS1.0

# partly error handling

we should throw an error then if we get passed a query like _time > 100 AND tim

[2015-11-19 15:47] Basho-JIRA commented on #793
PR https://github.com/basho/riak_kv/pull/1271

**_[posted via JIRA by Andy Till]**_

[2015-11-20 01:59] yangchengjian commented on #761
I meet the problem too!

[2015-11-20 09:10] cclam0827 commented on #761
riak 2.1.1 not yet support otp17

[2015-11-20 20:28] cread commented on #789
Bump.

[2015-11-24 13:21] tburghart commented on #789
Hi @cread

I continue to believe what you're seeing is not directly related to HiPE, but I'm wondering if you're seeing the same behavior across versions with and without a HiPE-enabled VM?  In particular, HiPE (when it works) does optimize some operations, so could this be related to being CPU-bound?

Are you seeing your CPUs maxed out (or nearly so) without HiPE, but with lower loads when HiPE's

[2015-11-24 15:41] cread commented on #789
Correct, this is not HiPE related, as I pointed out in my first comment on 11/11. I get the same bad behavior using Riak 2.1.1 using the .deb package for Ubuntu 14.04 as built by Basho (no HiPE) and using a build I did from the source tarball with HiPE. The CPU's do not max out with either build.

Have you been able to reproduce the lockup using the basho_bench config I provided earlier?

[2015-12-01 11:58] tburghart commented on #789
@cread, can you confirm whether your kernel is tuned in accordance with the "Virtual Memory" and "Schedulers" sections of our [System Performance Tuning](http://docs.basho.com/riak/latest/ops/tuning/linux/#Storage-and-File-System-Tuning) docs?

If it's not, can you try those settings?  Given the symptoms you describe (which we're working to reproduce), it's clearly not the direct problem, but I'd

[2015-12-01 12:34] cread commented on #789
@tburghart I can confirm we're tuned as per the doc.

[2015-12-01 13:43] tburghart commented on #789
Thanks, just trying to cover all the bases

[2015-12-02 16:41] kesslerm opened #796 "Riak-debug fails on stock Solaris 10 [JIRA: RIAK-2314]"
On behalf of a customer:

riak-debug on solaris 10 isn't working...

[code]

The customer reported against Riak 2.0.6 but we see the same behaviour still on 2.1.2.

[2015-12-02 18:56] #793 closed

[2015-12-03 18:23] kesslerm commented on #796
The following patch against riak-debug from 2.1.2 seems to work on stock Solaris 10

[code]

[2015-12-04 20:47] yuriscom opened #799 "After client.shutdown node healthcheck still runs [JIRA: RIAK-2315]"
If connection to riak failed, i want to shutdown the client and expect that it will stop all riak processes, but it is still running and firing healthcheck errors every 30 seconds.

[2015-12-04 20:49] yuriscom commented on #799
it was supposed to be for basho-riak-client. sorry guys.

[2015-12-04 20:49] #799 closed

[2015-12-14 13:00] cipy opened #800 "AAE trees corruptions"
Riak crashes or regular stops? might corrupt the AAE trees making
a riak start impossible unless the corrupted trees are removed

[2015-12-14 15:24] JeetKunDoug commented on #791
With the three PRs merged, this issue is now resolved.

[2015-12-14 15:24] #791 closed

[2015-12-14 17:05] cread commented on #789
@tburghart have you guys been able to reproduce this yet?

[2015-12-14 19:30] roooms commented on #542
create jira issue

[2015-12-21 15:41] jcapricebasho opened #801 "Increase default Erlang port limit [JIRA: RIAK-2332]"
Our current default of `65536 ` for `erlang.max_ports` is too low. This default should be increased to `262144`.

[2016-01-06 06:11] ingenioustechie opened #802 "The package is of bad quality (Ubuntu 14.04)"
I tried to install latest version on my ubuntu 14.04 machine and it says `The package is of bad quality`
with the following details

`
Lintian check results for /tmp/mozilla_mozillaUser0/riak_2.1.3-1_amd64.deb:
perl: warning: Setting locale failed.
perl: warning: Please check that your locale settings:
	LANGUAGE = (unset),
	LC_ALL = (unset),
	LANG = "en_IN.ISO8859-1"
    are supported and installe

[2016-01-09 21:28] lucasbru commented on #755
I have the same problem (Fedora 23)

[2016-01-09 21:34] lucasbru commented on #755
Cryptic error message, easy solution.
Try a `sudo apt-get install erlang-parsetools`

[2016-01-12 19:17] Basho-JIRA commented on #796
Needs to forward merge

**_[posted via JIRA by Patricia Brewer]**_

[2016-01-14 08:55] alirizakeles opened #803 "Errors in documents for Multi Backend and Bitcask"
Hi,
I encountered some errors in riak documents.

- There is no configuration value called `bitcask.sync.open_timeout`, it must be `bitcask.open_timeout`. At least riak console log says so
[code]
Yes, it is really surprising and amazing to hear something meaningful from Riak logs. Thank you, this makes me so happy!.

Please fix it [here](http://docs.basho.com/riak/latest/ops/advanced/backends/bitc

[2016-01-19 17:06] llelf opened #804 "API behaviour on counters overflowing int64"
Tested on 2.1.3 and HEAD:

consider

[code]
…and connection dropped.

Logs

[code]

While HTTP API is ok
[code]

[2016-01-23 13:56] Zerebokep opened #805 "Riak needs a modern communication channel for troubleshooting. [JIRA: RIAK-2363]"
Is there any reason why there is no official forum or answers page for riak? I know there is a mailing list (which feels like 1999), but it seems no one actively moderates it. At least my messages never get approved. I really like Riak, but the missing community hub pushes me away from using it for future projects.

[2016-01-25 19:38] lukebakken commented on #805
Hello - have you had issues joining the mailing list? That is the way to avoid moderation.

http://lists.basho.com/mailman/listinfo/riak-users_lists.basho.com

There is an extensive list of community resources here: http://docs.basho.com/riak/latest/community/

I will bring up your concerns internally, thanks.

[2016-01-25 19:55] lukebakken commented on #805
Questions from internal team members:
- What would you suggest as a replacement for a mailing list?
- How does the mailing list or other community resources not meet your needs?

[2016-01-25 20:01] lukebakken commented on #802
Is this a stock Ubuntu 14 machine or have you modified it in any way, especially with regard to the following environment variables: `LANGUAGE`, `LC_ALL` and `LANG`?

[2016-01-26 19:47] Basho-JIRA commented on #796
https://github.com/basho/riak/pull/798 for riak

https://github.com/basho/riak_ee/pull/365 for riak_ee

Both are in the 2.0 branches of the respective projects - just need to be forward-merged to 2.1 (and make sure we don't pick up anything else unless it's relevant).

**_[posted via JIRA by Douglas Rohrer]**_

[2016-01-27 21:52] Basho-JIRA commented on #801
[~Mark Allen] please review the attached PR - it's really simple (increase a number, and fix the test to expect that number).

**_[posted via JIRA by Douglas Rohrer]**_

[2016-01-29 14:15] Zerebokep commented on #805
I think a bulletin board software would be perfect (e.g. invision power board, vBulletin, etc.). Or stackexchange like Unity Answers (http://answers.unity3d.com).

Imo mailing lists have a horrible usability, they are slow (if they are moderated), they have no search (you have to use google site: to find your info), you always need to publish your email, it's an really old medium, no one wants any

[2016-01-29 16:00] lukebakken commented on #805
Thank you for your suggestions. We do moderate the riak-users mailing list on a daily basis. If you find that an email to the list awaits moderation, joining the list will bypass that step.

[2016-01-29 16:00] #805 closed

[2016-01-29 17:14] muke5hy commented on #802
No I did not install any language pack.

[2016-01-29 17:53] lukebakken commented on #802
That's not really what I asked :smile:
- What version of Ubuntu 14 are you using - desktop or server?
- Is your Ubuntu 14.04 machine freshly installed or have there been modifications made?
- The presence of `/tmp/mozilla_mozillaUser0/riak_2.1.3-1_amd64.deb` in your log file is interesting. How are you attempting to install from the `.deb` file?

[2016-01-29 21:46] Basho-JIRA commented on #801
Validated tests and +1'd

**_[posted via JIRA by Mark Allen]**_

[2016-02-02 19:58] cread commented on #789
Ping! Anyone there? Anyone looking at this?

[2016-02-02 20:03] macintux commented on #789
One of our engineers attempted to reproduce and failed, but he wanted to try again more rigorously.

Unfortunately he’s been extremely busy. I hoped he’d have time this week, but he’s been out sick.

-John

[2016-02-02 20:22] cread commented on #789
Thanks John! Let me know if you need any more help or info from me getting to the bottom of this...

[2016-02-09 16:50] bsparrow435 opened #807 "Add kv_vnode id's to riak-debug"
Should be grabbing data_dir/kv_vnode so we have vnodeid's for any vector clock analysis.

[2016-02-10 20:24] Basho-JIRA commented on #796
https://github.com/basho/riak/pull/808 for riak - riak_ee was the first commit on the develop-2.2 branch w/o PR.

**_[posted via JIRA by Douglas Rohrer]**_

[2016-02-23 14:26] Basho-JIRA commented on #796
Confirmed fix is on riak and riak_ee, both for 2.0 and develop-2.2 branches

**_[posted via JIRA by Douglas Rohrer]**_

[2016-02-23 14:26] #796 closed

[2016-03-01 16:05] pigmej commented on #618
Really it's closed ? From what I see it shouldn't be closed...

[2016-03-01 16:32] zeeshanlakhani commented on #618
@pigmej sorry... twas by accident. We will keep this open and test. Just got lost in some Jira shuffling.

[2016-03-02 03:20] maddie927 commented on #729
Status?  Seeing the same thing but with 3 nodes.  It worked last week.

[2016-03-02 03:32] jonmeredith commented on #729
When the issue is happening, could you attach to the riak console (riak-admin attach) on one of the nodes and run

[code]

(Dot at the end important, ^G q to exit), And check if all of your nodes are in the list.