[2012-02-11 15:57] pilt opened #119 "libssl0.9.8 missing"
[code]

Installed from deb file: `dpkg -i riak_1.0.2-1_amd64.deb`.

From `/var/log/riak/error.log`:

[code]

`apt-get install libssl0.9.8` solves the error.

[2012-02-23 21:05] ghost opened #120 "riak-admin grep for cookie name fails on comments"
The current grep is the following:

[code]

It needs a ^ at the beginning, like the riak command already has:

[code]

[2012-03-06 03:04] RobertLowe opened #122 ""inet_tcp",{{badmatch,{error,duplicate_name}} start/console bug"
Howdy,

This just went out on the mailing list, but it was suggest that I should post here as well.

http://markmail.org/message/pjqo5qbdtepbfhit
http://hastebin.com/wucipobiho - Someone else having the same issue

For some reason and I'm not completely sure of the root cause. My uneducated guess is something with epmd. It seems to be a general erlang issue. [ejabberd report](http://www.ejabberd.i

[2012-03-06 15:32] Vagabond commented on #122
As the links you include say, this is caused by 2 nodes trying to use the same name (and the second one failing). empd -names will show you all the locally registered node names.

Is it possible you're inadvertantly trying to start riak twice?

[2012-03-07 10:46] davidmathei opened #123 "bin/riak start does not like cd->pwd"
Not really a big issue. But annoying anyway.

The system I work on does a `pwd` after a `cd <dirname>`, causing

   RUNNER_SCRIPT_DIR=$(cd ${0%/*} && pwd)

to receive two directory strings separated by white space.

I changed it to

   RUNNER_SCRIPT_DIR=$(cd ${0%/*} > /dev/null && pwd)

and it works again.

[2012-03-09 15:48] jaredmorrow opened #124 "Missing case clause for nodetool ping"
[This case clause](https://github.com/basho/riak/blob/master/rel/files/nodetool#L40) matches against both `net_kernel:hidden_connect_node(TargetNode)` and `net_adm:ping(TargetNode)` being true, or `net_adm:ping(TargetNode)` being false.    It is missing the case of `net_kernel:hidden_connect_node(TargetNode)` being false and `net_adm:ping(TargetNode)`  being true.

This missing clause will show up

[2012-03-13 00:07] RobertLowe commented on #122
@Vagabond

Sorry for the wait, yup, that was the issue.

I'll wrap it with some kind of lock.

Thanks a bunch!

[2012-03-20 13:20] ghost opened #125 "Default Certs not installed"
The default certificates are not installed under /etc/riak/ in the package.

See zd://1114

[2012-03-20 13:26] loxs commented on #125
I can confirm that

[2012-03-23 20:55] dreverri opened #126 "Beams in basho-patches don't take precedence over existing code"
The code path "lib/basho-patches" was recently added to Riak's start up using the "-pa" flag:
https://github.com/basho/riak/blob/083f666f597c81b2a9a336d30421dcb18813c012/rel/files/riak#L232
https://github.com/basho/riak/blob/083f666f597c81b2a9a336d30421dcb18813c012/rel/files/riak-admin#L341
https://github.com/basho/riak/blob/083f666f597c81b2a9a336d30421dcb18813c012/rel/files/riak-admin#L361
https:

[2012-03-26 17:01] gburd opened #127 "Let's ship libumem as our default memory allocator for Riak!"
libumem has proven itself under massive customer load on SmartOS for months now.  It's support for efficient concurrent allocation on multi-core/cpu systems is excellent, it's debugging features handy, and it's stability is qed.  Too bad it only runs on Solaris...

Enter "portable libumem" (https://labs.omniti.com/labs/portableumem) a project sponsored by our friends at OmniTI.  A nice port of lib

[2012-04-11 14:51] jonmeredith opened #130 "/var/run/riak is not recreated on demand at startup"
On sone systems (at least Fedora 15) /var/run is volatile and goes away at reboot. The /usr/sbin/riak script tries to recreate it if it is missing, but it drops permissions first so it fails.

[code]

[2012-04-13 14:50] jonmeredith commented on #130
Workaround by recreating the directory on startup.  Append this snippet to /etc/rc.local

[code]

[2012-04-22 21:14] spaquet opened #131 "ERROR: OTP release R15B01 does not match required regex R13B04|R14"
ERROR: OTP release R15B01 does not match required regex R13B04|R14
Blocking error while compiling RIAK on OS X Lion 10.7.3 with erlang R15B01 installed via "brew install erlang". Pretty strange as http://wiki.basho.com/Installing-on-Mac-OS-X.html mentions that  "Riak requires Erlang R14B03 or later"

[2012-04-24 04:26] slfritchie opened #132 "Bundle all userful and/or illustrative DTrace scripts with Riak"
... and RiakEE, and all other top-level Riak apps.  That probably means a separate repo for the D scripts, accompanying docs (if any), and then let rebar & the packager knit them together?

[2012-04-24 04:36] rzezeski commented on #132
+1 to this

[2012-04-26 16:13] kamidev commented on #131
These four files contain regexes that assume R14 is the highest OTP version.

riak/rebar.config
riak/deps/cluster_info/rebar.config
riak/deps/riak_kv/rebar.config
riak/deps/riak_search/rebar.config

Fixing this makes everything compile under OS X Lion. The README sample code and basic tutorial stuff appear to work, too.

[2012-04-26 17:32] spaquet commented on #131
Perfect.

I confirm that make all, make rel and mak devrel are working after this patch.

This would be great if included in next src or git release of risk.

[2012-04-26 17:32] #131 closed, assigned to nobody

[2012-04-26 18:08] PharkMillups commented on #131
We're working on better out-of-the-box support for R15B01. Thanks for using the work-around for now.

[2012-04-26 18:15] spaquet opened #133 "Riak failed to start within XX seconds"
After a successful compile of riak on my MacBook Pro running OS X 10.7.3 and Erlang R15B01 I'm still facing an odd issue:

make devrel returned without any errors and I do have dev1 to dev4 directories properly created and configured with different port numbers for all instances of riak.

But now launching riak with (for instance) dev1/riak start command leads to the following error message:

"Ria

[2012-04-26 19:46] spaquet commented on #131
Great

[2012-04-26 21:25] spaquet commented on #133
Found.
The issue is OS X not Riak.
The point was: my user directory was affected to 501:staff and not to username:staff. After proper chown the issue just got solved.
My guess is that erlang needs some hidden directories at the root of the home folder and since 501 was not my user it was not possible to have them created, leading erlang to crash without notice.

[2012-04-26 21:25] #133 closed, assigned to nobody

[2012-05-07 16:00] ghost opened #135 "riak-admin incomplete regex for node name"
riak script:
`NAME_ARG=`egrep '^-s?name' $RUNNER_ETC_DIR/vm.args``

riak-admin script:
`NAME_ARG=`grep '-[s]*name' $RUNNER_ETC_DIR/vm.args``

This doesn't filter out commented node names.

[2012-05-09 13:25] jaredmorrow opened #136 "Refactor Solaris OS detection for packaging"
OpenSolaris is still a primary option in the package/Makefile when it technically doesn't exist anymore.   Consider a better way to integrate SmartOS, OmniOS, or OpenIndiana instead.

[2012-05-10 21:58] jaredmorrow opened #139 "Ensure ring_creation_size setting is in all app.config files"
Not all packages have a default for `ring_creation_size` set in the `app.config` file, so they use the silent default.   Consider a proper default and adding it explicitly to all packages.

[2012-05-18 09:13] krestenkrab commented on #122
It seems that _everyone_ starting out with Erlang has this issue at some point.  Why not provide a more descriptive error message somehow?

[2012-05-18 22:56] PharkMillups commented on #122
I'm not sure why, but it looks like I closed this issue. I don't recall doing it. Regardless, it was done in error. Reopening so that someone more capable than I can close it for the right reasons.

[2012-05-21 18:26] beerriot opened #140 "Fix sudo finding under sh"
Ubuntu 11 didn't like our switch to `sh`:

https://github.com/basho/riak/commit/2576ef3ec2a8a34e5307a569986374ae7d71c0bf#commitcomment-1356470

We need to fix the method by which we find `sudo` before release.

[2012-05-21 19:17] #140 closed, assigned to jaredmorrow

[2012-05-22 12:40] brianshumate opened #142 "Typo in riak_client:stream_list_keys/4"
At line 543 in `riak_client`, the module name appears to be singular `build_filter` when perhaps it should be plural `build_filters`.

This report stems from a ticket (1429) so I am posting the report on behalf of the customer who noticed it. I did verify that the typo is present in Riak 1.1.2 release and Github master.

Thank you,

Brian

[2012-05-22 13:08] seancribbs commented on #142
Duplicate of basho/riak_kv#326

[2012-05-22 13:08] #142 closed, assigned to nobody

[2012-05-22 14:42] brianshumate commented on #142
Sorry about that. I did do a search for "riak_client:stream_list_keys" prior to submitting, but nothing came up.

[2012-05-23 16:05] seancribbs commented on #135
@mirell PR? Should be a simple fix and make it before feature freeze.

[2012-05-24 13:12] russelldb opened #145 "Use folsom for riak stats"
Use folsom for stats in riak apps

[2012-05-24 13:14] #145 closed, assigned to russelldb

[2012-05-25 04:04] jaredmorrow commented on #119
This bug was fixed, the proper dependencies are now listed, so the package installation will fail if the proper libssl library is not installed.

[2012-05-25 04:05] #119 closed, assigned to nobody

[2012-05-25 04:14] jaredmorrow commented on #124
@metadave can you do a PR for your change and I'll +1 it?   I found this while looking through the backlog.

[2012-05-25 04:18] jaredmorrow commented on #125
Track this issue here: basho/riak_control#14

[2012-05-25 04:18] #125 closed, assigned to nobody

[2012-05-25 06:01] #139 closed, assigned to jaredmorrow

[2012-05-25 19:09] #130 closed, assigned to jaredmorrow

[2012-06-11 14:32] subnetmarco opened #158 "Stats for JS MapReduce"
It would **really** useful to see some stats about the JS VM when running MapReduce jobs (like average number of VM used, average memory consumption for map and reduce phases, etc). This would be useful for perfect tuning.

[2012-06-12 18:56] joecaswell opened #160 "all puts fail if precommit hook is specified in default bucket props"
Tested as below, issue seems to be that indexdoc buckets are not excluded from the precommit hook set in default bucket props.  When a value is put, precommit is invoked on <<bucket>><<key>> and then again on <<_rsid_bucket>><<key>>, resulting in 500  internal server error for every put.

See Also: https://help.basho.com/tickets/1507

https://gist.github.com/feb8bada4e6e4ed6c8a6

[2012-06-13 08:45] ghost opened #162 ""riak reboot" shuts down the node"
Right now, "riak reboot" shuts down the node if heartbeat is not enabled. This is non-intuitive, and misleading.

See https://issues.basho.com/show_bug.cgi?id=1332

[2012-06-13 15:24] joecaswell commented on #160
This should have been opened under riak_kv - moving it there
https://github.com/basho/riak_kv/issues/345

[2012-06-13 15:24] #160 closed, assigned to nobody

[2012-06-14 15:48] seancribbs opened #163 "Riak RPM package needs dep on 'sudo'"
The Debian package depends on `sudo` but the RPM does not. This leads to startup errors after successful installs if `sudo` is not available.

[2012-06-14 17:02] benmmurphy opened #164 "Riak HTTP API Cross Site Request Forgery"
The riak http api for map reduce doesn't check if the content-type is application/json. The javascript http api also lets the user execute arbitrary code on the server. These two coupled together allow a malicious web page to execute arbitrary code on a users machine if they are running the riak http api. I'm not sure if this is a bug or not but there should be a warning that if you are running ri

[2012-06-14 18:39] reiddraper commented on #164
@benmmurphy do you have a proof-of-concept of the attack? I tried to create one myself, but had trouble since Riak doesn't support CORS, ie. `Access-Control-Allow-Origin: *`. To be clear too, you're talking about a vulnerability for _users_ (developers) who are running Riak locally, right?

[2012-06-14 19:02] benmmurphy commented on #164
or in situations where a developer can connect to a production machine and the attacker knows the ip address/hostname of the production machine. though, this is not a very secure setup since riak trusts the network. i will send you proof of concept to your private email.

[2012-06-14 19:08] reiddraper commented on #164
@benmmurphy great, thanks

[2012-06-14 23:36] gordonad opened #166 "no such file or directory: 'c_src/system/lib/libsnappy.a'"
I am trying to install on a Mac OSX Lion, all updates done,  Erlang R15B01 (erts-5.9.1), Xcode current.

I clone Riak, and when I attempt to build with "make rel" or "make all" both give me the same error:

clang: error: no such file or directory: 'c_src/system/lib/libsnappy.a'
ERROR: cc c_src/eleveldb.o -L/lib -L/lib -L/lib -bundle -flat_namespace -undefined suppress  -L/usr/local/Cellar/erlang/R

[2012-06-19 15:50] bookshelfdave opened #167 "Using pkg_add on FreeBSD after installing Riak results in "no origin recorded" warnings"
Sample output:
freebsd64_test1# pkg_add -r sudo
Fetching ftp://ftp.freebsd.org/pub/FreeBSD/ports/amd64/packages-9.0-release/Latest/sudo.tbz... Done.
pkg_add: package riak-1.2.0pre1 has no origin recorded
pkg_add: package riak-1.2.0pre1 has no origin recorded
Fetching ftp://ftp.freebsd.org/pub/FreeBSD/ports/amd64/packages-9.0-release/All/libiconv-1.13.1_1.tbz... Done.
pkg_add: package riak-1.2.0pre

[2012-06-19 18:29] khill commented on #166
In your cloned directory, you should have the following file:

riak/deps/eleveldb/c_src/system/lib/libsnappy.a

It sounds like it's not being built.  You could try running "./rebar compile" and see what errors you see.

[2012-06-19 18:43] PharkMillups commented on #166
@gordonad It looks like the problem is Clang. [Riak needs GCC](http://wiki.basho.com/Installing-Riak-from-Source.html). Any chance you can take another pass at the install with that?

[2012-06-19 22:19] ghost commented on #167
That's because the package is broken in several ways. I'm surprised you got it to install at all.

[2012-06-19 22:23] ghost opened #168 "FreeBSD package totally broken"
Trying to install the generated .tar.gz on FreeBSD gives me this:

$ pkg_info ~apeiron/build/riak/riak-1.2.0pre1.tar.gz
tar: +*: Not found in archive
tar: Error exit delayed from previous errors.
pkg_info: tar extract of /usr/home/apeiron/build/riak/riak-1.2.0pre1.tar.gz failed!
pkg_info: error during unpacking, no info for '/usr/home/apeiron/build/riak/riak-1.2.0pre1.tar.gz' available
$

If I fix

[2012-06-19 22:31] jaredmorrow commented on #168
Try checking the `packages` directory, you were trying to do a pkg_info command on the source tarball.

[code]

Thanks for being levelheaded and polite about it.

[2012-06-19 22:31] #168 closed, assigned to nobody

[2012-06-19 22:34] ghost commented on #168
On Jun 19, 2012, at 18:31, Jared Morrow wrote:

I don't see any documentation in the source tree (aside from the Makefiles) pointing me the package/packages directory. Where would it be appropriate to document this, and would you accept a pull request for such documentation?

[2012-06-19 22:42] jaredmorrow commented on #168
Documentation will be written for 1.2 (when FreeBSD will be supported) when 1.2 is released.  The output of the `make package RELEASE=1` command shows where the package is copied so for people building from master it will at least give a hint.

[2012-06-21 20:37] #136 closed, assigned to nobody

[2012-06-21 20:53] #163 closed, assigned to jaredmorrow

[2012-06-22 15:21] jaredmorrow opened #171 "FreeBSD package does not depend on openssl"
FreeBSD 9 does not ship with openssl installed.   Add an explicit dependency to the freebsd package.

[2012-06-22 16:33] #171 closed, assigned to jaredmorrow

[2012-06-22 16:33] #167 closed, assigned to nobody

[2012-06-26 22:09] PharkMillups commented on #166
@gordonad Any resolution on this?

[2012-06-27 19:56] affinity-matrix opened #176 "Basho Wiki Bug Report"
http://wiki.basho.com/How-to-Report-a-Bug.html

still pointing users toward the defunct BugZilla tracker, which has lead to at least one fairly important (but apparently not _that_ important since there is no data loss) bug being unattended since November 2011.

[2012-06-28 06:04] lexual opened #177 "mount state "string index out of range" failure linked to the dump argument"
I'm getting this error when the mount.mounted state's dump argument is set to 0.

my_minion:
##     Data failed to compile:

[code]

string index out of range

I think this is a regression from past salt releases.

Test cases are here due to github not letting me upload files, and stuffing up my pasted state lines:

http://pastebin.com/8fVHQkZ6

[2012-06-28 06:11] lexual commented on #177
apologies, wrong project

[2012-06-28 06:11] #177 closed, assigned to nobody

[2012-06-28 06:52] PharkMillups commented on #176
Thanks for catching that. I'm not sure how we overlooked it for so long. I'll take a stab at rewriting the copy tomorrow and shoot the commit your way for approval.

Which bug are you talking about?

[2012-06-28 08:39] affinity-matrix commented on #176
https://issues.basho.com/show_bug.cgi?id=1269

My bad... October 2011 *

[2012-07-02 05:00] PharkMillups commented on #176
I just [updated](https://github.com/basho/riak_wiki/commit/a14f8104dcf3633a71625d14d76a8e7115ba91e6) the bug filing info on the wiki. Also, I [migrated](https://github.com/basho/riak_pipe/issues/47) the JS Built-In issue over to GitHub. It's still in need of resolution, but it'll get some more love on the GitHub repo.

[2012-07-02 05:00] #176 closed, assigned to nobody

[2012-07-03 09:26] affinity-matrix commented on #176
\o/

[2012-07-05 15:05] jaredmorrow opened #180 "Permissions of `etc/riak` are too restrictive on FreeBSD"
When starting riak on FreeBSD, it can no longer access the configuration files in `/usr/local/etc/riak`

[code]

[2012-07-05 19:01] #180 closed, assigned to jaredmorrow

[2012-07-17 02:35] jaredmorrow opened #184 "Add notion of SmartOS projects `projadd`"
More installation customization can be done by adding the notion of a Riak [project](http://docs.oracle.com/cd/E19044-01/sol.containers/817-1592/rmtaskproj-1/index.html).  This could be a possible usability win to make setup even easier in SmartOS.

[2012-07-17 02:37] seancribbs commented on #184
:+1:

[2012-07-17 06:58] sendtopms opened #185 "riak 1.2 is not starting on mac os x lion"
I compiled both from source as well as from the zipped version by basho.

Erlang R15B (erts-5.9) [source] [smp:4:4] [async-threads:64] [hipe] [kernel-poll:true]

21:00:14.839 [info] Application lager started on node 'riak@127.0.0.1'
21:00:14.875 [error] CRASH REPORT Process <0.59.0> with 0 neighbours exited with reason: no such process or port in call to gen_server:call(riak_core_stat_cache, {regi

[2012-07-17 12:35] seancribbs commented on #185
This is already being addressed by basho/riak_api#6

[2012-07-17 12:35] #185 closed, assigned to nobody

[2012-07-17 17:16] yeysus opened #186 "Update file RELEASE-NOTES.org"
Hi. The file RELEASE-NOTES.org only contains release notes until 1.1.2, current is 1.1.4-1. Is this intended or is the GitHub version not in phase with your downloadable packages? In other words: In which url can the actual, current version of Riak be found, other than going through the file list in http://downloads.basho.com/riak/CURRENT/? Thanks, Jesus

[2012-07-19 17:37] bsparrow435 opened #188 "reip does not change claimant designation after node is renamed"
Renaming the claimant node does not change the claimant in the ring file.  Steps to reproduce:

new-host-5:bin bsparrow$ ./riak start

new-host-5:bin bsparrow$ ./riak-admin ring_status
================================== Claimant ===================================
Claimant:  'riak@127.0.0.1'
Status:     up
Ring Ready: true

============================== Ownership Handoff =========================

[2012-07-23 13:26] calston opened #190 "JS MapReduce crashes after delete"
So roughly what I have is a function which queries a range of indexes from one bucket, and moves stuff to a different bucket (by creating new objects and deleting the old).

In testing this it seems if a map-reduce is performed on a bucket immediately after deleting items in the bucket then mapreduce crashes.

The map function is simply function(v){ var data = JSON.parse(v.values[0].data); return

[2012-07-23 13:42] calston commented on #190
Actually I can sort-of deal with this by wrapping the mapreduce query with a try-catch, in which case the "busy being deleted" nodes are stepped over.

Why are these provided to the map function in the first place?

[2012-07-24 23:53] drnic opened #191 "make: git: Command not found"
I am installing riak 1.1.4 tar.gz on a VM without git. I am getting:

[code]

My build script is:

[code]

Do we need to update the copy of rebar for this to work?

The one that is in riak-1.1.4 is from Oct 2010.

[code]

riak-1.1.4 tar.gz is filled with vsn.git files in the deps, but I think `./rebar get-deps` is still trying to run git commands?

Related to #117?

[2012-07-25 05:32] jaredmorrow commented on #191
The rebar we have is from October, 27th 2011 which is the correct version for Riak 1.1.  Calling `make` will try `rebar get-deps` but that's not what you want to do if you download the source tarball because the dependencies are already included.  Follow [the installation page](http://wiki.basho.com/Installing-Riak-from-Source.html) about building from source and see if your issues go away.

[2012-07-25 11:49] drnic commented on #191
The instructions say "make rel" which is what I'm doing.

I'll try compiling a new rebar and see if it helps, and report back.

[2012-07-25 12:15] drnic commented on #191
With rebar 3 I get this error during `make rel`:

[code]

[2012-07-25 12:17] drnic commented on #191
@jaredmorrow I don't understand what you mean "Calling make [is bad and don't do it]. Follow the installation page..." which includes `make`:

[code]

[2012-07-25 12:19] drnic commented on #191
Going to try just `make compile`

[2012-07-25 12:45] drnic commented on #191
Bah.

[code]

[2012-07-25 13:05] drnic commented on #191
Ok, when I add a missing `export HOME=/home/vcap` installation of `make compile` goes smoothly until:

[code]

Last part of the output is at https://gist.github.com/7dffae4d7185f2ba99f3

[2012-07-25 13:07] drnic commented on #191
This error comes from `deps/eleveldb/c_src/build_deps.sh`:

[code]

[2012-07-25 13:08] drnic commented on #191
Link into eleveldb source https://github.com/basho/eleveldb/blob/master/c_src/build_deps.sh#L51-54

[2012-07-25 13:10] drnic commented on #191
Do we need to bundle leveldb into riak's tarball? or into snappy's taball?

[2012-07-25 13:20] jaredmorrow commented on #191
Ah yes, that was a bug found in the build system for 1.1, I'll post a work around in a moment.

[2012-07-25 13:22] jaredmorrow commented on #191
The tarball for leveldb should be fetched during the build process when I generate the source tarball, but for Riak 1.1 eleveldb wasn't doing that.  To work around that, fetch via zip the proper commit as specified in the build_deps.sh file.

[code]

[2012-07-25 15:30] drnic commented on #191
Yay! Thanks @jaredmorrow you are a champ. I'm back to using `make rel` now. Awesome.

For any BOSH users, the `packaging` script I am using looks like:

[code]

[2012-07-25 15:30] drnic commented on #191
ah, sorry, didn't mean to close

[2012-07-25 16:12] jaredmorrow commented on #191
Closing now, will add to a recap for people who might not have `git` available.

[2012-07-25 16:13] #191 closed, assigned to nobody

[2012-07-25 16:16] jaredmorrow commented on #184
Added https://github.com/basho/riak/commit/eced9827cf350fd11bedf9a8e203edc258c6337e

[2012-07-25 16:16] #184 closed, assigned to nobody

[2012-07-25 16:22] jaredmorrow commented on #135
Fixed here https://github.com/basho/riak/pull/175

[2012-07-25 16:22] #135 closed, assigned to nobody

[2012-07-25 16:23] jaredmorrow commented on #120
Fixed here https://github.com/basho/riak/pull/175

[2012-07-25 16:23] #120 closed, assigned to jaredmorrow

[2012-07-25 22:46] bsparrow435 opened #192 "Permissions not checked on $PIPE_DIR in riak script"
If the /tmp/riak/ directory is owned by root user, riak start will fail but riak console will succeed. Add a permissions check on this directory.  Will attach PR shortly.

[2012-07-26 06:31] #122 closed, assigned to nobody

[2012-07-26 16:55] bsparrow435 commented on #192
https://github.com/basho/riak/pull/194

Looking for comments.

[2012-07-30 14:10] mpermar commented on #190
Just found the same issue. Launching a JS function after a delete gives on the client an error like:

Caused by: java.io.IOException: {"phase":0,"error":"[{<<\"lineno\">>,466},{<<\"message\">>,<<\"SyntaxError: syntax error\">>},{<<\"source\">>,<<\"()\">>}]","input":"{ok,{r_object,<<\"nodes\">>,<<\"localhost\">>,[{r_content,{dict,4,16,16,8,80,48,{[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]},{{[

[2012-07-30 14:22] beerriot commented on #190
This is a duplicate of this riak_kv issue: https://github.com/basho/riak_kv/issues/358

Closing this one to track progress over there.

[2012-07-30 14:22] #190 closed, assigned to nobody

[2012-07-30 20:27] kellymclaughlin opened #197 "Change Makefile dev targets to depend on all."
Running `make devrel` or `make stagedevrel` on a fresh checkout or a cleaned copy of `riak` or `riak_ee` fails. The dev targets should depend on `all`.

[2012-07-30 20:30] kellymclaughlin commented on #197
`riak`: https://github.com/basho/riak/pull/196
`riak_ee`: https://github.com/basho/riak_ee/pull/80

[2012-08-03 18:13] jaredmorrow opened #198 "`riak attach` fails on some versions of SmartOS"
On certain versions of SmartOS, `sudo` is at version 1.7.6 and has problems with `sudo -i`.   Testing on five separate machines, only one had the issue, but a patch should be created to remove `-i` from all runner scripts.

[2012-08-04 20:50] dreverri opened #200 "Riak 1.2.0rc6 won't start in SmartOS 1.6.3 zone because of a permissions issue"
## Steps to reproduce

Create a SmartOS zone using the following dataset and login to the zone

`f9e4be48-9466-11e1-bc41-9f993f5dff36 smartos 2012-05-02 sdc:sdc:smartos64:1.6.3`

Download and install Riak 1.2.0rc6

[code]

Enable riak-epmd and riak services

[code]

Attempt to ping the riak node

[code]
## Workaround

Change permissions on `/opt/local/lib/riak/releases/start_erl.data`

[code]

[2012-08-05 19:15] jonmeredith commented on #200
I've also noticed ownership problems with /opt/local/etc/riak/vm.args - I have to chown root:riak to make things work.

[2012-08-05 19:16] jonmeredith commented on #200
Although I didn't have any problems with the start_erl.data - were you on EE or OSS?

[code]

[2012-08-06 14:26] dreverri commented on #200
OSS

[2012-08-06 22:16] Vagabond commented on #126
I just ran into this. It needs fixing.

[2012-08-07 21:10] wfarr opened #202 "Debian builds for riak"
Right now, binary releases are shipped for a handful of Ubuntu versions, but nothing for Debian.

We'd like to see Squeeze binaries at least for riak (also riak CS).

[2012-08-07 21:13] wfarr commented on #202
/cc @argv0 @tnm

[2012-08-08 16:20] drnic commented on #191
Was this fixed in 1.2.0?

[2012-08-08 17:25] drnic commented on #191
[code]

What leveldb is required for riak 1.2.0? I tried it with one above but got an error during installation.

[2012-08-08 18:40] jaredmorrow commented on #191
No it was not fixed in 1.2.0 as our build system depends on clean git checkouts and we didn't come up with a good way to pull in the leveldb C source code in with our erlang build tools in a clean / repeatable way.   For 1.2, use the above instructions, but pull down the following zip file.

https://github.com/basho/leveldb/zipball/2aebdd9173a7840f9307e30146ac95f49fbe8e64

[2012-08-08 20:19] drnic commented on #191
Yep, that's the SHA I used I think. Thanks!

[2012-08-09 18:26] seemantk opened #203 "`make install' target in the Makefile"
...is missing.  Instead of doing all those manual things in the rpm spec and deb control files, seems like it could all be centralized in the Makefile (make rel; make install) with overridable destination targets (e.g. make DESTDIR=/opt/basho/riak-test install).

Is there consideration for this?

[2012-08-10 20:23] Vagabond commented on #126
I found out why this happens, RUNNER_LIB_DIR is wrong when we build a package (for local builds it is ./lib, which is correct).

Proof:

[code]

So you can see that -pa /usr/lib/riak/basho-patches is there

but:

[code]

And in the riak script:

[code]

The path _should_ be /usr/lib/riak/lib/basho-patches/

RUNNER_LIB_DIR is used nowhere else in the file, so it should be safe to fix.

This happene

[2012-08-13 14:25] ybiruk commented on #188
I have the same issue

[2012-08-13 20:44] seancribbs commented on #188
@bsparrow435 The new `riak-admin cluster replace` might be more appropriate, since `reip` was always broken and required the node to be down.

[2012-08-14 08:26] drhip commented on #188
unfortunately I'm using version 1.1.2 and it doesn't support riak-admin cluster command

[2012-08-16 14:49] jonmeredith commented on #126
Fixed.

[2012-08-16 14:49] #126 closed, assigned to nobody

[2012-08-22 11:07] runesl commented on #166
On my machine (OpenSuse 64bit) i got the same error: no such file or directory: 'c_src/system/lib/libsnappy.a

Because lib was actually called lib64, this fixed it for me:

cd deps/eleveldb/c_src/system
ln -s lib64 lib

After this I can build Riak 1.2.0.

[2012-08-22 13:58] PharkMillups commented on #166
I'm going to close this for now. If it rears its head again on 1.2, let us know.

[2012-08-22 13:58] #166 closed, assigned to nobody

[2012-08-26 04:41] #200 closed, assigned to jaredmorrow

[2012-08-26 04:48] jaredmorrow commented on #202
@wfarr I'm making new builders as we transition datacenters, I'll make a Squeeze builder while I'm at it since there has been a lot of demand for it.

[2012-08-26 04:57] jaredmorrow commented on #186
http://basho.com/resources/downloads/ is the new downloads site and downloads.basho.com has been phased out.  The release notes are current for the 1.2 release.

[2012-08-26 04:57] #186 closed, assigned to nobody

[2012-08-26 04:59] #198 closed, assigned to jaredmorrow

[2012-08-26 21:44] wfarr commented on #202
Awesome! :metal:
- Will

On Aug 26, 2012, at 0:48, Jared Morrow notifications@github.com wrote:

[2012-08-27 14:51] yeysus commented on #186
On Sun, Aug 26, 2012 at 6:57 AM, Jared Morrow notifications@github.comwrote:

The page http://basho.com/resources/downloads/ goes to a page that loads
javascript and you have to click to move down to Riak / CURRENT, it is not
an easy scriptable url to determine if you have a newer version available.
Is the number of the current version available somewhere else?

Thanks,

Jesus

[2012-08-31 23:25] clr opened #209 "ejsLog() kills the erlang vm in a reduce"
If you uncomment the following line:
https://github.com/clr/riak-rolling-average/blob/mapreduce/lib/statistic_document.rb#L37
Then the entire erlang vm disappears.  No log files are marked.  I tested can repeat this on memory backend, and Randy Secrist can repeat on leveldb.  Riak v1.2.0.

[2012-09-14 13:31] staffan-einarsson commented on #209
I can repeat this as well in my tests. It seems from dmesg that using the ejsLog function in a mapreduce phase causes a memory protection fault in the Erlang JavaScript driver. I got the following line:

<pre>[26160.090712] beam[3822] general protection ip:7f891c1ef5cb sp:7f891d6eba90 error:0 in erlang_js_drv.so[7f891c14f000+e7000]</pre>

EDIT:
It happens if I use ejsLog() from either the map phas

[2012-09-14 18:00] jsmartin opened #214 "Debian init script does not support "status" parameter."
The debian/ubuntu init script does not support the "status" parameter.  This makes service management via some configuration management tools painful.

[2012-09-17 13:31] jaredmorrow commented on #202
This was fixed post Riak 1.2

[2012-09-17 13:31] #202 closed, assigned to jaredmorrow

[2012-09-17 13:33] jaredmorrow commented on #197
Fixed in the about PR's.

[2012-09-17 13:33] #197 closed, assigned to joedevivo

[2012-09-17 18:18] #214 closed, assigned to jsmartin

[2012-09-20 09:45] shuveb commented on #209
Yes, I can confirm the same on MacOS X Lion. The "beam.smp" process simply crashes. Logs tell me it is: EXC_BAD_ACCESS (SIGSEGV)

If I comment the ejsLog() function, things seem to be just fine.

Riak version I'm running is 1.2.0

[2012-09-20 19:24] dizzyd commented on #209
Fixed in https://github.com/basho/erlang_js/pull/30

[2012-09-20 19:46] dizzyd commented on #209
Merged.

[2012-09-20 19:54] jaredmorrow commented on #209
Slated for Riak 1.2.1 release.

[2012-10-06 00:35] stoddn commented on #209
Verified fix in 1.2.1rc2 on CentOS 5.6 with LevelDB.

[2012-10-06 20:45] jaredmorrow commented on #209
Thanks @stoddn

[2012-10-06 20:45] #209 closed, assigned to nobody

[2012-10-10 04:41] ghost opened #227 "riak-admin status fail with Erlang R15B02"
I tried to install Riak using the latest Erlang release (R15B02, compiled from source). I can create buckets, keys, execute MapReduce jobs and setup clusters without problem. But when I try to access the node status, I get an error:

[code]

The solution was to compile Riak with Erlang R15B01. Environment data:

[code]

[2012-10-15 11:15] mkuznetsov opened #229 "Master make rel fail with 15B02"
uname -a
Darwin Mikes.local 11.4.2 Darwin Kernel Version 11.4.2: Thu Aug 23 16:25:48 PDT 2012; root:xnu-1699.32.7~1/RELEASE_X86_64 x86_64

==> rel (generate)
ERROR: Failed to generate target from spec: "read file info /opt/local/lib/erlang/erts-5.9.2/otp_src/lib/kernel/test/code_SUITE_data/clash/zork-0.8.ez/zork-0.8/ebin/flarp.beam: not a directory"
make: **\* [rel] Error 1

[2012-10-15 14:06] jaredmorrow commented on #229
We haven't yet tested fully on 15B02, but it _should_ build.  I will get 15B02 installed and take a look.  Thanks for the bug filing.

[2012-10-15 14:14] mkuznetsov commented on #229
## After reinstall of erlang and clean clone of git repository (previous was updated with pull). Sources compiled fine and release generated without errors. So far it works.

Sincerely yours,
Mikhail Kuznetsov

When best practices meet everyday life and lead to perfection...

Oct 15, 2012, â 18:06 , Jared Morrow íàïèñàë(à):

[2012-10-15 14:18] jaredmorrow commented on #229
Thanks for the update @mkuznetsov I will close this issue for now, but will still start testing 15B02 as well.

[2012-10-15 14:18] #229 closed, assigned to nobody

[2012-10-20 05:06] jaredmorrow commented on #203
I appreciate the comment, though I don't know if it is something we will add.  'make rel' makes a installation of riak on its own and the other commands in each package script moves those folders around where they should be on that distro.  Since each OS seems to do it slightly different I don't know how much work it will save to move that logic into the toplevel makefile.  In addition, as much as

[2012-10-20 05:31] #124 closed, assigned to nobody

[2012-10-20 21:12] jaredmorrow opened #232 "Debian package init script does not properly exit on `status` command"
When issuing a `/etc/init.d/riak status` command, if `riak` is not running, the exit status of the command should be a positive integer rather than zero.

[2012-10-22 16:27] #232 closed, assigned to nobody

[2012-10-25 12:22] russelldb commented on #227
I think this issue is the same as this issue https://github.com/basho/riak_kv/issues/411

[2012-10-25 14:16] russelldb commented on #227
Fixed with https://github.com/basho/riak_kv/pull/415, please confirm and I'll close this.

PR is merged to master, so a build from masterwith r15b02 is all you need, thanks.

[2012-10-25 15:12] whitenode opened #234 "Inconsistent client behavior with respect to user metadata"
When using either the internal Erlang client or the PB client for Erlang, it is possible to define user metadata fields with any name, e.g. 'Foo'. These are stored on the RiakObject with that exact name. When viewing a record with this usermeta parameter through the HTTP interface, the parameter is returned as header named 'Foo' rather than 'X-Riak-Meta-Foo'.

In order to create a record through t

[2012-10-31 10:43] DaMorpheuS opened #235 "can't join cluster"
Heym

I have installed two instances of riak on two vm's on the microsoft azure platform. they are both working correctly and are both accessable. but when I try to join them into a cluster I got the mesage : Node riak@10.61.216.12 is not reachable!.

all ports are open and I can telnet to every given port I know. I realy don't know what to do next.

[2012-10-31 15:46] rzezeski commented on #235
1. What is the value for `-name` for both `vm.args`?
2. Don't copy them here, but is the value of `-cookie` in both `vm.args` the same?
3. Is port 4369 open on both nodes?
4. Are all ports open?  By default distributed Erlang binds to a random port.

See http://docs.basho.com/riak/1.2.0/cookbooks/Network-Security-and-Firewall-Configurations/

[2012-11-14 10:24] marcelloceschia commented on #166
same issue with riak 1.2.1, I need to symlink lib64 -> lib on openSuSE 64bit

[2012-11-14 18:41] macshonle opened #240 "Get/Put FSM counting"
The get/put FSM supervision was changed in 1.2-perf and needs to be merged in with master for 1.3.

How stats are reported needs to be changed to work with this. And there are two other issues Jon suggested be worked on:

1.) "at the point it's time to go to read repair https://github.com/basho/riak_kv/blob/master/src/riak_kv_get_fsm.erl#L306 you could check with the get-fsm-process-tracker-thing

[2012-11-14 18:58] jaredmorrow opened #242 "Devrel Portability Fixes"
https://github.com/basho/riak/pull/241
https://github.com/basho/riak_ee/pull/102

[2012-11-14 19:14] #242 closed, assigned to evanmcc

[2012-11-14 20:52] russelldb commented on #240
Erm, woah. Can we talk, 'cos I'm worried about the merges for the stats work I've done with the fsms?

[2012-11-14 21:39] lordnull commented on #240
@russelldb Sure, ping me when you've got a minute.

[2012-11-17 07:20] jaredmorrow commented on #240
@mshonle @lordnull has this been merged in to master for 1.3 yet?

[2012-11-17 07:20] #203 closed, assigned to nobody

[2012-11-18 19:10] evanmcc opened #246 "nodetool needs to play better with common unix tools"
I get a long hang and then this:

Crash dump was written to: erl_crash.dump
init terminating in do_boot ()

whenever I pipe shell output to 'head'.

[2012-11-18 21:27] jaredmorrow commented on #246
Are you piping standard out, or standard error or all?

[2012-11-18 21:57] evanmcc commented on #246
Just stdout.
On Nov 18, 2012 1:27 PM, "Jared Morrow" notifications@github.com wrote:

[2012-11-19 16:48] lordnull commented on #240
Alas, not yet, there was an issue preventing it from being ready (yet).

[2012-11-19 23:00] kellymclaughlin opened #247 "Investigate and correct NIF issues that lead to stuck schedulers"
This issue is a catch all for work being done to correct NIF usage in Riak. Links to relevant issues will be added as comments.

[2012-11-19 23:02] kellymclaughlin commented on #247
[Eleveldb write thread pool](https://github.com/basho/eleveldb/issues/43)

[2012-11-27 19:53] mrdrmmn opened #249 "riak-admin backup should allow output to stdout"
The backup functionality of riak-admin requires the user to specify an output file.  This means the system must write the backup locally (or to a network device).  When doing a dump of the entire cluster, this becomes somewhat problematic for a few reasons:
- The amount of IO on the node doing the backup is likely to cause performance problems.
- The node doing backups needs to have enough free sp

[2012-11-30 09:52] calston opened #250 "Riak logging provides no useful information"
Error log provides no useful insight to issues happening

Eg. Supposedly this PUT request is wrong. It's impossible to see in what way aside from "badarg" which is meaningless.

2012-11-30 11:49:01.998 [error] <0.4213.0> webmachine error: path="/riak/foo/foo1"
{error,{error,badarg,[{erlang,iolist_to_binary,[{hook_crashed,{riak_search_kv_hook,precommit,error,badarg}}],[]},{wrq,append_to_response_bo

[2012-11-30 11:05] calston commented on #250
Obviously the above error was because search was disabled in Riak but enabled in the bucket metadata. Obviously. I mean you can all see it, right? It didn't waste hours of my time for a really simple config mismatch for nothing, right??

[2012-11-30 20:00] beerriot commented on #250
Indeed, you've found two different problems: basho/riak_search#134 and basho/riak_kv#443. Sorry about that. This is partially left over from the days before Search was included in the regular Riak distribution, when it was impossible to disable it.

I assure you that there are many people worked up about improving our error-reporting.

[2012-12-06 13:04] erikgrinaker opened #252 "Ubuntu init scripts returns incorrect status code"
The Ubuntu package downloaded from http://downloads.basho.com.s3-website-us-east-1.amazonaws.com/riak/CURRENT/ubuntu/precise/riak_1.2.1-1_amd64.deb has an init script which returns a 0 status code for the status command even when Riak is not running:

[code]

The script should return zero when Riak is running, and non-zero when it isn't. This creates problems with Puppet and other configuration ma

[2012-12-06 15:55] jaredmorrow commented on #252
Yes, this was a bug in 1.2.1 when 'status' was added.  It has been fixed in this issue basho/riak#232 and will be available in the next release.

I will close this issue based on the existence of issue #232.

[2012-12-06 15:55] #252 closed, assigned to nobody

[2012-12-06 16:02] jaredmorrow commented on #249
This is a good idea and would add more flexibility to the backup process.  I know some other folks at Basho are rethinking backup/restore, but I do not know when that will land.

[2012-12-07 18:05] #240 closed, assigned to macshonle

[2012-12-13 08:44] asomov opened #255 "missing Erlang source"
The README file says that the source is in 'app' folder. But this folder is not present in master branch. Where can I find the source ?

[2012-12-13 09:26] asomov opened #256 "What are build prerequisites"
I try to build from source and I get this error:

~/projects/riak$ make rel
./rebar get-deps
/usr/bin/env: escript: No such file or directory
make: **\* [deps] Error 127

What has to be installed ? (I am afraid the wiki page is out of date...)

[2012-12-13 11:31] kuenishi commented on #256
Do you have erlang properly installed? Try running commands like erlc or
escript from the same console you tried make.

On Thursday, December 13, 2012, Andrey Somov wrote:

##

Sent from Gmail Mobile, iPhone

[2012-12-13 13:22] jaredmorrow commented on #255
The source for erlang is a separate download and installation.  Please see [this page on our docs](http://docs.basho.com/riak/latest/tutorials/installation/Installing-Erlang/) for full instructions on how to install erlang.

[2012-12-13 13:22] #255 closed, assigned to nobody

[2012-12-13 13:26] jaredmorrow commented on #256
Please look at [this page](http://docs.basho.com/riak/latest/tutorials/installation/) for the most up-to-date and accurate docs for installing both Erlang and Riak.

If you need more help, consider [joining our mailing-list](http://lists.basho.com/mailman/listinfo/riak-users_lists.basho.com) or look us up on IRC, in #riak on Freenode.

[2012-12-14 11:00] asomov commented on #255
The problem is that the WIKI is very misleading (because it says that the source is under the 'app' folder)

[2012-12-14 11:06] asomov commented on #256
I understand the problem now.  The '. ~/erlang/r15b01/activate' command is valid for a session only. It is so easy to forget it.
Probably this page can be improved: http://docs.basho.com/riak/latest/tutorials/installation/Installing-Erlang/

[2012-12-14 11:06] #256 closed, assigned to nobody

[2012-12-14 14:26] jaredmorrow commented on #255
Agreed, that was very misleading.  It was referring to Riak source, not erlang source, but even then it was no longer in the App folder.  I have since removed that line.  We'll update the README in the coming months to get it more in line with docs.basho.com.

[2012-12-17 05:43] kuenishi opened #258 "http API /stats not working"
Different result at different platform, but looks like a single-originated problem, When Riak is configured to use `riak_kv_eleveldb_backend` (or multi backend with eleveldb configured)

at current master ( d4414a7efe3b50067fb7 ),

:at MacOS: process down with following message:

mmap with hint 0x20000000 returned code memory 0xa6be1000

:at Linux: curl hangs and no reply

at released version (1.2

[2012-12-17 15:53] jonmeredith commented on #258
I'd be interested what'd in the error logs for the Linux 1.2.1 failure.

On OSX I suspect you've hit an issue with HiPE mmapping to 512Mb for native code (currently used by bear).  You could either try building the erlang VM with HiPE disabled, or you could modify deps/bear/src/bear.erl and comment out the -compile([native]) line.

[2012-12-18 04:01] kuenishi commented on #258
OH, I tried again today and failed to reproduce at Linux with 1.2.1.

at MacOS as you said I just hit on the HiPE issue. and, 1.2.1 release on MacOS was caused this problem by using R15B03 (not supported) :

https://github.com/basho/riak_kv/issues/411

[2012-12-18 04:02] #258 closed, assigned to nobody

[2012-12-19 08:38] asomov opened #260 "Integration Testing with Javascript"
This is a proposal for a new test suite. The idea comes from CouchDB. They use the web-client (Futon) for integration tests.

http://answers.oreilly.com/topic/1395-introduction-to-couchdbs-futon-administration-interface/

[2012-12-19 14:48] seancribbs commented on #260
See [basho/riak_test](//github.com/basho/riak_test).

[2012-12-19 14:48] #260 closed, assigned to nobody

[2012-12-19 15:11] asomov commented on #260
This is not a solution. It is far too heavy to install. It also requires Erlang knowledge to contribute. If the test suite is written in JavaScript then many more users may contribute their use cases.

[2012-12-19 15:22] jaredmorrow commented on #260
We had a tool written in Python, but since Basho is primarily an Erlang shop we didn't contribute to it as much as we hoped as a team.  We wrote riak_test in erlang so that the primary test writers (the developers) would be more comfortable and able to write good tests quickly.

[2012-12-19 16:32] asomov commented on #260
The idea is to be able to run tests with ZERO installation. You just point your browser to the URL and press a button.
This proposal does not mean that developers do not write Erlang tests. It just means that the tests can be written and run by anyone. If the project provides a basic framework to launch tests, the community can help to deliver more functional tests.

[2012-12-29 15:02] zhangwz opened #263 "riak start failure after several seconds"
Hello, is there anyone could help me?

I just clone the riak from github, and everything is ok until i am running it.
 Riak will show some error message.

{"Kernel pid terminated",application_controller,"{application_terminated,os_mon,shutdown}"}
Kernel pid terminated (application_controller) ({application_terminated,os_mon,shutdown})

My Erl Version:
Erlang R15B03 (erts-5.9.3) [source] [64-bit] [

[2012-12-29 18:38] PharkMillups commented on #263
Hello there,

A quick glance at this makes me think it's related to R15B03 and/or your version of OS X (both of which I don't think we've tested against extensively yet).

At any rate, this isn't a bug (yet), so it'll be easier to get it resolved on the [Riak Mailing List](http://lists.basho.com/mailman/listinfo/riak-users_lists.basho.com). When you have five minutes, subscribe and post it over th

[2012-12-29 18:38] #263 closed, assigned to nobody

[2013-01-11 06:17] PharkMillups commented on #235
@DaMorpheuS Is this still an issue?  Or can we go ahead and close this?

[2013-01-28 13:09] chopachom opened #267 "Riak fails to start under Mac OS X 10.8"
Hi, I have Riak installed on Mac OS X 10.8 system using Homebrew package manager, and today I found that my riak instance terminates after several minutes, I've manually relaunched riak process several times, but then, it started terminating right after it was started:

[code]

Last entries in crash.log

[code]

and erl_crash.dump: https://gist.github.com/4655367

Any recommendations on how to sol

[2013-01-28 13:23] jaredmorrow commented on #267
Your problem is indicated at the top of your output

[code]

 Increase your maximum open files and that should fix it.  On OSX that's not the easiest task, so look [here](http://docs.basho.com/riak/latest/cookbooks/Open-Files-Limit/#Mac-OS-X) for instructions.

[2013-01-28 13:51] chopachom commented on #267
Yeah, I know that, I've included output of `ulimit -n` in console output, but forgot to mention that I've already increased it from 2048 to 524288 and it doesn't help. Should I increase it even more?

[2013-01-28 13:58] jaredmorrow commented on #267
Did you increase it in the launchctl like the docs I linked to said?  Or did you do it right from the shell using 'ulimit'.  If the latter, that's not enough because the subshells that the `riak` command uses will not continue to get that ulimit setting.  I ask because these errors still seem to indicate you are trying to use file descriptors outside of your allowed range.

[code]

[2013-01-28 14:12] chopachom commented on #267
Yes, I increased it using launchctl:

[code]

[code]

[2013-01-28 14:21] chopachom commented on #267
Don't know, but looks like an OS X related issue - http://erlang.org/pipermail/erlang-questions/2011-December/063119.html

[2013-02-02 10:26] alx opened #270 "Unable to generate spec: read file info /usr/lib/erlang/man/man1/tasm.1.gz failed [JIRA: RIAK-3107]"
Hi,

I'm trying to build riak from source on Debian Wheezy, and Ive got the following error during `make rel`:

[code]

Full logs: http://paste.kafe-in.net/6w

Could someone give me an hint?

thanks a lot,

Alex

[2013-02-05 15:19] alx commented on #270
Solved this issue by removing tasm man files:

[code]

[2013-02-05 15:19] #270 closed, assigned to nobody

[2013-02-05 21:39] jaredmorrow commented on #192
Fixed in 1.3 and master (1.4)

[2013-02-05 21:39] #192 closed, assigned to nobody

[2013-02-06 13:12] bflueras commented on #119
Hi,
I've got the same pb. Any hints other than manually installing?

OS: Linux version 2.6.32-279.el6.x86_64 (mockbuild@sl6.fnal.gov) (gcc version 4.4.6 20110731 (Red Hat 4.4.6-3) (GCC) ) #1 SMP Thu Jun 21 07:08:44 CDT 2012

uname -a
Linux machine 2.6.32-279.el6.x86_64 #1 SMP Thu Jun 21 07:08:44 CDT 2012 x86_64 x86_64 x86_64 GNU/Linux
riak version
riak (1.2.1 2012-10-16) RedHat x86_64

openssl ver

[2013-02-07 12:22] SamuelTilly opened #271 "Unable to download from downloads.basho.com.s3-website-us-east-1.amazonaws.com"
Something seems weird when trying to download Ubuntu packages

[code]

traceroute downloads.basho.com.s3-website-us-east-1.amazonaws.com

[code]

[2013-02-07 14:19] seancribbs commented on #271
Here is the corrected URL: http://downloads.basho.com.s3-website-us-east-1.amazonaws.com/riak/1.2/1.2.1/ubuntu/natty/riak_1.2.1-1_amd64.deb

[2013-02-07 14:19] #271 closed, assigned to nobody

[2013-02-07 14:20] jaredmorrow commented on #119
That is interesting.  What Riak package are you using?  If you uninstall Riak and try installing the package with Yum does that help the issue?

The original bug was us not listing the dependency properly in the RPM package, but that has since been fixed, so I am really curious what is going on with your install.

[2013-02-07 14:24] bflueras commented on #119
Hi Jared,
I reinstalled riak with yum and the problem was solved.
Thanks,

[2013-02-07 14:29] jaredmorrow commented on #119
Bogdan,

Oh, great.  Did you happen to notice if the yum command installed anything else along side the riak package?

If you have any other troubles, feel free to email me jared at basho dot com.

[2013-02-14 12:55] charl opened #273 "Riak fails to start after failure"
I had riak_1.3.0rc1-1_amd64.deb installed on my Ubuntu staging server and it was up and running similarly to my development server with the same software. My client software was able to save data to the db and retrieve data without fail.

At some point riak on staging had some issue and all connections from my client app started failing with:

RuntimeError: Bad file descriptor - Bad file descripto

[2013-02-14 14:35] jaredmorrow commented on #273
The most helpful information would be the contents of the `/var/log/riak` directory after you do a 'riak start'.  The console.log / error.log should show some information.  If not, you can change the logging settings in your /etc/riak/app.config from:

[code]

to:

[code]

This will log plenty of information to the console.log if you are doing `riak start` or will print it to screen if you do a `r

[2013-02-14 15:05] jaredmorrow commented on #273
Also, we've had one other report about permissions problems on the /tmp/riak directory causing startup issues.  We have added a check and warning to RC2 here #192  Either replicate that commit in your riak script, or try RC2 and let me know if that helps any more.

[2013-02-14 18:19] charl commented on #273
I am running RC2 and it exhibits the same issue:

[code]

My /tmp/riak permissions look fine:

[code]

I made the changes to the logging config and still nothing appears in the logs when I run 'service riak start' or just 'riak start'. If I however run 'riak console' I get the following:

[code]

[2013-02-14 18:56] jaredmorrow opened #274 "Riak fails to start on single CPU machines"

[2013-02-14 19:02] charl commented on #273
Just did an install of riak_1.3.0rc2-1_amd64.deb on a clean install of Ubuntu 12.04.2 LTS and I get the same issue.

[2013-02-14 20:41] tylerhannan commented on #274
Reproduced with 1.3rc3 both with and without the flag in the vm.args.

Without - won't start on single core
With - starts happily.

+1

[2013-02-14 21:06] #274 closed, assigned to jaredmorrow

[2013-02-14 21:07] charl commented on #273
I think I've tracked the issue down to a memory consumption issue. The staging box only has 1GB memory and the same goes for the newly installed Ubuntu box I referred to above.

Riak just will not run on these machines.

I resized the IGB machine to 2GB and it now seems to be working fine.

Is there some better way to cope with out of memory issues with riak (or more generally with erlang)?

[2013-02-14 21:07] jaredmorrow commented on #273
Think we figured it out, someone else had this same problem.  If you are on a single CPU machine, it will fail.  We fixed it https://github.com/basho/riak/issues/274 just now.

[2013-02-14 21:09] charl commented on #273
Both these machines are single CPU, dual core. In my case more RAM fixed this issue. I'll go have a look at #274 none the less.

[2013-02-14 21:10] jaredmorrow commented on #273
In your vm.args if you add the line `-smp enable` it should work.

Regarding out-of-memory, that is an issue, when erlang runs out, it will shutdown.  The graceful solution is to have more ram and a sufficient node count unfortunately.

[2013-02-14 21:13] charl commented on #273
I can confirm that the vm.args change gets things running on my 1GB box. Thanks for all the help!

[2013-02-14 21:13] #273 closed, assigned to nobody

[2013-02-14 21:31] jaredmorrow commented on #273
No problem, sorry for the troubles and thanks for testing out a RC!

[2013-02-20 00:29] binarykitchen opened #277 "Unable to run riak after compilation"
Hello

I just compiled riak exactly according to http://docs.basho.com/riak/latest/tutorials/installation/Installing-on-Debian-and-Ubuntu/ on my Ubuntu 12.10 machine (because for 12.10 there is no apt-get repository for riak).

The make process was fine, no errors. Then I set the path to /home/xxx/projects/riak-1.2.1/rel/riak/bin

Now, when I run `riak start` it shows lots of warnings. The first o

[2013-02-20 15:28] jaredmorrow commented on #277
The easiest option is to install the Ubuntu 12.04 package.  It will create a user for you, add a /etc/init.d script and make sure things are installed in the right spot.

You can get the package and install it via:

[code]

For the future, I will update the documentation for building from source to add some notes in there about creating a Riak user.  Sorry for the confusion.

[2013-02-21 00:17] binarykitchen commented on #277
Thanks, will do!

[2013-02-21 00:17] #277 closed, assigned to nobody

[2013-02-21 16:33] jaredmorrow opened #278 "Consider moving `ulimit` checks to nodetool"
Right now we check `ulimit -n` in the `riak` script itself which tells you the ulimit on the active shell process, not necessarily the Erlang VM.  For users who give Erlang special limits the shell can falsely warn that ulimit is set too low.

[2013-02-21 16:38] evanmcc commented on #278
If we're considering this, we should also consider moving the check into
riak_kv and logging from there. Maybe a start-up check and log of all the
system's arbitrary limits?

[2013-02-21 16:53] jaredmorrow commented on #278
@evanmcc also a great idea

[2013-02-21 17:04] savar commented on #278
yep.. would be great..

[2013-02-24 00:21] tomascharvat opened #279 "IPv6 broken in 1.3.0"
2013-02-24 01:12:51.206 [error] <0.1351.0>@riak_core_handoff_sender:start_fold:226 ownership_handoff transfer of riak_search_vnode from 'riak@vm2.**_.cz' 639406966332270026714112114313373821099470487552 to 'riak@bq.**_.cz' 639406966332270026714112114313373821099470487552 failed because of error:{badmatch,{error,nxdomain}} [{riak_core_handoff_sender,start_fold,5,[{file,"src/riak_core_handoff_sender

[2013-02-24 13:06] tomascharvat commented on #279
According to erlang R16A release notes, there shall be CPPFLAGS=-DEPMD6 to enable IPv6 support in epmd.
Compiled both erlang and riak with DEPMD6. EPMD finaly listen at tcp6 and its possible to connect via telnet. However riak cant start.
 sudo -u riak riak console
Exec: /usr/lib/riak/erts-5.9.1/bin/erlexec -boot /usr/lib/riak/releases/1.3.0/riak             -embedded -config /etc/riak/app.config

[2013-02-24 18:48] seancribbs commented on #279
@tomascharvat In the release notes we mentioned that IPv6 is not fully supported for the Erlang distribution protocol, but only that handoff and the HTTP and Protocol Buffers APIs supported it.  Until disterl/epmd and the name-resolution code fully support it, you will have to use IPv4 addresses for node names. See also http://erlang.org/pipermail/erlang-patches/2013-February/003528.html

[2013-02-24 22:07] tomascharvat commented on #279
Thanks for link, appreciated. Do you refer to -name in vm.args by node name ?
So vm.args shall have -name riak@1.2.3.4, and then handoff may bind to ::0
Do members of the ring get handoff IPv6 trough gossip that use riak@1.2.3.4 ?
Is handoff, http, PB dual stack or IPv[4or6]only

[2013-02-25 11:29] jj1bdx opened #280 "Master branch does not build with the latest webmachine"
`riak start` did not work, i.e., the node was not coming up, with the latest webmachine, of https://github.com/basho/webmachine/commit/75203f1355064d3ebf3d3ca1d5a13d529933ed5f

Reverting the webmachine back before the commit to https://github.com/basho/webmachine/commit/64176ef9b270294ec940cd78fdf41ac5c1738a34
by `git checkout HEAD^^` and rebuilding the release by `make devrel` solved the problem.

[2013-02-25 11:35] jj1bdx opened #281 "Master branch does not work with the latest webmachine"

[2013-02-25 11:36] #281 closed, assigned to nobody

[2013-02-25 11:37] jj1bdx commented on #281
Duplicate to https://github.com/basho/riak/issues/280

[2013-02-25 12:25] charl opened #282 "Node does not recover after running out of disk space"
I have a cluster of four nodes that make up my riak storage backend.

All four nodes ran out of disk space and riak died on all hosts. All four nodes have subsequently been upgraded to larger virtual machines with more disk but only the first of the four that I installed does not start properly.

It seems to attempt to start the kv-store and then dies eventually. It generates reams and reams of lo

[2013-02-25 14:11] seancribbs commented on #280
See basho/webmachine#128

[2013-02-25 17:47] seancribbs commented on #279
Yes, the `-name` vm.args configuration parameter is different than the `handoff_ip` setting. Once connected over disterl, the nodes will query each other over that channel for the handoff IP before establishing handoff connections.

Currently, only HTTP is dual-stack, specified via multiple listeners. PB only supports one listener at the moment, so it will only allow one stack, the same is the cas

[2013-02-26 14:02] jj1bdx commented on #280
After the rollback on https://github.com/basho/riak_core/commit/161816de8cb690a9a958ae7b661aeb9152b2b9bf I confirmed now Riak started normally by `riak start`.

[2013-02-26 14:02] #280 closed, assigned to nobody

[2013-02-27 09:16] kulasama commented on #282
i got the same problem

[2013-02-28 00:52] slfritchie commented on #282
@rzezeski I know you've done some work on merge index data corruption issues ... what are the odds that your recent work applies to this issue?

[2013-03-04 12:50] charl commented on #282
@slfritchie Is there at least a process I can follow to reinitialize my failed node to get it back up and functioning as a cluster node again?

http://docs.basho.com/riak/1.2.0/cookbooks/Recovering-a-Failed-Node/ seems to suggest I can simply start my bitcask backed node normally to recover but it does of course not start properly so this is not really applicable to my situation.

Is it safe for m

[2013-03-04 16:05] rzezeski commented on #282
@charl

The stacktrace you pasted is telling you that your merge index buffers are corrupted.  Merge index is the inverted index used by Riak Search.  If you take the node offline you can use some Erlang code I wrote to detect the bad files and remove them.

https://gist.github.com/rzezeski/3250870

You'll want to run that script for every partition in your merge index directory.  Any files it rep

[2013-03-04 16:58] charl commented on #282
@rzezeski Thanks, I'll give it a whirl.

[2013-03-04 19:42] evanmcc commented on #278
These two commits should take care of the issue.  Any opinions?

[2013-03-05 06:51] charl opened #287 "riak_1.3.0rc4: stats no longer work and fail with a '500 Internal Server Error'"
Here's a curl session from the command line:

[code]

[2013-03-05 07:05] charl commented on #287
This issue no longer exists in riak_1.3.0 so I am closing the ticket.

[2013-03-05 07:05] #287 closed, assigned to nobody

[2013-03-05 09:16] charl commented on #282
detect-bad-files from  https://gist.github.com/rzezeski/3250870 worked for me.

[2013-03-05 09:16] #282 closed, assigned to nobody

[2013-03-10 15:44] dergraf opened #288 "embedded option"
In https://github.com/basho/riak/blob/master/rel/files/riak#L273 the erl option -embedded is used. The option -embedded doesn't exist in http://www.erlang.org/doc/man/erl.html, but the option '-mode embedded' therefore exists. If you use '-mode embedded'  instead a staging release can't boot anymore since it can't resolve the symlinked dependencies (missing vsn-suffix).
My guess is that booting a

[2013-03-13 17:37] theslava opened #289 "/usr/sbin/riak script should not be trying to run"
If /usr/sbin/riak is invoked as a user other than the riak user, it currently tries to restart itself using sudo and outputs the following message:
Attempting to restart script through sudo -H -u riak

It should not be trying to do that as it is possible that Riak is running on a system which does not have sudo installed. Unfortunately, sudo is not the only tool in existence that can do privilege

[2013-03-13 17:55] jaredmorrow commented on #289
In our packages, we require `sudo` as a dependency.  It might not be the perfect solution, but `sudo'`is what most people are familiar with so that is the choice we made.  If compiling from source, obviously you have the choice to change it to use whatever tool works best in your environment.

We support Solaris, FreeBSD, SmartOS in the BSD/Unix domain and all of them have sudo either by default o

[2013-03-13 18:34] theslava commented on #289
If the /usr/sbin/riak script the only part of Riak that requires sudo simply because it tries to become the riak user, I do not agree that sudo should be a requirement for Riak.

##

Slava

[2013-03-15 21:07] jaredmorrow commented on #278
Still no riak_kv reviewer??  @evanmcc crack the whip!

[2013-03-15 23:18] evanmcc commented on #278
jwest is on the case

[2013-03-17 07:30] crodas commented on #166
I had the same issue with OpenSuse 64 bits and I fixed with issue with

[code]

[2013-03-20 23:41] kientzlecatch opened #295 "Riak 1.3.0 tarball is broken"
I originally filed this as a documentation issue but it was suggested I file it here instead:
  https://github.com/basho/basho_docs/issues/265

The instructions at docs.basho.com (http://docs.basho.com/riak/latest/tutorials/fast-track/Building-a-Development-Environment/ and various pages linked from there) suggest downloading a tarball and then running make.

Unfortunately, the makefile immediatel

[2013-03-21 00:02] kientzlecatch opened #296 "Riak build issue on Mac OS 10.7 using lzo from MacPorts"
I just installed Erlang r15b01 using "kerl", then checked out Riak git master using:

$ git clone git://github.com/basho/riak.git

The build then failed because of a missing dependency on lzo/lzo1x.h:

$ cd riak
$ make rel
.... many build messages ...
libtool: link: ( cd ".libs" && rm -f "libsnappy.la" && ln -s "../libsnappy.la" "libsnappy.la" )
c++ -DHAVE_CONFIG_H -I.      -Wall -O3 -fPIC -MT sna

[2013-03-21 11:04] simonvc opened #297 "Add a max_object_size parameter to prevent customers uploading objects which are too large."
To prevent the uploading of unreasonably large files to riak there should be a max_object_size parameter in app_config, with a sensible default that can be changed by the user.

Maybe: Have it return a 500 server error if the content type length is too large, with the error text being a recommendation to investigate riak-cs

[2013-03-22 08:13] marcelloceschia opened #298 "OTP release R16B is not compatible with riak"
[code]

[2013-03-22 12:16] jaredmorrow commented on #298
Yes, we don't support R16 yet.  When we do, we will change all of the rebar.config regex's.

[2013-03-22 12:16] #298 closed, assigned to nobody

[2013-03-22 13:22] jaredmorrow commented on #295
I just disconnected my machine from the network and built from the 1.3.0 tarball, I hit the leveldb issue as described in the "building without internet connectivity", in the 'make' step.  Once I put the leveldb directory in place everything built fine without any network connectivity.

I see where you hit your problem though.  In the 'make devrel' step it did try to go out to the network to re-cl

[2013-03-22 16:57] kientzlecatch commented on #295
For the record:  I have full Internet connectivity on my dev machine.  The "building without internet connectivity" instructions do not describe the problems I'm having.

Now I see where I went wrong.  The full messages I got before were:

$ make rel
fatal: Not a git repository (or any of the parent directories): .git
./rebar get-deps
env: escript: No such file or directory

The git "fatal" error

[2013-03-22 16:57] #295 closed, assigned to nobody

[2013-03-22 17:21] jaredmorrow commented on #295
@kientzlecatch thanks for sending the update.

[2013-03-22 21:29] mchristiansen opened #299 "Improve Protobuf API"
The protobuf API lags significantly behind the HTTP API. At the very least it would be nice to have a stats call to get information about node health from a riak client.  Also, if the APIs matched it would allow for simpler implementations of any client APIs that try to provide both APIs as options.

[2013-03-22 22:18] jaredmorrow commented on #299
/cc @seancribbs because he will give you a way better answer than me.

[2013-03-24 02:27] adaptunit opened #300 "Missing "export_type" (try build riak-1.3.0 from source on R16B)"
mochiweb - to get rid of the message "parameterized modules..." I had to take manually  version 2.5.0 of mochiweb.

 . . .

Missing announcements:  "export_type()."

Add "-export_type([db_ref/0,itr_ref/0])." to :

riak-1.3.0/deps/eleveldb/src/eleveldb.erl
 . . .

Add "-export_type([state/0])." to :

riak-1.3.0/deps/riak_pipe/src/riak_pipe_vnode_worker.erl
riak-1.3.0/deps/riak_pipe/src/riak_pipe_w_

[2013-03-24 02:44] jaredmorrow commented on #300
There is nothing wrong with riak, we don't support Erlang 16b because our 1.3 branch of releases was developed when only Erlang 15b was available.  If you install Erlang 15B01, things will work as expected.

[2013-03-24 02:44] #300 closed, assigned to nobody

[2013-03-28 17:48] evanmcc commented on #278
both PRs merged, closing

[2013-03-28 17:48] #278 closed, assigned to jaredmorrow

[2013-03-28 20:47] jaredmorrow commented on #278
Awesome, thanks @evanmcc

[2013-03-29 19:35] subnetmarco opened #301 "Riak 1.3 suddenly crashes, even without a big load"
I've got the following problem when running Riak 1.3 with LevelDB on EC2 (c1.xlarge):

[code]

This happens suddenly also when the cluster is not stressed. The cluster is made of **4 machines**, **64 partitions**, and `n_val=2`. This is a very sever problem because it often happens that the **whole** cluster crashes. Each server has an average of **60GB** of data stored.

These are other logs from

[2013-04-02 15:42] seancribbs commented on #299
I don't think we'll be adding stats to the PBC API because I understand we have a plan for having a separate "admin" interface that is single-protocol. Also, with how quickly the stats structure changes in each release, I doubt we could provide a message type that would make sense.

That said, we are making a strong effort to provide parity for all other features.

[2013-04-02 15:42] #299 closed, assigned to nobody

[2013-04-02 17:36] subnetmarco commented on #301
The cluster crashed again, this time the I've been able to log the following error:

[code]

[2013-04-02 21:32] engelsanchez opened #305 "Investigate why 2i/list keys during cluster change misses keys easily"
A coverage query like a 2i range may return less than the number of actual results during ownership transfers.  We have in place a mechanism to forward requests to nodes that have transferred ownership already for a grace period, so this should not happen as frequently as it's been seen by some customers and during riak_test runs.

[2013-04-02 23:15] ivenhov commented on #305
Here's the thread where I reported the issue
http://comments.gmane.org/gmane.comp.db.riak.user/10468

Easily reproducible with 3k keys, 3 nodes and 512 vnodes. With default 64 vnodes I could not reproduce it.
The only workaround to reliably list keys via 2i was to wait until transfer completes
Daniel

[2013-04-04 12:35] yssk22 opened #306 "Wrong ERTS_PATH configuration on ubuntu/precise riak package"
Hi, I found a minor bug on init script included in riak_1.3.1-1_amd64.deb package.

init script says on https://github.com/basho/riak/blob/master/package/deb/debian_riak_init#L19

   ERTS_PATH=/usr/lib/riak/erts-5.7.5/bin

but the actual built package published on http://s3.amazonaws.com/downloads.basho.com/riak/1.3/1.3.1/ubuntu/precise/riak_1.3.1-1_amd64.deb contains erts-5.9.1 so that we need to

[2013-04-04 13:27] jaredmorrow commented on #306
This is indeed a bug, I will fix it as soon as possible.  Thank you for reporting it.

[2013-04-04 15:51] bsparrow435 opened #307 "riak-admin test should test against local node and/or each node in cluster"
Proposed change: riak-admin test local and riak-admin test cluster

local: Do a read/write for a value where the local node is in the preflist
cluster: Do a batch of read/writes that cover preflists containing all nodes

riak-admin test can use legacy behavior or be switched to local functionality.

[2013-04-04 15:56] jaredmorrow commented on #307
+100

[2013-04-04 16:01] jonmeredith commented on #307
I believe Swift does something similar to the cluster test.  Agreed we should do something like this.  Question is what to do about exposing the keys to list buckets / list keys, although I suppose the current test code writes a visibile key/value.

[2013-04-04 22:14] eikenb opened #308 "Rack awareness [JIRA: RIAK-2975]"
Riak needs rack aware settings. It is a near perfect fit for AWS/Openstack setups except for this deficiency.

Here are links to the entries in the old bug tracker about this issue to help with context.

https://issues.basho.com/show_bug.cgi?id=883
https://issues.basho.com/show_bug.cgi?id=245

[2013-04-05 14:33] reiddraper commented on #307
Just use bucket `nothing-to-see-here-move-along-this-could-not-possibly-collide-with-a-user-bucket`

[2013-04-06 19:07] savar commented on #308
+1

[2013-04-08 17:44] subnetmarco commented on #301
After updating to _1.3.1_ the whole cluster crashed again. Now I've been able to log the following error, which suggests a lack of memory on the server. I wonder how can I then limit memory consumption.

[code]

[2013-04-11 12:21] slfritchie opened #309 "Raise ETS table limit substantially"
ETS tables are cheap: we should be packaging up vm.args with much bigger table limits.  99 times out of 50, customers are bitten by too few ETS tables, not too few bytes to store all of the data in ETS tables.  (Except for memory backend abuse, of course.)

[2013-04-12 13:29] jaredmorrow commented on #296
I haven't been able to reproduce on any OSX machine I've tried.  I have installed the xcode command line tools on every machine as a base requirement.  For now I'm going to close this because it doesn't seem to be an issue in Riak.

[2013-04-12 13:29] #296 closed, assigned to nobody

[2013-04-12 15:03] jaredmorrow commented on #301
Since replies have been made on the mailing-list, I'm going to go ahead and close this as an issue for now.

[2013-04-12 15:03] #301 closed, assigned to nobody

[2013-04-12 15:04] jaredmorrow commented on #288
Thanks for reporting this, looks like it is an ancient holdover from Erlang R13 days.

[2013-04-12 15:06] jaredmorrow commented on #267
The issue is a limitation in epmd, see this gist to fix the issue: https://gist.github.com/vinoski/4689170

[2013-04-12 15:06] #267 closed, assigned to nobody

[2013-04-12 15:12] jaredmorrow commented on #247
This was addressed in the Riak 1.3.0 release.

[2013-04-12 15:12] #247 closed, assigned to nobody

[2013-04-12 15:18] #235 closed, assigned to nobody

[2013-04-12 15:21] jaredmorrow commented on #234
Requesting updated status on this on the linked riak_kv PR.

[2013-04-12 15:25] jaredmorrow commented on #227
Closed with change to riak_kv.

[2013-04-12 15:25] #227 closed, assigned to nobody

[2013-04-12 16:05] #288 closed, assigned to nobody

[2013-04-12 16:09] jaredmorrow commented on #288
Fixed in the above PR's, thanks for reporting it!

[2013-04-12 16:42] jaredmorrow commented on #188
Closing the issue in favor of using `riak-admin cluster replace` in `reip`'s place.

[2013-04-12 16:42] #188 closed, assigned to nobody

[2013-04-12 16:57] jaredmorrow commented on #307
Setting milestone to 1.4++ unless you want to tell me something different @bsparrow435

[2013-04-12 17:04] jaredmorrow commented on #289
For now we will not be replacing sudo with sesudo as most users are willing to install sudo to control their ACL policy for Riak.  Thanks for reporting it, we will keep it in mind for releases down the road.

[2013-04-12 17:04] #289 closed, assigned to nobody

[2013-04-12 17:28] #164 closed, assigned to reiddraper

[2013-04-12 17:28] jaredmorrow commented on #162
Agreed, this needs to be fixed.  I will set the milestone to post 1.4 to look at redoing this.

[2013-04-12 17:29] jaredmorrow commented on #158
/cc @russelldb as he would know if there is something in the pipeline or not.

[2013-04-19 22:49] jaredmorrow commented on #306
This is fixed by PR #268

[2013-04-19 22:49] #306 closed, assigned to jaredmorrow

[2013-04-19 22:50] jaredmorrow commented on #123
This part was removed in #268 so I will close this issue now.

[2013-04-19 22:50] #123 closed, assigned to nobody

[2013-04-22 02:27] peopleforrester commented on #301
Jaredmorrow,
I am having the exact same issue and I am on the mailing list as well.  Can you refer me to the thread that gave you some insight as to the answer.

thx.

[2013-04-22 04:20] subnetmarco commented on #301
@mmajere http://riak-users.197444.n3.nabble.com/Unexpected-Riak-1-3-crash-td4027359.html

[2013-04-22 15:41] rspeer opened #315 "Objects in Riak Search sometimes match based on their old values"
I believe this is the same issue reported here: http://riak-users.197444.n3.nabble.com/Issue-on-riak-search-when-update-bucket-tt4026629.html

Here's what's happening in my tests:
1. test_riak_10717-docs is a DB with about five documents in it. I have enabled search on it, via PUT /riak/test_riak_10717-docs, with the value {"props":{"search":true}}.
2. I PUT a document like this to /riak/test_riak

[2013-04-24 14:39] glickbot opened #317 "Riaknostic issue when compiling rel or devrel from source"
Haven't had time to dig deeper yet, but when compiling via 'make rel' or 'make devrel', the command "$RIAK/bin/riak-admin diag" results in the following error:
$ riak/bin/riak-admin diag
escript: exception error: undefined function riaknostic:main/1
  in function  escript:run/2 (escript.erl, line 741)
  in call from escript:start/1 (escript.erl, line 277)
  in call from init:start_it/1
  in call f

[2013-04-28 11:02] henglinli opened #319 "ERROR: OTP release R16B does not match required regex R14B0[234]|R15"
Not support OTP R16B

[2013-04-28 20:50] jaredmorrow commented on #319
This is not a bug, we haven't tested on 16B from 15B01.  The next step will be 15B03, then sometime down the road will be 16B.  Some people run Riak to the edge of what erlang can handle, so performance testing a new release is a difficult and time consuming task. For now, you can fork Riak and change the regex for your source builds.

[2013-04-28 20:50] #319 closed, assigned to nobody

[2013-04-29 12:37] 1100110 opened #320 "Is Debian deprecation planned?"
It is no longer possible to install the Debian packages on any system that uses Debian as it's upstream package repository.

Ah, I see.  You are building the packages on Ubuntu(guess), both OpenSSL AND glibc are too new, at least.

If you need me to, I'll tell you which versions you should use and/or build a new Debian package that should work.

Debian Unstable has libc6 <= 2.13, Riak packages req

[2013-04-29 13:48] jaredmorrow commented on #320
We have separate Debian 6 packages available, that I build on a Debian 6 machine.

It has this libc installed

[code]

And here is the machine's version information:

[code]

Are you using the Debian packages [found here?](http://docs.basho.com/riak/latest/downloads/)

[2013-04-29 13:49] jaredmorrow commented on #320
Oh, to answer your deprecation question, we have no plans to deprecate Debian support.  The only deprecation plans we have coming up is dropping 32bit support in Riak 1.4.

[2013-04-30 19:05] #320 closed, assigned to nobody

[2013-05-04 04:34] 1100110 commented on #320
Sorry! I confused my attempts with the Ubuntu Packages.  The Ubuntu gives the (expected) libc error, the Debian package gives a "Error: Dependency is not satisfiable: libssl0.9.8 (>=0.9.8m-1)"

[2013-05-04 04:48] jaredmorrow commented on #320
This is what I have

[code]

So either you don't have libssl0.9.8 installed or it is older version that should be updated.  Try simply `udo apt-get install libssl0.9.8` to see if it is installed.

[2013-05-04 15:46] 1100110 commented on #320
Ah, I see...  I've updated my system partially to unstable.
This is the libssl I have: libssl1.0.0:amd64 1.0.1e-2

Ok, I'm retarded. I can fix that. Thanks for the help!

[2013-05-04 15:53] jaredmorrow commented on #320
FYI you can have libssl0.9.8 and libssl1.0.0 installed at the same time since they are two separate packages and not two versions of the same package.

On May 4, 2013, at 9:46 AM, Jude Young notifications@github.com wrote:

[2013-05-07 09:20] remialvado opened #321 "Multi GET following a Search"
Hi,

for performance purposes, we'd like to implement a way to limit HTTP requests after a search. for the moment, we are doing :
- 1 X GET on /solr/myBucket/search?...&fl=id
- 50 X GET on /riak/myBucket/...

We have already moved from sequential curl requests to parallelized ones but it is not enough. We are facing three possibilities :
- add a new option to the /solr endpoint to return the full

[2013-05-07 13:16] jaredmorrow commented on #321
/cc @rzezeski he would be the most knowledgeable search expert to answer your question

[2013-05-07 13:39] abolibibelot commented on #321
Actually this is not only search-related, a multi-GET for the plain kv part would be nice too.

[2013-05-16 01:46] jj1bdx opened #325 "riak-debug does not found app_epath.sh"
when you do the following on the master branch

[code]

The `riak-debug` cannot find the necessary `app_epath.sh` and gives the error as:

[code]

Copying the necessary file with this command

[code]

will solve this issue.  Installation problem?

(Working environment: OS X 10.8.3, R15B03-1)

[2013-05-16 03:24] jaredmorrow commented on #325
Yes, this is a bug, app_epath.sh needs to be installed in the `rel/reltool.config` file.  /cc @fprimex have time to fix this  before 1.4 freeze?  Thanks for catching that @jj1bdx

[2013-05-16 19:14] #325 closed, assigned to nobody

[2013-05-21 22:15] slfritchie commented on #309
Closing: 327 is done

[2013-05-21 22:15] #309 closed, assigned to slfritchie

[2013-05-24 15:08] jaredmorrow commented on #317
Fixed in PR to change riaknostic from an escript to an app.

[2013-05-24 15:08] #317 closed, assigned to nobody

[2013-05-24 15:17] jaredmorrow opened #330 "Riak sometimes does not fully shutdown"
In testing, very rarely we see Riak fail to shutdown.  Nothing is still running, but the process is still hanging around.

This problem was also seen in the wild and reported on the riak-users list: http://lists.basho.com/pipermail/riak-users_lists.basho.com/2013-May/012019.html

One possible hint at a fix was mentioned on the erlang-bugs list: http://erlang.org/pipermail/erlang-bugs/2013-May/0035

[2013-05-24 18:45] jaredmorrow commented on #330
Attempting to fix by adding `[kernel,stdlib]` to bear in this commit https://github.com/basho/bear/commit/a2ef0336ec9de6e24aa77bf0a04ceb051505151d

Closing for now, will reopen if we see this problem again in testing

[2013-05-24 18:45] #330 closed, assigned to jaredmorrow

[2013-05-28 10:03] ghost opened #332 "Request to make Ubuntu 12.10 install docs clearer"
I have spent about six hours over the past two days trying to get Riak working on Ubuntu 12.10. Why was it so difficult? Let me tell you.

[The installation documentation on the Basho website](http://docs.basho.com/riak/1.3.1/tutorials/installation/Installing-on-Debian-and-Ubuntu/) tells users to update their apt sources list and then simply `sudo apt-get install riak`.
This generates 403 errors f

[2013-05-28 14:09] jaredmorrow commented on #332
@worldhack this is indeed a bug in our documentation, we have the section you were looking for, but it was behind a version regex filter that didn't include 1.3.1.  I'm really sorry you had to take so much time to figure it out on your own.  The below linked PR will fix this issue moving forward.

[2013-05-28 21:20] ghost commented on #332
Thank you for this

[2013-05-28 21:22] #332 closed, assigned to nobody

[2013-05-29 06:42] ghost opened #334 "Another issue with documentation for 1.3.1"
Riak 1.3.1
Ubuntu 12.10

I found one more thing in the documentation that has lead me to a dead end. The installation leads on to The Riak Fast Track, which leads on to [Building a Development Environment](http://docs.basho.com/riak/1.2.0/tutorials/fast-track/Building-a-Development-Environment/) where it asks new users to `make devrel`, which will deploy four development nodes. Apparently [this do

[2013-05-29 16:36] jaredmorrow commented on #334
These are just suggested things you can do to find out more about Riak.

When you click on "Riak" from the main docs.basho.com page, you are presented with a Getting Started page that lists the Fast Track first.

![screen shot 2013-05-29 at 10 33 55 am](https://f.cloud.github.com/assets/718326/579996/c37a9fac-c87d-11e2-8037-9fd4825da850.png)

 You instead started at the install page, so it suggest

[2013-05-29 16:36] #334 closed, assigned to nobody

[2013-06-08 09:14] mjp0 opened #337 "HyperLevelDB as a backend [JIRA: RIAK-1846]"
I'm not sure if this is the right repo for this but have you guys had the time to evaluate HyperLevelDB as a potential backend? At least according to the authors it's compatible with LevelDB so integration might not be very difficult. Their own benchmarks show a lot of performance improvements.

https://github.com/rescrv/HyperLevelDB
http://hyperdex.org/performance/leveldb/

[2013-06-08 19:11] seancribbs commented on #337
We already have a fork of LevelDB as a backend, and it is heavily optimized for Riak's use-case. @matthewvon (our lead engineer on LevelDB) [has already said](https://news.ycombinator.com/item?id=5835098) that he will look into integrating HyperDex's changes when time permits.

[2013-06-08 19:11] #337 closed, assigned to nobody

[2013-06-13 18:05] skorgu commented on #308
+1

[2013-06-22 02:05] btv opened #340 "build errors"
I'm on ArchLinux using erlang 16B01.

When trying to use the fast track documentation, trying to do the step "make all" I get this error:

[code]

Oddly enough I was able to "make" within both the deps/lager and lager_syslog directories. So I'm not sure where in the build process this error is occurring.

Happy to help test in anyway.

[2013-06-22 03:07] jaredmorrow commented on #340
We don't test against R16B01 yet that's why you got an error.  If you
really want to build against R16 instead of R15 just change the regex in
Riak's rebar.config.

On Friday, June 21, 2013, Bryce Verdier wrote:

[2013-06-22 20:46] ivenhov commented on #305
I just wanted to check if there's any progress on that considering 1.4 is round the corner.

[2013-06-25 04:17] jaredmorrow opened #343 "Typo in RPM init script causes `service riak status` to fail"
In 1.3.2 if you use the `service` command with the RPM packaged init script to check status, you get the following error:

[code]

This is caused by a typo in the init script that instead of calling the function `do_status()` it calls the system's `status` call which is not what we want.

[2013-06-25 14:18] #343 closed, assigned to nobody

[2013-06-26 04:23] btv commented on #340
Thank you Jared.

Can I assist at all by running tests? Is there a test suite to run?

[2013-06-26 04:42] jaredmorrow commented on #340
Developers at Basho already run R16B01 on a daily basis so I don't think there would be a problem functionality wise.  The reason we are slow to move Erlang VM's is due to our use of NIF's for our backends and the slight nuances we've found between even minor releases of Erlang.  The testing needed for 16B01 will probably be complex performance / scheduling testing to qualify it.

I'd say if you a

[2013-06-26 04:43] jaredmorrow commented on #340
I will go ahead and close this as not a bug, but please feel free to continue the conversation after it closes.

[2013-06-26 04:43] #340 closed, assigned to nobody

[2013-06-27 14:29] sonnyp opened #344 "Support for JSON Pointer and JSON Patch"
Would be pretty awesome to get JSON Patch support.

JSON Pointer and JSON Patch just got standardized
https://tools.ietf.org/html/rfc6901
https://tools.ietf.org/html/rfc6902

[2013-06-27 15:27] seancribbs commented on #344
Riak values are not constrained to any specific data/content-type, I don't see how this would even apply.

[2013-06-27 15:27] #344 closed, assigned to nobody

[2013-06-28 04:17] btv commented on #340
So I came across some compile errors with 1.3.2 and R16B01. Should I post them here or would you like new bug submitted (after checking if they are already submitted of course ;) )?

[2013-06-28 04:19] evanmcc commented on #340
The 1.3 and 1.4 lines are unlikely to ever support R16.

[2013-06-28 04:50] jaredmorrow opened #345 "Unable to build Riak from source tarball while offline"
The riak source tarball provided as a download each release does not contain the entirety of the riak code base.  The leveldb source code is not included.

This causes issues that have been reported many times by users and documented [on our docs page](http://docs.basho.com/riak/latest/tutorials/installation/Installing-Riak-from-Source/) under the section "Installation on Closed Networks".

This i

[2013-06-28 05:06] jaredmorrow commented on #340
The effort to remove incompatibilities happened in the 1.4 development cycle, so it is no surprise you found some issues in 1.3.2.  Post 1.4, our plan is to move to R16.

[2013-06-28 18:30] #345 closed, assigned to jaredmorrow

[2013-06-29 05:47] btv commented on #340
Thank you Jared for the information. Arch (and fedora 19) seemed both to have moved to R16. I'll have to find another way to play with Riak while I patiently wait for R16 compatibility.

I wouldn't mind helping out, but my Erlang & C skills are pretty weak, not sure where I could be of help.

[2013-06-29 06:08] jaredmorrow commented on #340
Building Erlang from source is quite easy

We have a simple guide for linux here: http://docs.basho.com/riak/latest/tutorials/installation/Installing-Erlang/#Installing-on-GNU-Linux

[code]

[2013-07-10 17:01] mwl opened #348 "Too uneven balance when going from 4 to 5 nodes in 64 partion cluster"
Due to some rounding issues in [wants_claim_v2/2](https://github.com/basho/riak_core/blob/master/src/riak_core_claim.erl#L174:L187) one node will claim 25% of all partitions when going from 4 to 5 nodes in a ring with 64 partitions.

Description by @rsltrifork:

[2013-07-10 20:18] MJDSys opened #349 "Broken APT Repository for Ubuntu Precise and Riak 1.4.0"
The APT repository for Ubuntu Precise appears to have incorrect metadata in it, preventing Riak 1.4.0 from installing.  You can see the effect here: https://drone.io/github.com/MJDSys/goriakpbc/12 .

[2013-07-10 20:28] jaredmorrow commented on #349
Sorry for the trouble.  We had some issues with packages and the repos
needed to be repopulated and this has obviously caused some issues.  We
will investigate and fix as soon as we can.

On Wednesday, July 10, 2013, Matthew Dawson wrote:

[2013-07-10 22:41] jaredmorrow commented on #349
We have rebuilt the repos, please let us know if this has not fixed your issue @MJDSys

Thanks for reporting it.

[2013-07-10 22:53] UtahDave commented on #349
Thanks for the quick fix!

[2013-07-11 00:34] #349 closed, assigned to nobody

[2013-07-11 01:40] MJDSys commented on #349
Everything is work great now!  Thanks for fixing it.

[2013-07-11 20:47] xpe opened #352 "1.4.0 OS X i386 build?"
I'm updating the Riak homebrew recipe. I don't see any link for a i386 build for 1.4.0. Does that mean 32 bit builds are gone? I don't personally need a 32 bit build; I just don't want to remove 32 bit support from the homebrew recipe if you guys are still supporting it.

Note: 1.4.0rc1 had a 32 bit build: http://docs.basho.com/riak/1.4.0rc1/tutorials/installation/Installing-on-Mac-OS-X/

[2013-07-11 20:54] jaredmorrow commented on #352
That RC1 link was actually just broken and the documentation was not updated yet.  We no longer support 32bit builds on any platform.  Currently there is no plan to go back to 32bit in the future.

[2013-07-11 20:54] #352 closed, assigned to nobody

[2013-07-11 21:06] jaredmorrow commented on #348
This is a known issue with the claim_v2 algorithm.  It is also why we suggest running with 5 nodes as a minimum.  There are already plans to fix this issue in the next version of the claim algorithm that is being written.

[2013-07-11 21:06] #348 closed, assigned to nobody

[2013-07-11 21:29] xpe commented on #352
1.4.0 release notes are here: https://github.com/basho/riak/blob/master/RELEASE-NOTES.md (for reference)

[2013-07-11 21:33] jaredmorrow commented on #352
That link will not always be for 1.4.

1.4 release notes are here https://github.com/basho/riak/blob/1.4/RELEASE-NOTES.md

[2013-07-12 21:08] agemooij opened #353 "Documentation on links is broken, refers to old link format"
All the docs on links at http://docs.basho.com/riak/ refer to the old "/riak/bucket/key" format for specifying a link target. Riak 1.3 and 1.4 reject (!) this format with a bad request error since the new format should be /buckets/BUCKET/keys/KEY

[code]

Im not sure when the old format was deprecated and I don't have riak 1.2 and earlier handy to test but for 1.3 and 1.4 the docs are clearly inco

[2013-07-24 19:53] russelldb opened #354 "Add more CRDT support to Riak"
# CRDT support in Riak
## Aim

Provide data types in Riak that make it easier for developers to reason about eventual consistency. Currently in Riak we
store opaque data. We do nothing to help the developer model their problem or deal with eventual consistency. By
providing a set of data types in riak that a developer can use to compose a complex value, that has well defined merge
semantics, we ai

[2013-07-24 19:59] russelldb commented on #354
Copying initial comments from private repo:

From @metadave

From @lenary

[2013-07-24 21:33] Vagabond opened #355 "Add Security to Riak"
This is a tracking meta-issue for the cross-repo task of adding security to Riak.
## Rationale

Riak (not Riak CS, which has its own application layer security model) currently has no authentication or authorization, nor does it provide encryption for the Protocol Buffers API (HTTPS is optional for the REST interface). In most deployments, Riak is deployed on a trusted network and unauthorized acc

[2013-07-24 22:04] coderoshi commented on #355
Concerning user groups, I'd vote yes. If a group of permissions could be bundled (aka roles), then users could be assigned to a group/role rather than granted/revoked permissions individually. This could prove helpful, not only in implemented RBAC, but also reduce the complexity of defining multiple users with similar complex roles.

[2013-07-24 22:20] glassresistor commented on #355
+1

[2013-07-24 22:46] bkerley commented on #355
This should include a configurable Certificate Revocation List; otherwise untrusted clients can't be removed without basically starting the CA from scratch.

[2013-07-24 22:48] peschkaj commented on #355
+1

Groups are important, especially in the LDAP/ActiveDirectory world.

[2013-07-24 22:55] aphyr commented on #355
There are fundamentally three modes for TLS' authentication model:
1. Assume you create a separate client key and certificate for each user. Both client and server verify each other's certificate. These channels are secure against MITM attacks, even where the client's CA chain is tampered with. Completing the TLS handshake proves the client's identity to Riak. A username and password is not requir

[2013-07-25 00:09] jj1bdx commented on #355
Canola (a PAM authenticator module) at https://github.com/basho/canola should be included in the **Work In Progress** list.

[2013-07-25 01:02] Vagabond commented on #355
@bkerley  Yes, CRL support is something I forgot to cover, will update the text.

@aphyr Yes, I plan to support both 1 and 2 (but not 3). If you want to use the certificate authentication mode (with no additional password), we require you to handshake via method 1. This is already sort of implemented for the PBC protocol and the riak_test shows its use:

https://github.com/basho/riak_test/blob/adt

[2013-07-25 04:34] randysecrist commented on #355
Will the ACL style permissions preclude / (make it difficult) to use a more capability driven security model (oauth scopes) in a future phase?  Has oauth been discussed?

[2013-07-25 10:32] aggress commented on #355
How would this work with MDC?

[2013-07-25 14:14] seancribbs opened #356 "Client Node-Discovery and Auto-configuration (aka "autoconfig")"
Several other clustered datastores (including Couchbase/Membase,
Amazon DynamoDB, MongoDB with the "config server") have ways of
discovering new nodes in the cluster. Since any Riak node can handle
any request, we should be able to advertise the existence of other
nodes to clients so that they can reconfigure automatically, spreading
load more evenly among the Riak nodes. This can reduce operation

[2013-07-25 14:17] cdahlqvist commented on #355
It would be useful to also have authorization for list_keys, list_buckets and secondary index queries as well as for the ability to run mapreduce queries.

[2013-07-25 14:22] seancribbs commented on #355
@cdahlqvist From my reading of the proposal, all operations will be authorized and audited.

[2013-07-25 15:03] Vagabond commented on #355
@aggress MDC doesn't deal with client authentication at all, it already has support for TLS based authentication, where both sides verify the other's certificate.

@cdahlqvist Yes, EVERY operation (or almost all of them) will need a permission associated, I just don't know what some of them will look like yet. The only exception to the rule may be the stats and ping endpoints, you may be able to h

[2013-07-25 20:06] aggress commented on #355
@Vagabond I was thinking more along the lines of will users/roles created in cluster a) be replicated over to cluster b) or will they need to be set up individually and how might things work with such things like cascading writes?

[2013-07-25 20:11] Vagabond commented on #355
@aggress Yes, that is a good question, will add it to the open questions section. My initial feeling is to NOT replicate that information, but we'll see.

[2013-07-25 20:33] aggress commented on #355
How might commit hooks be handled? stopping user `a` from using a commit hook that updates a bucket only user `b` has access to

[2013-07-25 21:00] ghost commented on #355
Oh yeah, that reminds me: Erlang mapreduce is basically a wide-open door for arbitrary code execution, including, I suppose, modifying the ACLs themselves, so it should only be accessible to the highest privilege levels.

[2013-07-26 00:40] jrwest commented on #355
re: replication between clusters, that isn't something we planned to support in cluster metadata (where this info will be stored) -- at least initially.

Either way, I agree w/ @Vagabond's initial feeling. Even if the cluster is accessed by the same logical users I would assume they are typically accessed by different hardware (external LB at the least, probably different application servers).

[2013-07-26 19:30] russelldb commented on #354
There are many ways to make a CRDT map it seems. None of them are really satisfying to me (yet). But I need to pick one and move on. If you have the time, please help.

All the maps use something like an OR-Set for keys. All Maps map keys of `{name(), crdt_type()} -> crdt(crdt_type())`.

Original (Carlos Map): OR-Set for keys, dict of Key->Value

Upside: pretty small. Only keyset has tombstones.
D

[2013-07-26 23:27] tarcieri commented on #355
Something Riak might consider is a [capability-based security](http://en.wikipedia.org/wiki/Capability-based_security) model for granting access to buckets. I think capability-based security could fit extremely well with Riak's key/value storage model and have done a bit of work in this space.

Under this model, authentication could be handled using whatever mechanism is desired (e.g. mutual TLS),

[2013-07-27 04:58] randysecrist commented on #355
@tarcieri I like your work on [keyspace](https://github.com/cryptosphere/keyspace), and it pairs with what I was going for when I asked about a capability based model a bit earlier.  +1 for this.

[2013-07-27 06:15] camshaft commented on #355
+1 capabilities. It's generally easier to understand and more secure. Managing ACLs becomes cumbersome very quickly from my experience.

[2013-08-02 17:07] slfritchie commented on #356
Thinking of @Vagabond's recent RFC & work, would this be information that would be exposed before or after authentication?

[2013-08-02 18:23] seancribbs commented on #356
@slfritchie I think at least it should be filterable by what hosts patterns the user can connect from. This needs more thought!

[2013-08-07 20:15] bakins commented on #356
I think having something akin to what couchbase has with moxi would be helpful. A lightweight "proxy" that understands the autoconfig -- and possibly authentication, as well. Could be used in place of haproxy in most of my use cases and I can continue to use "dumb" clients.

[2013-08-07 23:42] seancribbs commented on #356
@bakins What client(s) are you currently using?

[2013-08-08 11:31] bakins commented on #356
@seancribbs ruby, go, and Lua

[2013-08-08 12:43] seancribbs commented on #356
@bakins Not sure we can manage writing our own proxy, but with the way this is designed, it should be very straightforward to write a daemon that reconfigures existing proxy software. Alternatively, a Chef/Puppet/etc run could be used to rewrite the configuration, which is what most people do nowadays. It is my intention that admins will be able to turn off the feature, and client participation is

[2013-08-08 15:30] slfritchie opened #359 "Use new version of riak_sysmon app"
Once this PR is merged & new tag created, change the rebar dependency for riak_sysmon to use the new version.

https://github.com/basho/riak_sysmon/pull/9

[2013-08-08 21:36] Vagabond commented on #355
So, after a bunch of reading and internal discussion, I think we're going to stick with ACLs, for the following reasons:
- Users are more familiar with them, other databases are primarily ACL based (when they provide security at all).
- Clients for Riak don't need to pass credentials around.
- Credentials are harder to audit, unless you tie them to a per-user certificate you can revoke or somethin

[2013-08-08 21:49] tarcieri commented on #355
Sad to hear that :(

I buy the familiarity argument, but that's really the only thing ACLs have going for them over capabilities. Since capabilities solve the AuthZ problem, you can still use MTLS to solve AuthN and revoke access that way. Audit logging can be used to spot abuse of capabilities.

Relevant: [Zed Shaw - The ACL Is Dead](http://vimeo.com/2723800)

[2013-08-09 18:58] Vagabond commented on #355
I am watching that talk, but I'm struggling to extract much of relevance from it. It is sort of like a tech-related street performance that occasionally touches on ACLs en-route to bagels, smoked meat, corporate greed, the incompetence of MBAs, etc.

The three key points he seems to make are:
- ACLs are not turing complete
- Does not have repetition
- Does not have externally accessible storage

M

[2013-08-09 19:51] tarcieri commented on #355
Haha, sorry about that. But I hope it drives home that ACLs are in an uncanny valley between a capability based system and Turing-complete code for providing AuthZ.

Waterken Web describes some of the tradeoffs of capabilities vs ACLs:

http://waterken.sourceforge.net/

You might also take a look at how Tahoe-LAFS implements "writecaps" and "readcaps" for its mutable files. You wouldn't need anyth

[2013-08-09 21:15] Vagabond commented on #355
Maybe we can narrow the conversation here. When would the confused deputy problem occur for Riak, along the lines of the compiler example here:

http://waterken.sourceforge.net/aclsdont/current.pdf

[2013-08-09 21:32] Vagabond commented on #355
I guess my biggest sources of mystification are the following:
- What part of the above proposal has the capacity to act as a confused deputy
- What does issuing a capability to a user look like, and how would it work

[2013-08-10 01:45] tarcieri commented on #355
@Vagabond that's not a question I can answer until you have defined a threat model. Only then can you enumerate potential attacks and choose defenses.

I can perhaps enumerate why ACLs don't work in practice with an example threat model:

**Threat**: We want to give Alice, but not Mallory, AuthZ to X even though both Alice and Mallory can both AuthN to the service providing X and Alice and Bob are

[2013-08-12 18:52] jrwest opened #362 "Add Bucket Types to Riak"
Today, keys in Riak are made up of two parts: the bucket they belong to and a unique identifier within that bucket. Buckets act as a namespace and allow for similar keys to be grouped. In addition, they provide a means of configuring how Riak treats that data.

In the next release of Riak several new features will take advantage of this namespacing. In discussing these features, it has become appa

[2013-08-12 19:28] gideondk commented on #362
Very good addition IMHO. Next to easier bucket configuration, a extra dimension really helps in structuring equally named buckets for different scenario's (instead of prefixing it yourself).

Don't see any large problems in client implementation though... :-)

[2013-08-12 19:57] brunogirin commented on #362
Is there any particular reason why link walking will be restricted to the `default` bucket type?

[2013-08-12 20:13] peschkaj commented on #362
I don't see any large problems in client implementation, either. I'm going to guess that the .proto implementation will include an optional field for `type` which means sane protocol buffers clients shouldn't have to make any changes or do any version detection dance.

Barring a sudden introduction of new PBC methods, this looks good to me.

[2013-08-12 21:50] jrwest commented on #362
@gideondk @peschkaj great! glad to hear you guys won't find it too be too much of a pain.

@brunogirin There is no technical reason why it cannot be added. We may do so in a future release depending on demand but for the upcoming release it probably won't make it in. For existing link walking users nothing will break, which I think is the most important thing. As usual an early community contribut

[2013-08-13 16:52] uberbrady commented on #362
These don't really feel like types to me - more like "bucket groups". Separately, there seem to be some optional settings you can put in for all buckets that are in one group.

I don't know if I'm just bikeshedding here - but I feel like you could just allow for some "/" characters in a bucket - a sort of simple bucket hierarchy - and get most of what you need.

Buckets that aren't in any group -

[2013-08-13 17:05] seancribbs commented on #362
@uberbrady I think it's more constructive to think of them outside the context of the HTTP API. It clouds the issue.

[2013-08-13 17:12] jrwest commented on #362
@uberbrady one thing I didn't realize upon first read is your version used the already "old" API and the RFC uses the "newer" APIs. The APIs you are referring to are not yet deprecated within Riak but they are also not commonly extended ([for example](https://github.com/basho/riak_kv/pull/422)). The effect will be the same and the API you refer to will continue to work for at-least buckets in the

[2013-08-13 18:24] slfritchie opened #363 "Riak 2.0: investigate +A sizing problem for R16B01"
As we're planning on using the R16B01 version of Erlang/OTP for the Riak 2.0 release, we need to investigate this problem:

http://erlang.org/pipermail/erlang-bugs/2013-August/003702.html
1. Confirm that it's real.
2. Develop process workaround, e.g. with Cuttlefish and with various Riak docs.  For example, what to do when upgrading Riak and keeping old vm.args (as default action)
3. Also apply to

[2013-08-13 19:27] Vagabond commented on #355
Right, I see that is nice to separate authentication from capabilities from an accounting standpoint and arguably from a flexibility one. However, the overhead seems extremely expensive; a public/private key pair per bucket or key, for something like Riak, would be massive overhead.

There's also the problem that buckets in Riak are 'created' in response to a key being written into them, if they d

[2013-08-14 00:08] evanmcc commented on #363
As for 1. It does seem to be real, and something that will hit us on bitcask.

For example, a disk bound ramp up of bitcask (identical cluster and test load):

R16B01, +A 64:

234.44444444444443 57.422222222222224
358.5944444444445 90.27222222222221
363.52777777777777 89.95
356.73333333333335 89.57777777777778
376.6166666666667 94.89444444444445
369.9277777777778 92.26666666666667
385.922222222222

[2013-08-14 14:26] webhat commented on #355
@Vagabond rather than using a public/private key for each bucket you would use these only for en-/decrypting request for a synchronous key this key is used to en-/decrypt, in the same way TLS does it. Some information and references can be found in [Key Management](http://en.wikipedia.org/wiki/Key_management).

In the ACLs vs. capabilities discussion I've - perhaps wrongly - viewed them as a quest

[2013-08-14 20:37] jadeallenx commented on #362
We have hit one of the problems described with the current design which is: we have some data where "last write wins" is fine and other data where "allow_multi: true" is the right way to handle things. So I support this proposal because it sounds like we can easily share the riak infrastructure even though we might want mixed behaviors about concurrent writes within the same cluster.

[2013-08-15 04:29] tarcieri commented on #355
@Vagabond

How is this going to work in an ACL scenario? Won't you still have to declare what buckets are accessible to a given user?

I guess more generally: do you plan to restrict the capability to create/modify buckets in any way as part of your security model? What security guarantees to do you intend to provide if you don't do this?

[2013-08-15 09:00] brunogirin commented on #362
@jrwest Thanks for the answer. If there is no technical blocker, that's brilliant and it makes complete sense to me that you would want to limit the scope of a first delivery.

From a point of view of what it would solve for me, it would make the multi backend concept more usable by being able to configure one backend for one bucket type and a different backend for another bucket type. I also like

[2013-08-15 14:00] elight opened #364 "Build-time error on OSX, when building with 32 bit Erlang, is confusing."
When building Riak with a 32 bit Erlang on OSX results in an error like:

[code]

[This](http://lists.basho.com/pipermail/riak-users_lists.basho.com/2012-August/009110.html) email to the mailing list explains the issue.  It would be helpful if the build process could provide a suggestion to the user that, on encountering this error, that they are likely running a 32 bit Erlang. It would likely sav

[2013-08-15 17:56] Vagabond commented on #355
Right, but you can say what buckets are accessible without caring if the bucket exists right now or not, since the bucket itself doesn't have to track anything.

The, somewhat modified plan from the above RFC, plan is to use 'bucket types' as part of the ACL, bucket types MUST be explicitly created, unlike buckets, and we can do things like grant a user to write to any under bucket under a particu

[2013-08-18 02:21] jasonfisher opened #367 "apt-get install instructions fail for ubuntu 12.04"
Simply following the instructions to use apt-get to install riak on Ubuntu 12.04 (32 bit) as found on http://docs.basho.com/riak/latest/ops/building/installing/debian-ubuntu/, I end up with a failure at the very last step:
➜  ~  sudo apt-get install riak
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package riak

After googling around

[2013-08-18 13:25] jaredmorrow commented on #367
There is no Riak package built for Ubuntu 32bit, that is why you are getting the errors about not finding Riak.  We only support 64bit platforms.

[2013-08-18 13:25] #367 closed, assigned to nobody

[2013-08-18 13:34] jaredmorrow commented on #364
This is not related to 32bit Erlang.  We do not support 32bit, but you can still build Riak on 32bit just fine.  This is a general problem people ran into finding libraries installed by XCode.

[2013-08-19 16:57] elight commented on #364
While I realize what the error indicated does not appear to correlate with
32bit Erlang, per @cmeik's advice, I rebuilt my Erlang to 64bit and the
compilation error vanished.

Why this should be makes no sense to me either…

The missing header files were present on my machine; however, they were
under significantly different paths than any supplied in the include paths
to GCC.

On Sun, Aug 18, 201

[2013-08-19 17:18] jaredmorrow commented on #364
So I don't think this is a issue with Riak, but an issue with how OSX treats library paths.  I'm all for making errors more obvious, but in this case I don't know what we'd change in Riak.

[2013-08-19 17:37] cmeiklejohn commented on #364
It's something specifically related to nspr (Netscape Portable Runtime) in erlang_js; some sort of environment change is happening when building with 64-bit clang, causing these files to no longer be available in the search path.

[2013-08-21 04:07] tarcieri commented on #355
Here's another paper on capabilities you might consider reading:

http://www.links.org/files/capabilities.pdf

[2013-08-21 23:39] cmeiklejohn commented on #364
Confirmed this error does not occur when building erlang_js outside of Riak.

[2013-08-21 23:56] cmeiklejohn commented on #364
Resolved in basho/erlang_js#39.

[2013-08-22 21:23] cmeiklejohn commented on #364
Tracking in basho/erlang_js#39.

[2013-08-22 21:23] #364 closed, assigned to nobody

[2013-08-27 07:59] kuenishi commented on #354
Just got curious: How can we construct a _combined_ CRDTs like `{crdt_map(), crdt_map(), crdt_counter()}` - which I expect each element of the tuple each CRDT data? Theoretically it looks like possible if CRDTs are not nested, like `crdt_map(string(), crdt_counter())` .

This is because, from the viewpoint of application development ease, we rarely store single-valued object with only single count

[2013-08-27 08:10] russelldb commented on #354
@kuenishi Unless I misunderstand your question, this composition is what  the Map is for. A Map is like a JSON document (for example.) Each field in the Map is a CRDT. So there may be Maps in Maps (in Maps).

Your model would be expressed as (assuming the Key in Riak is User):

[code]

and so on. The Map is used to compose CRDTs. We can only store CRDTs in the Map, the Map's field names include th

[2013-08-27 08:17] kuenishi commented on #354
Thank you, now I get it! That's what we have been wanted.

[2013-08-27 08:26] kuenishi commented on #356
A small nitpick:

[code]

To prevent from wrong value, isn't it good to set the type of port as `uint16` ?

After all I totally like this idea because several users are suffering network bottleneck at the load balancer or automatic client-side failover of connection.

[2013-08-27 15:15] seancribbs commented on #354
@kuenishi I might mention that for the first pre-release we have decided not to allow maps-in-maps via the public API (although they are technically possible).

[2013-08-27 16:29] seancribbs commented on #356
I'd love to, but there's no uint16 type in protobuff.

On Tue, Aug 27, 2013 at 3:26 AM, UENISHI Kota notifications@github.comwrote:

##

Sean Cribbs sean@basho.com
Software Engineer
Basho Technologies, Inc.
http://basho.com/

[2013-08-28 03:45] kuenishi commented on #356
A short Google search made me misunderstand that it has uint16. I should have refered here: https://developers.google.com/protocol-buffers/docs/proto#scalar
Anyway, thanks!

[2013-09-03 15:31] lusis commented on #296
If anyone finds this with google, snappy doesn't use CPPFLAGS, it uses CXXFLAGS. Set that properly before make rel and things should build nicely

[2013-09-03 19:45] phillipfurtado opened #370 "Getting Unsupported Media Type on /mapred"
Hi, I'm doing direct requests to /mapred with -H 'Content-Type: octet-stream' I'm getting Unsupported Media Type. Do you know any other way to retrieve all binary objects from a Riak bucket?

This is my request:

curl -v -d '{"inputs":[["test", "key"]],"query":[{"map":{"language":"javascript", "source":"function(value,keyData, arg) { var dats = Riak.mapValues(value)[0]; return [typeof dats];}"}}]}

[2013-09-04 14:28] joedevivo opened #373 "Add Default Bucket Properties to the Riak Configuration Schema"
Currently, the defaults are set here:
https://github.com/basho/riak_kv/blob/develop/src/riak_kv_app.erl#L80-93

We'll need to decide which values to expose in the schema, and document them.

[2013-09-06 15:45] westhand opened #376 ""sh: 1: exec: sysctl: not found""
Hi,

I raised this issue on the mailing list, but was asked to post it here as well.

"riak-admin diag" returns:

[code]

I can easily explain why:
Riak runs under a UID > 0. Now consider /etc/profile:

[code]

So the "else"-branch is chosen, but sysctl resides in /sbin.

System infomation:
Debian 7, using
- Erlang from the distribution (version 15.b.1-dfsg-4)
- Riak Debs for Debian 6, as well as

[2013-09-06 15:50] bsparrow435 commented on #376
Hi @westhand this is a known [issue](basho/riaknostic#62). It has been resolved by removing `sysctl` checks from Riaknostic but can be resolved in your environment by adding `/sbin` to PATH.

[2013-09-06 15:50] #376 closed, assigned to nobody

[2013-09-06 15:50] westhand commented on #376
I forgot:
I have several ideas for a workaround, but which one is recommended?
Symlinking sysctl to a path?
Editing /etc/profile?
Adding a home directory to the riak user and fix $PATH in .bashrc?
Aliasing?
Running as root? _cough_

[2013-09-06 15:52] westhand commented on #376
Hi Brian

sorry, you posted while I was writing my Annex.
Thanks for the answer.

[2013-09-06 15:52] bsparrow435 commented on #376
The easiest change would probably be `sudo ln -s /sbin/sysctl /bin/`. Anytime!

[2013-09-11 12:59] georgepsarakis opened #381 "Cluster integrity as a function of physical nodes number, bucket n_val and ring size"
The number of physical servers your data gets written on is not clearly stated.
This can lead to unexpected behaviour.

Example:
- Ring size (Partitions) = 64
- physical nodes N = 5
- n_val = 3

In this case all data are kept in 3 partitions and each partition resides on a different physical server. You can lose any 2 servers and still have all your data.
Now, if we add 2 more physical servers (N=

[2013-09-13 05:33] thehappycoder opened #384 "Build fails on mac os x 10.8.4 missing CodeFragments.h"
Installed erlang R15B01 from source, tried to build riak-1.4.2 with gcc and clang but got stuck with same error about missing CodeFragments.h:
gcc -o prlink.o -c     -m32  -Wall -fno-common -pthread -O2 -fPIC  -UDEBUG  -DNDEBUG=1 -DXP_UNIX=1 -DDARWIN=1 -DHAVE_BSD_FLOCK=1 -DHAVE_SOCKLEN_T=1 -DXP_MACOSX=1 -DHAVE_LCHOWN=1 -DHAVE_STRERROR=1  -DFORCE_PR_LOG -D_PR_PTHREADS -UHAVE_CVAR_BUILT_ON_SEM -D_NS

[2013-09-13 08:56] benjaminbarbe commented on #267
It's resolved with latest version of erlang, according to:

https://github.com/mxcl/homebrew/issues/6143
@dch: FWIW this has been addressed in R16B01 anyway now -- search for erlang FD_SETSIZE if you want details.

`brew upgrade erlang`

[2013-09-20 18:22] evanmcc opened #391 "Validate +stbt nnts as a potential default setting."
When running on bare-metal dual socket/cpu systems, +sbt (and stbt) nnts can improve performance.  +stbt is preferred because it is ignored on platforms that do not support it.

In order to make it a default setting for vm.args, though, we need to verify a few things:
- performance isn't negatively impacted on other platforms (single cpu, platforms that don't support sbt, virtualized hardware)
- p

[2013-09-23 16:48] evanmcc commented on #363
It looks like R16B02 does fix this issue.  Leaving open for now as it isn't 100% clear to me if we can go with it for other reasons.

[2013-09-25 03:53] radix commented on #354
Hi, I'm just a curious observer learning about CRDTs, but I'm confused about something.

You mention that the literature describes OR-Set as _two_ sets of pairs of (e, unique), but the INRIA paper actually describes it as only one set of pairs of (e, unique) (see Specification 15).

Is there another definition of OR-Set that I'm missing?

Pardon my annoying question...

[2013-09-25 04:20] lenary commented on #354
@radeex our two sets are essentially 1) a set of (elem, token) for additions, and 2) a set of (elem, token) for removals (copies of the ones in the addition set if something is removed). We get the exact same semantics, without having to track when things were added and removed if we do it this way, and just unioning the set on a merge. This is the simplest implementation.

I'd also point out that

[2013-09-25 06:50] russelldb commented on #354
@radeex the tombstoneless set is based on this work (http://arxiv.org/pdf/1210.3368.pdf ([4] above)), in fact we've been very lucky to have Carlos Baquero work with us on the Map and Set implementation.

The confusion about the OR-Set you mention is probably, as @lenary points out, the difference between a state and op based set. The paper at [1] says:

[code]

The easiest way to think of this is

[2013-09-25 15:25] radix commented on #354
Okay, I was wondering if it was about the op-based vs state-based implementations. Your implementation sounds pretty clever. Thanks for the explanation!

[2013-09-29 04:29] danostrowski commented on #355
+1 and thanks!

[2013-10-02 16:47] cmeiklejohn opened #398 "cuttlefish configuration for ssl"
@joedevivo @Vagabond

I think the schema for cuttlefish needs to be updated to support a cacertfile for the ssl configuration

[2013-10-02 16:50] cmeiklejohn commented on #398
Let me know what I can do here; I'd love to have this make it for pre3.

[2013-10-02 17:03] cmeiklejohn opened #399 "Bundled SSL certificate problems."
See basho/riak_control#162.

Our development certificates are generated with an invalid CA certificate, which is not bundled in the repo along with the certificate and keyfile.  When enabling SSL and using Riak Control with the bundled certificates, this generates an "accept failed" and causes the browser to throw up a warning page because the CA certificate is not present.

On the latest version

[2013-10-02 17:19] Vagabond commented on #399
I argued against bundling these SSL certs in the first place, so I'd be happy to see them go.

[2013-10-02 17:27] jaredmorrow commented on #399
+1 for them to be gone.  The original request from Jeff was to make proper docs or a platform-independent script to generate the certificates easily so users won't have any barrier to testing.

[2013-10-02 17:32] Vagabond commented on #399
On Wed, Oct 02, 2013 at 10:27:44AM -0700, Jared Morrow wrote:

I was actually playing with the one bundled with OTP, that OTP uses for
testing SSL to use in riak_test for testing revoked certificates. If
that works out maybe we can adapt it.

Andrew

[2013-10-02 18:39] lukebakken opened #400 ""riak-admin diag" and cuttlefish issue."
Found this while testing 2.0.0pre2 on FreeBSD 9.1. The generated `app.config` is really located at `/usr/local/etc/riak/generated/app.2013.10.02.18.24.30.config`

[code]

[2013-10-02 19:14] cmeiklejohn commented on #399
Cool; I'm going to open a PR to have them removed.

[2013-10-02 19:15] #399 closed, assigned to nobody

[2013-10-02 19:38] cmeiklejohn commented on #398
Addressed by #402.

[2013-10-02 19:38] #398 closed, assigned to nobody

[2013-10-03 03:27] jaredmorrow commented on #399
Associated PR here https://github.com/basho/riak/pull/401

[2013-10-03 13:41] reiddraper opened #404 "Add log messages when Riak is shutting down"
console.log should always indicate when Riak is shutting down. cc @jtuple

[2013-10-03 20:59] beerriot opened #407 "Fold Hangs Vnodes in Mixed 1.X - 2.0.0pre3 Clusters"
# Summary

In a mixed 1.X - 2.0.0pre3 cluster, if a vnode running on a 2.0.0 node receives a v1 fold_req command, that vnode will stick in a loop trying to upgrade the command record.
# Reproduction
1. Setup a two-node cluster, one node on the latest from the develop branch (what I'm calling 2.0.0pre3 here), and one node on 1.4.2
2. Stop the 1.4.2 cluster
3. Load some data into the 2.0.0pre3 clust

[2013-10-04 06:30] slfritchie commented on #407
This all worked nicely before I added the riak_core_capability negotiation in a later PR.  :-(

I've reopened these PRs and added bugfix commits:
- https://github.com/basho/riak_core/pull/354
- https://github.com/basho/riak_kv/pull/626

[2013-10-04 15:47] cmeiklejohn opened #408 "EC ciphers causing Riak Control failure"
EC ciphers need to be disabled for the SSL interface for Riak, or Riak Control will fail to operate on SSL using self-signed certificates.

[2013-10-04 15:53] cmeiklejohn commented on #408
Tagging @Vagabond.

[2013-10-05 05:15] Vagabond commented on #408
Description of bug and patch for OTP available here:

http://erlang.org/pipermail/erlang-bugs/2013-October/003782.html

[2013-10-06 21:32] cmeiklejohn commented on #408
Tracking a OTP fix for this here: http://erlang.org/pipermail/erlang-bugs/2013-October/003782.html

Thanks @Vagabond

[2013-10-08 06:48] ramunasd opened #410 "Very high IO load after crash(disk corruption?)"
console.log is full of mesages:

[code]

[2013-10-08 13:49] jaredmorrow commented on #410
Emailing the [riak-users mailing list](http://lists.basho.com/mailman/listinfo/riak-users_lists.basho.com) will probably help you and others easier as people will walk you through your issues.

At first glance the `resource temporarily unavailable` suggests that you ran out of file descriptors.  What is your `ulimit -n` set to?  If it is low, you might want to bump it up to ulimit -n 16384`.  Ther

[2013-10-08 14:28] ramunasd commented on #410
@jaredmorrow I have tried much higher ulimit, but without any luck. I think problem occurs when some files(anti_entropy in this case) is corrupted and riak loops infinitely on trying to achieve lock for these files.

[2013-10-08 17:24] jaredmorrow commented on #410
Try posting something to riak-users, I'm not the AAE expert at Basho and
you'll find more people who have possibly seen similar issues.  Sorry to
pawn this off, I just think it'll be a better way for you to get good
support.

On Tue, Oct 8, 2013 at 8:28 AM, Ramūnas Dronga notifications@github.comwrote:

[2013-10-08 18:51] #410 closed, assigned to nobody

[2013-10-09 14:54] evanmcc opened #411 "nodetool should be smarter about names"
@joecaswell found a cluster with many, many thousands of nodetool connect names in its atom table.  This could be a serious issue in larger clusters, especially when people do things like scripting riak-admin status calls to happen regularly.  instead of naming relative to pid we should chose from a smallish pool of names and fail if there are more than that many commands running in parallel.

[2013-10-09 17:02] jaredmorrow opened #412 "riak-admin reip uses hardcoded app.config"
https://github.com/basho/riak/blob/develop/rel/files/riak-admin#L526

WIth cuttlefish around, we need to change this to use the proper config.

[2013-10-09 18:43] jaredmorrow commented on #412
Closing this, instead we should remove reip entirely since it is deprecated.

[2013-10-13 20:58] joedevivo commented on #373
The following is from the 1.4.2.documentation

**default_bucket_props** These are properties used for buckets that have not been explicitly defined (as outlined in the HTTP API). They are useful for setting default bucket behavior such as:

[code]
- **n_val** - the number of replicas stored. Note: See CAP Controls for further discussion.
- Read, Write and Delete quorum values. Valid options includ

[2013-10-13 22:05] joedevivo commented on #373
Track work here: https://github.com/basho/riak_kv/pull/695

[2013-10-15 17:16] jaredmorrow commented on #400
Filed this as a riaknostic issue, thanks for the bug report @lukebakken

See: basho/riaknostic#72

[2013-10-15 17:16] #400 closed, assigned to nobody

[2013-10-17 00:56] TJC opened #415 "HTTP Bucket list returns 500 error: bad_utf8_character_code [JIRA: RIAK-2205]"
If I run curl -i "http://bld-riak/buckets?buckets=true" I receive this error about a bad utf8 character code, and nothing else.
(That hostname runs haproxy on port 80. The same error occurs if I go direct to a single node on port 9098)

This is Riak version 1.4.2-1 (from the official apt repo)

[code]

[2013-10-21 14:13] jaredmorrow commented on #412
`reip` needs to stay, so this needs fixing.

[2013-10-22 17:40] lukebakken opened #418 "riak-debug + cuttlefish = can't find app.config"
On a Ubuntu 12 VM with 2.0.0pre4:

[code]

[2013-10-22 17:48] cmeiklejohn commented on #412
Yeah; I'm working on this right now.

[2013-10-22 18:00] cmeiklejohn commented on #412
I believe this is resolved by #188, but would love confirmation.

[2013-10-22 18:40] cmeiklejohn commented on #418
Yup; I'm tracking this along with the failed `riaknostic_rt` test.

[2013-10-22 21:52] xpe commented on #356
+1 I haven't dug into the technical detail above, but this part resonates with my infrastructure needs:

[2013-10-23 07:21] seancribbs commented on #356
Unfortunately due to time constraints and other big features, this will not be in 2.0.

[2013-10-23 17:34] joedevivo commented on #418
@bsparrow435 should be involved here

[2013-10-23 17:41] joedevivo commented on #418
riak-debug currently pulls from the app.config. That's where it gets interesting because of the conditional logic in cuttlefish that needs to be smart about which files exist. It goes like this:
- If there's no app.config and no vm.args in the etc dir, it generates them with cuttlefish from the riak.conf
- If there's only one of those in etc, it generates both, but uses the existing one from etc,

[2013-10-24 22:36] vinoski commented on #384
This is caused by trying to build Riak with a 32-bit Erlang rather than a 64-bit Erlang. Try rebuilding with a 64-bit Erlang and you'll be successful.

[2013-10-24 22:39] cmeiklejohn commented on #384
See basho/erlang_js#40.  We might need to make an additional change for Mavericks.

[2013-10-24 22:43] vinoski commented on #384
I've built and run Riak on Mavericks and only eleveldb changes are needed. See [eleveldb/pull/76](https://github.com/basho/eleveldb/pull/76) and [leveldb/pull/104](https://github.com/basho/leveldb/pull/104).

[2013-10-26 00:38] jrwest opened #423 "riak-admin bucket-type create should support passing no props"
and use the default ones. That way, creating types w/ the default props doesn't require passing some empty json string (the json is a whole different issue)

e.g. `riak-admin bucket-type create mytype` fails instead of creating the type w/ default props.

[2013-10-26 00:42] jrwest opened #424 "stop using json in the riak-admin bucket-type commands"

[2013-10-26 07:37] lafka commented on #362
I'v been doing some minor testing and have some questions:
- Currently there is no way to delete a bucket type, is the only way around this to  delete the datadir?
- Calling `riak_core_bucket_type:reset/1` will only set the default values for some keys, for instance `yz_index` is not altered. Should reset be equivalent of calling
- When using `riak-admin`, should some bucket properties be read onl

[2013-10-26 07:53] jrwest commented on #362
Awesome to see you taking things for a spin! My comments are below.

As mentioned elsewhere, `reset` is not ready for use and the example you
found is one reason why. This will be addressed or reset will be removed
before Riak 2.0.

Good catch. We are aware not all validation is completely implemented,
however there was no issue tracking these specific cases so I opened one:
https://github.com/bas

[2013-10-26 09:58] lafka commented on #362
@jrwest the custom attribute is limited by `list_to_existing_atom/1` in `riak_kv_wm_utils:erlify_bucket_prop`. The same conversion is used in HTTP API, so might not be feasible to use `list_to_atom/1`.

[2013-10-26 19:35] rzezeski opened #426 "Security allows passing of invalid source"
I was able to pass an invalid source with no failure from security. I was confused and passed my password as the source and then would fail to authenticate to the server with the following log entry.

[code]

Here is my invalid add-source. The last `zman` should have been `password`.

[code]

[2013-10-26 20:11] jrwest commented on #362
@lafka ah right. There is nothing stopping you from using internal APIs but the command-line parsing code will prevent it. Although we may not stay w/ JSON [1]  for the `riak-admin bucket-type` commands I'm not sure if this restriction will be lifted. I haven't run into this issue myself as a user of Riak but I imagine there are existing workarounds (loading a module w/ your atoms?) since buckets

[2013-10-29 18:22] roncemer commented on #415
This same problem also occurs if you use the new Riak counters functionality.  Set up a bucket with allow_mult=true.  Increment some counters in that bucket.  Then try to do a map/reduce query on them.  You get this error.

If you eliminate the JavaScript map and reduce functions, you can get the results, but the results are just bucket,key pairs without the actual counter values.  Useless.

This

[2013-10-29 19:05] roncemer opened #427 "Make JavaScript MapReduce work reliably"
JavaScript is a ubiquitous language.  Nearly everyone knows it.  Erlang is an obscure language with strange constructs and syntax.  Almost no one uses it or cares to.

Any K/V store which is to be taken seriously in the market MUST have proper support for a popular language when it comes to their M/R implementation.

The hard-coded 5-second timeout on JavaScript script execution in erlang_js needs

[2013-10-29 19:06] roncemer commented on #427
I should add that I've been using Riak for a big-data project for several months now, and I like it.  But it could be much better if these issues were resolve instead of kicked down the road -- or making excuses as to why we don't want to solve them.  Let's just do this.

[2013-10-29 20:16] fgallaire opened #428 "Server-sent events support"
Could riak have a server-sent events support through webmachine ?
An easy way to push the datas from the cluster to the client, with no coding.

I think that Riak + SSE support could be the perfect fit with the javascript client frameworks like ember.js and AngularJS.

First wrongly posted as a webmachine issue, with some interesting answers :
https://github.com/basho/webmachine/issues/167

[2013-10-30 15:54] asparagui opened #429 "2.0 in mac homebrew lib warnings"
Hello, I attempted to add the new pr5 version to the mac homebrew package manager.  The 2.0.0-pre5 version is triggering an audit warning on the jenkins script used there:

Error Message

failed: brew audit --devel riak
Stacktrace

[code]

riak:
- Non-libraries were installed to "/usr/local/Cellar/riak/2.0.0-pre5/lib".
  Installing non-libraries to "lib" is discouraged.
  The offending files are:

[2013-10-30 16:20] adamv commented on #429
Alternatively, what is the recommended way of installing riak in a "non-conflicting" way on a system?

[2013-10-30 17:34] jaredmorrow commented on #429
So, I haven't looked at homebrew and how it does things, but we have a notion of platform_\* directories that get used both for installation and for modules to know where to look for things.  The .schema files do act as library files to us because they are typically not changed once installed and they are used as a template to generate the new configuration files.  The generated configuration file

[2013-10-30 18:11] alandsidel opened #430 "Content-Type appears to be case sensitive in Riak or webmachine"
Using a Riak 1.4.0 cluster with LevelDB backend, a "415 Unsupported Media Type" error is sent by the webserver when storing an image with a content type of 'image/JPG', but not when storing the same image with a content type of 'image/jpg'.

The same happens when substituting 'text/PLAIN' for 'text/plain'.

RFC1341 states that the subtype in the mime type can be any character except for space, con

[2013-11-01 14:54] michellep-basho opened #432 "Add 2i and MapReduce top query reporting to riak-admin"
Add the ability to report out on top MapReduce and 2i queries to riak-admin with various sorting parameters. For example: top indices hit, longest running queries, most frequently used queries.  Request from Evan and Richard S of Basho.

[2013-11-05 04:47] asparagui commented on #429
We reworked how we're packaging risk slightly, so no need to touch anything on your end.  Sorry about the bother and good luck w/ the 2.0 release.

[2013-11-05 04:47] #429 closed, assigned to nobody

[2013-11-11 21:24] mortman opened #433 "Concerns with new security features added in Riak 2.0"
I was reading through the code/samples that have been created in response to https://github.com/basho/riak/issues/355 and had two major concerns:

The first is that authentication is being done using HTTP Basic (example https://gist.github.com/Vagabond/05b7dc8ae6d3ca4af6c2). While SSL is great and all, HTTP Basic is a broken mechanism and even more so if the connection happens to be in the clear.

[2013-11-11 21:40] Vagabond commented on #433
Yes. HTTP BASIC is not really ideal,. especially since the credentials are re-sent every request. However, one of the design constraints of Riak's security system was to allow pluggable authentication backends. Except in the case of the 'password' backend, Riak does not store any password data at all, it is passed through to the backend for validation. Since we don't control how the backend accept

[2013-11-11 22:15] bkerley commented on #433
The Python client (/cc @seancribbs ) will still support HTTP for the time being, as some Python client users have already built considerable security (authentication, auditing) infrastructure around HTTP.

[2013-11-11 23:38] glagnar commented on #355
I am looking into Riak for project requiring a secure distributed. I need to make sure that if one node is compromised, i.e. server has been taken over, it will not be possible to break the entire cluster. For example, by prevention against altering permissions, or changing commit hooks.
Will either be possible with Riak 2.0 ?

[2013-11-11 23:43] aphyr commented on #355
@Glagnar: I doubt you'll satisfy that property in any major distributed database without end-to-end cryptographic verification of writes by both all servers _and_ all clients. As an example, take a look at what's required to build http://www.pmg.csail.mit.edu/bft/castro99correctness-abstract.html

[2013-11-11 23:43] coderoshi commented on #355
@Glagnar This is a different sort of security altogether. If a box itself is compromised, the user can simply give themselves any permissions they want via `riak-admin`.

[2013-11-11 23:56] glagnar commented on #355
@coderoshi Thanks, I know. That was my exact source of worry. In a situation where the server is compromised, could an 'admin password' not solve this issue ? I.e. without password authentication, it should not be be allowed to change for example permissions within the cluster of nodes ?
@aphyr I am not sure my issue has this requirement, as it is not initially the 'data' writes I am worried about

[2013-11-12 01:30] tarcieri commented on #355
@Glagnar if you really want a "trust no one" system where the compromise of a single node has zero impact on the rest of the grid, you might look at Tahoe-LAFS. It satisfies those properties (namely end-to-end cryptographic confidentiality and integrity of all content as @aphyr described): http://tahoe-lafs.org

[2013-11-12 01:32] aphyr commented on #355
@Glagnar @tarcieri Note that Tahoe-LAFS does not provide robustness to a single compromised gateway or client node; only storage nodes.

[2013-11-12 01:35] tarcieri commented on #355
@aphyr well yes, but ideally you separate the Tahoe nodes which provide storage service from the clients which are accessing the content, in which case only the clients see the capabilities/secrets, and the storage nodes are otherwise completely oblivious and see only ciphertexts. In such a deployment, the servers could be compromised without worry

[2013-11-12 11:31] glagnar commented on #355
Is it possible to perhaps setup RIAK in a unidirectional replication manor. I.e. A is master, and B & C are slaves. This means that it does not matter if B or C are compromised. Then 3 clusters could be set up, one where in turn A, B or C is master. A client would then be able to detect if one master had been compromised, by looking at the difference between the three clusters.

[2013-11-12 14:11] mortman commented on #433
@Vagabond  Thanks for the prompt and great answers. It is as usual far more complex a problem that it seemed at first blush. Would it be worth adding some documentation about why HTTP Basic isn't ideal and why users might want to use other options? I'm happy to contribute to the cause.

Also thanks for the link to the writeup of your RICON talk. Will there be video posted as well?

"I'm not sure w

[2013-11-13 11:50] Micka33 commented on #415
I have enabled Riak Search Config, after some fail using the search function, I wanted to list all my buckets to be sure I was requesting the good one.
This is what I got

[code]

[2013-11-13 20:59] russelldb commented on #415
@roncemer is this any use to you https://github.com/basho/riak_crdt_cookbook/blob/master/counters/README.md?

[2013-11-13 21:23] roncemer commented on #415
Actually, it turns out that Riak counters seem to suffer from the same problems as other vector clock-based counter implementations.  Simultaneous increments through different nodes on the same counter result in under-counts or over-counts (under-counts in the case that I've tested).

Start up a 6-node Riak cluster, set allow_mult=true on a bucket.  Pick a new counter key which doesn't exist yet,

[2013-11-13 21:31] russelldb commented on #415
@roncemer We should talk about the incorrectness you're seeing in counters, if you could provide anything that helps reproduce the bug I'd appreciate it. We tested counters pretty extensively, and apart from their non-idempotence in the face of partial failures, we're confident that they're accurate under heavy concurrent use. We _never_ lose an increment we say has been written. We only ever poss

[2013-11-13 23:18] beerriot commented on #427
Hi, @roncemer. I apologize for the delay in responding here. I attempted to write a more general response about JS improvement in Riak, but it got a bit unwieldy. So, instead I'm going to respond point by point for now, and possibly return with that broader-scope response later.

This is true only in the relative situation here. In the wider world, [C, Java, Objective-C, C++, C#, PHP, Basic, and P

[2013-11-13 23:18] #427 closed, assigned to nobody

[2013-11-13 23:24] TJC commented on #415
In the case of my original error -- the cause was Erlang code creating buckets and keys with binary characters in them, that can not be converted to UTF8 in any valid way.

I later discovered it's also a problem with the PBC interface in Java, as well as the HTTP interface in any language.

[2013-11-14 01:09] coderoshi commented on #355
No this is not possible. All Riak nodes are equivalent.
On Nov 12, 2013 3:31 AM, "Glagnar" notifications@github.com wrote:

[2013-11-14 07:39] russelldb commented on #415
@TJC is it OK to close this issue then? Did you open an issue against the Java Client?

@roncemer Please can you open an issue against riak_kv with details of the counter issue you've experienced? Please provide steps to reproduce as running multiple concurrent workers against riak counters is something we've done many times in testing and we do not see the behaviour you describe.

[2013-11-14 07:41] TJC commented on #415
@russelldb  --- no, it is not OK to close this issue, because the issue is present on BOTH the java client AND the HTTP interface. They're two separate bugs.
The HTTP interface throws a 500 Error regardless of client for this bug.

[2013-11-14 07:46] russelldb commented on #415
@TJC ah, OK. Did you raise an issue against the Java Client that I can cross-ref here, then?

[2013-11-14 08:41] wb14123 opened #436 "vm.args needs to have -name while start riak"
Erlang version: Erlang R16B02 (erts-5.10.3) [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false]
Riak version: riak-2.0.0pre5
OS: Archlinux 64bits

step:
1. make rel
2. ./rel/riak/bin/riak start

Nothing is started and errors are outputed:

[code]

[2013-11-14 10:52] russelldb commented on #415
@roncemer I'm loathe to continue this discussion on this ticket, but I re-ran all our counter tests this morning, including writing a simple reproduction as you described above (see https://gist.github.com/russelldb/a83f5cd5e430c20cc33a) and couldn't provoke either under or overcounting.

[2013-11-14 14:13] TJC commented on #415
@russelldb - There was some discussion on the mailing list around the java client issue, and apparently the issue is already fixed in the 2.0 branch, so I didn't create an issue on github for it. I am happy to do so if that helps though?

[2013-11-14 14:20] russelldb commented on #415
@TJC Narp, no need if it is fixed. Thanks!

[2013-11-14 14:52] jaredmorrow commented on #436
@wb14123 can you run

[code]

And paste the ouptut here.  I'm curious what app.config / vm.args your build is picking up.  My guess is the config is not being generated correctly for something reason on your build.

I don't have an arch linux setup I can use, so I'll try to walk through this with you if you don't mind running some commands here and there.

[2013-11-14 15:05] deanproctor opened #437 "Segmentation fault on Ubuntu 12.04 after issuing riak restart"
On Ubuntu 12.04, it is possible to reliably generate a segmentation fault with Riak 1.4.2 by issuing a `riak restart` command on a running node.  I have so far only been able to produce this behavior with the leveldb backend.  The restart behavior generates a segfault on both joined and unjoined nodes and with or without data.

Process transcript: https://gist.github.com/deanproctor/cc4c89217cfcd4

[2013-11-14 17:30] glickbot opened #438 "Add Riak-Debug Command: riak-repl connections"
Per MDC Troubleshooting Checklist

[2013-11-14 17:53] jaredmorrow commented on #438
Already done https://github.com/basho/riak_ee/pull/191

[2013-11-14 17:53] #438 closed, assigned to nobody

[2013-11-14 20:20] jaredmorrow opened #439 "Solaris source builds will not start"
### Bug description

When making a release with `make rel` on Solaris 10, the `riak` script will not run properly.  Failing with a `bad substitution` error.  This failure does not happen in the packages, just from source.

The problem shows up like:

[code]
### Why this is happening

This is due to the `runner_script_dir` containing a POSIX bourne shell substitution that Solaris's non-posix /bin/s

[2013-11-15 00:33] wb14123 commented on #436
Thanks for the help.

I  rebuild it with `make clean; make rel` and no error is outputed.

When I run `./rel/riak/bin/riak chkconfig`, the output is the same:

[code]

Should I check some config files?

[2013-11-15 04:12] jaredmorrow commented on #439
Fixed in above PR's.

[2013-11-15 04:12] #439 closed, assigned to jaredmorrow

[2013-11-15 04:16] joedevivo commented on #436
Yes @wb14123, please check your riak.conf for `nodename` and let me know what the line says

[2013-11-15 06:52] wb14123 commented on #436
I only find `riak.conf` in `deps/cuttlefish/test/riak.conf` and there is no `nodename`. The content of it:

[code]

And I found `nodename` in `rel/riak/etc/cuttlefish.conf`:

[code]

The files in some of my directories which I think may include the config files are:

[code]

[2013-11-15 15:33] joedevivo commented on #436
@wb14123 the problem is that your cuttlefish repo is too new for your riak repo.

If you have riak checked out from github, go head and pull develop. That'll get you the up to date version you need.

[2013-11-16 00:22] wb14123 commented on #436
What if I want to use a stable version? Should the deps in rebar.config specify the git tag?

[2013-11-16 00:49] jaredmorrow commented on #436
The 'develop' branch is a work in progress and you shouldn't use it for production.  If you want a stable version, download the source package of 1.4.2 from the bottom of this page http://docs.basho.com/riak/latest/downloads/

Also, browse around the docs.basho.com site for some good walkthroughs and getting started pages.

Installing from source instructions can be found here http://docs.basho.co

[2013-11-16 01:05] wb14123 commented on #436
Because of my OS only has official Erlang package with version R16B02. I'd like to install riak 2.0. Waiting for the release...

[2013-11-16 01:05] #436 closed, assigned to nobody

[2013-11-16 01:23] jaredmorrow commented on #436
Building erlang from source is quite easy and we also have documentation on
that page about how to do it if you would rather not wait.

We also have release candidates for 2.0 coming in December.

On Friday, November 15, 2013, Bin Wang wrote:

[2013-11-26 19:09] nathanaschbacher opened #445 "Really increase the default zdbbl buffer size."
We're seeing clusters tip over for customers and prospects alike, making Riak look very bad and contradicting our operational ease and stability story.

Often the cause of these issues boils down to a flood of busy_dist_port errors in their installations and deployments.

Further confusing is that we put a better value there, but comment it out.  A common convention is to show defaults and comment

[2013-11-27 02:16] slfritchie commented on #445
Notes:
1. See also: Basho internal dev discussion
2. This issue also affect's the riak_ee repo's packaging.

[2013-11-29 14:40] maxsz commented on #354
Hi, are you people aware of this work? http://run.unl.pt/bitstream/10362/7802/1/Sousa_2012.pdf

[2013-11-29 15:00] seancribbs commented on #354
Yes.

Sean Cribbs

[2013-11-29 15:03] russelldb commented on #354
Hi @maxsz yes! I have read parts of Valter's dissertation (though not all yet). I've been corresponding with Valter, and  Professor Nuno Preguiça (his supervisor), along with Carlos Baqueror and others from the CRDT research team.

We're actually involved in SyncFree, a new 3 year research project, and hope to bring useful discoveries into Riak in the future. If you want stay informed on that proj

[2013-12-01 02:25] btv opened #447 "compile error [JIRA: RIAK-3386]"
This is with the current development branches on Fedora 19 with erlang verion: erlang-R16B-02.3.fc19.x86_64

[code]

[2013-12-01 02:26] cmeiklejohn commented on #447
Do you have the pam-devel package installed?  This is what provides that missing header file.

[2013-12-02 17:09] btv commented on #447
Thank you for the quick response and the correct answer.

[2013-12-02 17:09] #447 closed, assigned to nobody

[2013-12-05 23:57] crshovrd opened #449 "Unable to install Riak from source"
I can't install Riak from source. I get the following error:

`protobuffs (compile) ERROR: compile failed while processing riak-1.4.2/deps/protobuffs: rebar_abort`

Ubuntu
Release 12.04 (precise) 64-bit
Kernel Linux 3.5.0-44-generic
GNOME 3.4.2

$ erl
Erlang R14B04 (erts-5.8.5) [source] [64-bit] [smp:8:8] [rq:8] [async-threads:0] [kernel-poll:false]

Eshell V5.8.5  (abort with ^G)
1>

$ gcc --vers

[2013-12-06 23:41] crshovrd commented on #449
I found a spec file example:

https://gist.github.com/hiroakis/5272527

[2013-12-09 16:00] Vagabond commented on #433
I've implemented the cipher work over in basho/riak_core#469 You can now set the ciphers you want to use, and even turn on 'honor cipher order' style behaviour, if you're using a Basho package (I've patched the erlang SSL application to support that option). The default cipher list is the one taken from here:

https://wiki.mozilla.org/Security/Server_Side_TLS

[2013-12-10 15:17] jaredmorrow commented on #449
Modifying the spec is somewhat difficult, but can be done.  The spec is generated from a template and can actually be found here [in node_package](https://github.com/basho/node_package/blob/develop/priv/templates/rpm/specfile).

I'm more concerned that you cannot build from source from our source tarball.

I just tried to do it fresh

[code]

I think a problem might be in you using the erlang that

[2013-12-15 14:51] jolyon2000 opened #452 "apt-get package for ubuntu 12.04 is missing"
Followed the instructions on this page:

http://docs.basho.com/riak/latest/ops/building/installing/debian-ubuntu/

I'm getting "Unable to locate package riak"

[2013-12-16 18:18] cheeseplus commented on #452
@jolyon2000 is this a 64bit Ubuntu 12.04 install? If not you'll get an error as we do not provide 32bit packages.

[2013-12-17 00:15] crshovrd commented on #449
Looks like compiling erlang from source fixes those issues. Thank you.

[2013-12-17 00:15] #449 closed, assigned to nobody

[2013-12-17 08:10] sogabe commented on #355
I tried Security extensions with user/CIDR authentication. It seems to work fine. But I can't find how to remove Sources. Could anyone tell me when I should try most of functions?

[2013-12-17 08:32] Vagabond commented on #355
See #434 and related PRs, not all of the security code has landed yet.

[2013-12-17 08:47] sogabe commented on #355
Thanks, @Vagabond

[2013-12-17 15:02] cipy opened #454 "capability to reset all stats/counters from riak-admin"
Hi there,

While troubleshooting it would be really handy to have a tool like:

$ riak-admin reset-all-counters

to quickly set to zero all $ riak-admin status and/or $ riak-repl status counters

Thanks,

[2013-12-19 22:46] uwiger commented on #454
This functionality is now implemented (albeit slightly differently) in the Exometer stats version, #448 and corresponding riak_kv PR [#748](https://github.com/basho/riak_kv/pull/748). Even histograms can be reset, in fact. Whether that's a good thing, I guess depends on your needs.

[2013-12-20 18:34] dgrnbrg opened #458 "Print out ignored app.config options to console.log on startup"
Today I discovered that riak 1.3 doesn't understand `object_format`. It'd be nice if the console.log would let me know when I'm using config options that it doesn't understand--this would help with backported configurations and typos.

[2013-12-24 09:17] ghost commented on #162
It's kind of a shame it's been two years, and 'riak reboot' still does the same thing: https://github.com/basho/node_package/blob/develop/priv/base/runner#L270

I guess the documentation was updated at least to note the heartbeat. ...apparently not: http://docs.basho.com/riak/latest/ops/running/tools/riak/#reboot

Maybe it's documented in 'vm.args' ... http://docs.basho.com/riak/2.0.0pre5/ops/adva

[2013-12-24 13:45] bsparrow435 commented on #162
PR's welcome.

[2013-12-24 13:53] ghost commented on #162
Considering it seems no one uses heartbeat, the optimal solution appears to
be to deprecate this function, note it in the man page, remove it from the
command list help output, add a sanity check to see if vm.args is
configured for heartbeat, and if not, refuse to run the command, and add
help text that they probably meant 'restart'.

That way, if anyone actually does use it as intended, it's not

[2013-12-24 13:58] bsparrow435 commented on #162
I believe after 2.0 the plan is to deprecate this as well as `riak restart` but the method for doing so has not yet been decided. Your proposed solution sounds great, if you have time to implement that would be great. Otherwise this will wait until a point release after 2.0 at the earliest i'd assume.

[2013-12-26 14:20] conradwt opened #461 "not mounted with noatime"
Hi, I'm getting the following notice within when I execute 'riak-admin diag' on Mac OS 10.9 with Riak 1.4.6:

[code]

If I'm using Riak within the development context, does this setting need to be enabled?  If so, how does such a setting effect my overall development environment?  I ask this question because the docs says the following:

[code]

[2013-12-26 14:33] bsparrow435 commented on #461
@conradwt This setting will provide a performance boost regardless of backend as Riak does a lot of reading/writing of files on disk and `noatime` makes these operations more efficient.

The warning is coming from the `riaknostic` package which periodically warns against common configuration settings that can effect performance and data integrity. I highly recommend using this setting if you are d

[2013-12-26 14:33] #461 closed, assigned to nobody

[2014-01-03 19:26] michellep-basho opened #463 "Bucket listing API should include non-default bucket types"
DESCRIPTION
Per Randy:
<i>As of 2.0 build pre7 the list buckets operation only includes buckets of the 'default' bucket type.  If bucket types are added (say through usage of Yokozuna), those buckets are no longer listed.  There is a riak-admin command which uses internal Erlang APIs to list bucket types; but this is only useable to operational staff using Riak. This change also breaks developer /

[2014-01-03 19:38] seancribbs commented on #463
We have tests that demonstrate that [listing buckets _within_ known bucket-types](https://github.com/basho/riak_test/blob/master/tests/bucket_types.erl#L125) works. Whether bucket-types themselves should be able to be listed from a client API is a separate issue, I believe (caveats around security/disclosure, etc).

[2014-01-03 19:40] Vagabond commented on #463
We can certainly add a permission to allow you to list bucket types, along the lines of the permission that allows bucket listing.

[2014-01-03 20:36] jrwest commented on #463
We have discussed a list bucket types API previously as part of the larger bucket type API discussion. We are aware that several features are missing from that API and do not plan to expose any of it this release (the only way to work w/ bucket types should be the command line w/ Riak 2.0). I believe we plan to revist and fully implement the API in the future (caveats re: security).

Additionally,

[2014-01-03 20:40] michellep-basho commented on #463
<i>...however, it sounds like there is a feature request for "listing buckets across multiple types at once"?</i>
yes

[2014-01-03 21:09] jrwest commented on #463
ok. just wanted to clarify. considering that would be an entirely new feature I was confused by the report that customers are currently affected...Even with the current state of non-existence of the API one could continue to operate web admin tools that use the "listing buckets under/within a type"  as @seancribbs mentioned. Riak 2.0 operates just as it used to under the default bucket type and we

[2014-01-03 21:40] michellep-basho commented on #463
I will ask Randy to weigh in more on the existing customer use cases and security considerations, so we have more context. I understand that there are other things we need to consider like security, but I can also see how from a customer perspective it might seem like basic functionality is missing in this initial implementation. thanks

[2014-01-03 21:47] jrwest commented on #463
Sounds good. I agree there is functionality missing. Unfortunately, it was a casualty of the release cycle and the lack of time necessary to really map out how things played w/ security on/off, etc. Customers also probably won't love that we are using JSON on the command line either, but we were unable to fix that in time as well...

[2014-01-03 22:29] michellep-basho commented on #463
Randy is available for next Tue's core/kv mumble.  We can discuss more.

[2014-01-04 00:31] jrwest commented on #463
Unfortunately I probably won't be able to make that mumble -- not that I am required for the conversation but fyi. I will be out of town. I may be able to set something up for the evening (pacific) while I'm away otherwise I will be back the following Tuesday.

[2014-01-06 22:02] nisaacson commented on #447
:+1: just ran into this as well. Thanks for the fix @cmeiklejohn

[2014-01-07 01:56] michellep-basho commented on #463
Let's plan on discussing this the following week when Jordan is back. thanks

[2014-01-07 10:29] tomascharvat opened #465 "Repair Search Index eat all memory and crash riak"
Riak v1.4.6
Search Index (not 2i) got corrupted for unknown reason. It may be related to presence of siblings of referral keys.
When corruption occur, noise traffic happen between nodes. In time noise seems to raise. Then I followed guide to fix Search Index.
I started repair on 1 server. In few mins, size of riak search index's rose by 50% or so, riak eat all RAM, all swap and then crashed. Cored

[2014-01-07 10:30] #279 closed, assigned to nobody

[2014-01-11 22:47] lukebakken opened #468 "del-user usage shows alter-user usage"
Testing 2.0.0pre10:

[code]

[2014-01-12 01:53] lukebakken opened #469 "Riak security permission not inherited correctly."
Testing 2.0.0pre10.

Expected: retrieving `default` bucket type properties as `lbakken` user should work since `lbakken` is in the `admin` role, and `riak_core.get_bucket_type` permission has been granted to `admin` role.

Observed: `lbakken` user is denied permission, however, `admin` user (once given password), can retrieve the data.

[code]

[2014-01-12 01:59] lukebakken commented on #469
Additional steps taken to try and grant this permission to the `lbakken` user, results in a stacktrace:

[code]

[2014-01-12 03:20] lukebakken opened #470 "Riak security "add-source all" adds two source records."
This doesn't seem to have any negative effects other than the `print-sources` output:

[code]

[2014-01-12 03:40] lukebakken commented on #469
OK, it appears that sources are not inherited, as this command fixes the initial issue:

[code]

I'm not sure if roles should also cause sources to be inherited.

[2014-01-12 19:35] lukebakken opened #471 ""riak-admin bucket-type create" JSON argument is whitespace sensitve"
This is a minor issue found when testing 2.0.0pre10. Also see issue #424 which intends to remove the JSON argument altogether.

[code]

[2014-01-14 14:25] #471 closed, assigned to nobody

[2014-01-15 19:30] Vagabond commented on #469
I don't think sources should be inherited, authentication is seperate from authorization.

[2014-01-15 19:35] lukebakken commented on #469
Doesn't the current behavior require many `add-source` commands to be run to set up sources for a set of users that are all in the same role? You could use `add-source all` but that may be too permissive.

[2014-01-15 19:36] Vagabond commented on #469
The stacktrace should be fixed, however.

[2014-01-15 19:47] Vagabond commented on #469
I guess my concern is that it becomes a lot less clear what source a user is using to log in if we allow sources to be inherited. It also opens up the issue of figuring out which source should be used, in the case where multiple ones are found that match the user.

[2014-01-15 19:50] lukebakken commented on #469
OK great we'll get this documented ... paging @lucperkins

I can test the stacktrace fix whenever its available.

Thanks!

[2014-01-15 21:01] Vagabond commented on #469
By the way, what version of Riak threw that stacktrace, was it something recent?

[2014-01-15 21:39] lukebakken commented on #469
2.0.0pre10

[2014-01-15 23:21] Vagabond commented on #469
Fix for the stack trace is linked to this issue.

[2014-01-16 00:02] conradwt opened #474 "Riak 2.0 download link is broken"
Hi, I'm not sure if this is the right place but it appears that the following link is broken:

[code]

[2014-01-16 00:43] lukebakken commented on #469
Authentication records in `pg_hba.conf` for postgres do allow specifying users or roles. I only mention this here because PG authentication/authorization was used as a model for Riak's.

http://www.postgresql.org/docs/9.3/static/auth-pg-hba-conf.html

[2014-01-16 02:10] jaredmorrow commented on #474
Pre8 was not packaged and released into the wild.  I don't know why the URL
is pointing you there in error.  If you try the same URL but with "pre5"
you should be all set.  I'll forward this along to the docs team.

On Wednesday, January 15, 2014, Conrad Taylor wrote:

[2014-01-16 03:22] conradwt opened #475 "403 Forbidden when fetching packages [JIRA: RIAK-1822]"
Hi, I'm in the process of installing Riak on Ubuntu 13.10.  Thus, I have performed the following steps:

[code]

Here's a brief summary of the output:

[code]

[2014-01-16 03:50] jaredmorrow commented on #475
We only build packages for LTS releases so you will have to add the precise
repo to get the packages.

On Wednesday, January 15, 2014, Conrad Taylor notifications@github.com
wrote:

[2014-01-16 04:50] Vagabond commented on #469
Good point. I would be OK with implementing the + syntax. My main concern was it being implicit.

[2014-01-16 04:51] Vagabond commented on #469
But it will not make 2.0.

[2014-01-28 00:45] ghost opened #477 "HR Blocks My Number"
Ginay refuses to talk to me.

[2014-01-28 01:26] #477 closed, assigned to nobody

[2014-01-29 16:13] allinora opened #478 "Warning on php 5.5.x"
Deprecated: preg_replace(): The /e modifier is deprecated, use preg_replace_callback instead in /library/3rdparty/riak-php-client/src/Basho/Riak/Utils.php on line 239

Thanks for looking into it.

[2014-01-29 16:37] reiddraper commented on #478
Please file this issue against [basho/riak-php-client](https://github.com/basho/riak-php-client). Thanks.

[2014-01-29 16:37] #478 closed, assigned to nobody

[2014-01-29 16:39] allinora commented on #478
oops. sorry about that.

[2014-01-30 00:07] jtuple opened #479 "Add cuttlefish schema for kernel inet_dist_listen_min/max settings"
Erlang by default binds to wildcard port for distributed Erlang. Which is a PITA for those with firewalls and whitelist ports. Thus, our docs on firewalls suggest folks bind Erlang to a narrow range of their choice (we suggest 6000 to 7999):
http://docs.basho.com/riak/2.0.0pre11/ops/advanced/security

Ran into a user today trying out 2.0 and converting their `app.config` over to `riak.conf`, and s

[2014-01-30 00:11] joedevivo commented on #479
We do have these, they're in erlang_vm.schema

[2014-01-30 00:12] joedevivo commented on #479
https://github.com/basho/cuttlefish/blob/develop/priv/erlang_vm.schema#L229-L240

[2014-01-30 14:49] seancribbs commented on #479
This seems evidence that we also need to document and proclaim the purpose of `advanced.config` very loudly. This would not be an issue if they just copied them into `advanced.config`.

[2014-01-30 17:26] vbmithr opened #480 "Compilation problem on ARM (armv7h)"
[code]

Riak (HEAD) does not compile on ARM (Archlinux armv7h).

[2014-01-30 17:43] jaredmorrow commented on #480
We do not currently support ARM as an architecture.  We would most likely have to change our erlang_js to use a javascript VM that supported ARM.  It has been discussed in the past, but it is not currently on our roadmap as far as I know.

@gburd might know more regarding any possibility of supporting it in the future.  For now I will close this.

[2014-01-30 17:43] #480 closed, assigned to nobody

[2014-01-31 21:39] gburd commented on #480
@vbmithr we don't currently develop or test on ARM architecture CPUs, we may in the future.  If this is a critical architecture for you please let us know.  Pull requests are always welcome!

[2014-02-01 09:50] vbmithr commented on #480
On 31/01/2014 22:39, Gregory Burd wrote:

Strangly enough, I managed to make it work. It was an issue on erlang_js
when compiled in a submodule of riak. I then checked out erlang_js in a
different directory and managed to get it working.

So far riak (HEAD) works on my ARM test machines.

[2014-02-01 15:37] jaredmorrow commented on #480
Out of curiosity are you using ARM based servers or is this on an embedded
device?   Greg and I would love to hear more as this topic has come up
quite a bit.

On Saturday, February 1, 2014, Vincent Bernardoff notifications@github.com
wrote:

[2014-02-01 15:55] vbmithr commented on #480
On 01/02/2014 16:37, Jared Morrow wrote:

It is embedded devices indeed: Beaglebone-style boards, like the
cubieboard2, the odroid XU, …

In my case, I'm working on an Internet of Things project that requires
the nodes to share a DB, with a strong need for fault tolerance, and
consistency. I'm trying to use Riak for that. It seems to me that it is
the most suitable DB for this use, even though I d

[2014-02-07 15:20] oleksiyk opened #483 "Riak 2.0: datatypes operations are very slow"
I just tried few tests with a 'set' datatype with a javascript PBC client (my 2.0 fork of https://github.com/nlf/riakpbc) and tried inserting (in serial order) several thousands  of small uniq entries into the set (10 bytes each) with a similar code:

[code]

 and the results were:
- first thousand of entries inserted in 54,706 ms
- second thousand came after 354,044 ms

I expected it to be faster

[2014-02-07 18:42] russelldb commented on #483
We'll look into it. We're not finished making 2.0, and we're only feature complete on CRDTs (not yet optimised at all.)

As for size, well, anything you wouldn't store in riak_object you can't store in a Set, since it is just stored in a riak_object. There is also some metadata overhead. If you want to add many values to a set, why not use the `add_all` operation instead? I think you'll find it mu

[2014-02-07 18:51] russelldb commented on #483
Please post your numbers of doing this in a tight loop with riak_object (fetch, update, put) for the same numbers.

[2014-02-07 19:24] oleksiyk commented on #483
@russelldb in my use case I'm gradually adding values into the set but not all at once. The problem is that a single insert (`DtUpdateReq` request) is getting really much slower for each subsequent insert.

With Riak 1.4 I used a JSON array: for each insert I would first fetch the object, resolve possible siblings by doing set union (allow_mult=true), then add new value to array and put the object

[2014-02-08 00:03] russelldb commented on #483
Yeah, I'm just pushing a different version of this. `riak_dt_orswot:to_binary/1` is the biggest culprit. If you try dropping https://github.com/basho/riak_dt/tree/rdb/orswot-opt branch of riak_dt in as a replacement and test again. We're actually starting on the perf stuff next week, we've known that there are issues (same thing with maps.) We'll keep working on it. Thanks for testing the data typ

[2014-02-08 09:25] oleksiyk commented on #483
Yes, it makes a difference!

[code]

[2014-02-08 09:32] russelldb commented on #483
Cool. Bear with us and we'll keep improving this.

[2014-02-08 09:39] oleksiyk opened #484 "Riak 2.0: Create and activate bucket type with PBC"
Is there a way to create and activate a bucket type with protocol buffers client? E.g. do what the following commands do:

[code]

Sending a `RpbSetBucketTypeReq` request with the following data

[code]

fails with `Error: Invalid bucket properties: not_active`. It works well when `mytype` already exists

[2014-02-08 11:50] seancribbs commented on #484
No, we explicitly omitted that feature for this release, to be revisited later. Note that on activated types, some properties may also be immutable.

[2014-02-08 12:21] oleksiyk commented on #484
Ok, thanks.

[2014-02-08 12:21] #484 closed, assigned to nobody

[2014-02-10 13:58] oleksiyk opened #485 "Riak 2.0: Cannot activate datatype in cluster: <type> has been created but cannot be activated yet"
Got the following error when tried to activate newly created datatype in a Riak 2.0 cluster: `mytype has been created but cannot be activated yet`. `mytype` was listed as `not active` on all nodes but any attempt to activate it was unsuccessful. What can be the reason for this?

Ring was up and ready, with no pending changes. Riak 2.0.pre11

[2014-02-10 14:53] seancribbs commented on #485
Did you run `riak-admin bucket-type activate mytype` after creating it?

[2014-02-10 14:54] oleksiyk commented on #485
Yes:

[code]

[2014-02-10 14:56] oleksiyk commented on #485
A snapshot from console:

[code]

[2014-02-10 14:59] seancribbs commented on #485
Are all of the nodes in your cluster up and reachable? A bucket-type can't be activated until all nodes have seen it.

[2014-02-10 15:00] oleksiyk commented on #485
Yes, that was the output of ring_status:

[code]

[2014-02-10 18:15] jrwest commented on #485
are there any errors in your logs @oleksiyk? also, could you attach to one of your riak nodes and run the following at the erlang shell and paste the result back here?

[code]

[2014-02-10 18:18] oleksiyk commented on #485
Sorry, that was a testing environment so its already gone :( I've tried to replicate the problem later but no luck.

[2014-02-10 18:28] jrwest commented on #485
Ok thanks for the update. if recent attempts on newer builds are working and it can no longer be reproduced I'm going to go ahead and close this out. If you run into this again please re-open and let us know

[2014-02-10 18:28] #485 closed, assigned to nobody

[2014-02-11 23:54] lukebakken opened #486 "requiretty + /etc/sudoers"
I discovered an issue in an environment where this line is present in `/etc/sudoers`:

[code]

Since no tty is present on system init, Riak fails to start. This also prevents using daemons like `monit` to manage Riak stop/start.

Should `su` be investigated as a replacement for `sudo` in administrative scripts?

[2014-02-12 09:14] oleksiyk opened #487 "Riak 2.0: riak-admin bucket-type create JSON parsing error"
The following command fails on Ubuntu 12.04 with riak_2.0.0pre11-1_amd64.deb

[code]

The fix is to remove all whitespaces in JSON:

[code]

The same command (with whitespaces) works with 2.0.0pre11 on Mac

[2014-02-12 19:12] jrwest commented on #487
@oleksiyk could you try `pre14`? This issue has previously been reported and I believe addressed [1]. Although, I thought the fix was included in `pre11` I'd like to make sure it doesn't affect the most recent builds before proceeding.

[1] https://github.com/basho/riak/issues/471

[2014-02-12 19:19] oleksiyk commented on #487
Is `pre14` available as package somewhere? Or only as source?

[2014-02-12 19:40] jrwest commented on #487
sorry its not linked anywhere yet but it can be downloaded from: http://s3.amazonaws.com/builds.basho.com/riak/develop/2.0.0pre14/ubuntu/precise/riak_2.0.0pre14-1_amd64.deb

[2014-02-12 19:53] oleksiyk commented on #487
The problem still exists with `pre14`:

[code]

[2014-02-12 20:46] seancribbs commented on #487
Is this just a difference in shell-quoting? Is the shell you're using
ignoring the single-quotes?

On Wed, Feb 12, 2014 at 1:53 PM, Oleksiy Krivoshey <notifications@github.com

##

Sean Cribbs sean@basho.com
Software Engineer
Basho Technologies, Inc.
http://basho.com/

[2014-02-13 08:33] oleksiyk commented on #487
The error is in riak-admin script on line 9: https://github.com/basho/riak/blob/develop/rel/files/riak-admin#L9

That line should read: `check_user "$@"` (quotes added)

[2014-02-13 08:56] georgepsarakis opened #490 "AAE state after normal restart"
`riak-admin aae-status` (v1.4.7) does not report anything under the column `Built (ago)` after a normal shutdown and it takes a while until the state is changed for all partitions.

I am not entirely sure about the following, but I think that this:
- affects performance after a restart
- adds an unnecessary delay between the time that exchanges can occur from/to nodes that have been restarted, sin

[2014-02-13 15:59] bitcloud opened #491 "Issues with UTF8 Strings as ressource (bad_utf8_character_code)"
There seems to be a Problem with storing records with UTF8 chars in the URI
A quick curl samlpe for that is:

Insert Key:

[code]

Check if inserted:

[code]

This one breaks:

[code]

This is the response:

[code]

[2014-02-13 19:42] jrwest commented on #487
my apologies, it seems this issue does have a fix [1], but it has not yet been merged. thanks for the report. I'm going to close this out as a duplicate for now.

[1] https://github.com/basho/riak/pull/473

[2014-02-13 19:42] #487 closed, assigned to nobody

[2014-02-13 19:44] oleksiyk commented on #487
Great, thanks!

[2014-02-13 20:44] oleksiyk opened #492 "Riak 2.0.0pre11: accidental high CPU usage on idle"
I'm experiencing constant high CPU load caused by Riak's beam.smp, the load is 30%-90% in absolutely idle mode (no requests sent to Riak). The load started probably at the same time as these two error messages appeared:

[code]

version 2.0.0pre11
yokozuna is turned on but was not used. Last queries sent to Riak were using 2i on leveldb, but not yokozuna.

[2014-02-13 20:55] oleksiyk commented on #492
I can run riak attach now with any commands you need

[2014-02-13 20:58] rzezeski commented on #492
Hi, so it looks like you still have an index associated with one of your buckets. I can't tell which bucket from this truncated log entry but if you can link me to a tar.gz of the full logs I'm sure I could figure it out. The 30-90% at idle is Yokozuna AAE trying to fix the divergence between KV and Solr but it looks like you removed the index so (because of `404` in 2nd log entry) the AAE repair

[2014-02-13 21:03] oleksiyk commented on #492
Yes I have and probably a lot of them. Yesterday I was working on yokozuna support in node.js PB client: https://github.com/nlf/riakpbc/pull/51 and have created a lot of indexes, schemas and buckets during tests. Where do I send the tar.gz with logs?

[2014-02-13 21:08] oleksiyk commented on #492
Logs: https://www.dropbox.com/s/cyk0mo58lryq5os/log.tar.gz

[2014-02-13 21:14] rzezeski commented on #492
Try this at the riak console:

[code]

[2014-02-13 21:19] oleksiyk commented on #492
[code]

[2014-02-13 21:25] jaredmorrow commented on #487
#473 has been merged now.

[2014-02-13 21:26] rzezeski commented on #492
Yep, so you need to remove disassociate the index with all those buckets. Try this:

[code]

The other option is to just turn off Yokozuna if you are not using it.

[2014-02-13 21:33] oleksiyk commented on #492
I slightly modified your command:

`riak_core_bucket:set_bucket(list_to_binary(atom_to_list(Name))...` to `riak_core_bucket:set_bucket(Name`...

[code]

However the CPU is still overloaded

[2014-02-13 21:38] oleksiyk commented on #492
I mean I understand that I can turn off yokozuna but just wondering what to do in such situations if it happens and you can't turn Yk off.

[2014-02-13 21:50] rzezeski commented on #492
Well it sounds like you've been experimenting with this cluster and you certainly have a lot of buckets with indexes so I'm trying to understand what state your cluster is in.

What do you see if you run this:

[code]

[2014-02-13 21:51] oleksiyk commented on #492
[code]

[2014-02-13 21:52] rzezeski commented on #492
Sorry, I should have said you have to wait 15 seconds and see if it prints out anything. That command is adding some dynamic tracing to see if that function is ever called and if so it will print the arguments it is called with as well as its return value.

[2014-02-13 21:53] rzezeski commented on #492
If you go the full 15 seconds without any calls to that function you'll just see `qutting: timeout`.

[2014-02-13 21:53] oleksiyk commented on #492
Oh, sorry. It has timed out:

[code]

[2014-02-13 21:56] rzezeski commented on #492
Okay good so it's not AAE repair getting executed. The question is what is eating cpu. Could you try opening another terminal window and running `riak-admin top -interval 2`. Let it print for a few times then copy output here.

[2014-02-13 21:58] oleksiyk commented on #492
[code]

[2014-02-13 22:02] rzezeski commented on #492
Ah so `yz_cover` seems to be dominating. That is responsible for building coverage plans. Currently it has linear runtime based on number of indexes created. Run this curl for the list of indexes:

`curl 'http://localhost:<riak_port>/search/index'`

[2014-02-13 22:05] oleksiyk commented on #492
[code]

[2014-02-13 22:07] rzezeski commented on #492
There it is, the smoking gun. I assumed it was AAE before but I was wrong. It is `yz_cover` eating up your CPU. If you run `curl -X DELETE 'http://localhost:<port>/search/index/<index-name>'` for each of those indexes you should see CPU% drop.

[2014-02-13 22:22] oleksiyk commented on #492
Yep, it solved it. Thanks!

But what can be the actual reason? It was almost 24 hours since I finished experimenting with Yokozuna. And then CPU load went up with no yokozuna related queries. I'm almost sure that most if not all of those indexes were successfully created and tested (e.g. they worked).

[2014-02-13 22:28] rzezeski commented on #492
Yes this is a background process that executes every 2 seconds. It runs regardless if there are incoming queries. I have several ideas to greatly reduce its runtime but at the moment it is linear to the number of indexes. It uses `mochiglobal` which is one of the best ways to build a global cache in Erlang because in literally generates Erlang code on the fly and loads it but the overhead of gener

[2014-02-13 22:42] rzezeski commented on #492
I created an issue on the Yokozuna repo to address this problem. I will close this issue but feel free to continue commenting on either issue.

Thank you very much for taking the time to share this and diagnose the issue with me.

[2014-02-13 22:42] #492 closed, assigned to nobody

[2014-02-14 15:50] jaredmorrow commented on #486
This has been reported here https://github.com/basho/node_package/issues/72 and is where the bug would be fixed if we decided to do that.  Changing from `sudo` to `su` has weird edge cases passing the environment through the calls, but I haven't looked at it again in a long time.

[2014-02-14 15:50] #486 closed, assigned to nobody

[2014-02-19 12:36] sallespro opened #494 "compilation error in all 2.0.0pre releases - cuttlefish_unit.erl"
~/riak-riak-2.0.0pre15/deps/cuttlefish/src/cuttlefish_unit.erl:none: undefined parse transform 'eunit_autoexport'
ERROR: compile failed while processing ~/riak-riak-2.0.0pre15/deps/cuttlefish: rebar_abort
make: **\* [compile] Error 1

[2014-02-19 13:01] sallespro commented on #494
missing packages :
erlang-eunit and erlang-dev

[2014-02-19 13:01] #494 closed, assigned to nobody

[2014-02-20 09:29] georgepsarakis opened #495 "New release 1.4.8"
Does anyone know when the Ubuntu repositories will be updated for the [new release](https://github.com/basho/riak/releases/tag/riak-1.4.8)?

Thanks!

[2014-02-20 14:28] jaredmorrow commented on #495
Sorry for the early notice, I was trying out the GitHub releases feature.
 The plan is to send out the proper release announcement today sometime.

On Thursday, February 20, 2014, George Psarakis notifications@github.com
wrote:

[2014-02-21 06:11] #452 closed, assigned to cheeseplus

[2014-02-21 06:27] #384 closed, assigned to nobody

[2014-02-21 06:33] jaredmorrow commented on #353
For future reference, documentation issues should be filed against the docs repo here https://github.com/basho/basho_docs

I don't think this is still an issue, but in case I'll /cc @lucperkins and @coderoshi   Please close if this is no longer relevant.

[2014-02-21 11:32] georgepsarakis commented on #495
@jaredmorrow thanks for taking the time to answer!

[2014-02-21 11:32] #495 closed, assigned to nobody

[2014-02-22 06:03] jj1bdx opened #496 "On FreeBSD 10.0-STABLE leveldb within eleveldb cannot be built"
The leveldb in eleveldb deps cannot be built on 2.0.0pre16. Confirmed other components built OK on `gmake rel`. See https://github.com/basho/eleveldb/issues/97 for the details.

Compilation with GNU cc 4.6.4 from FreeBSD Port selection aka `gcc46` and `g++46` solves the building problem, with `env CC=gcc46 CXX=g++46 gmake rel`.

[2014-02-26 13:59] ramunasd commented on #370
Riak does not supports binary data in javascript map reduce functions.
You can stream/get all bucket keys using special functions. I.e. python api - http://basho.github.io/riak-python-client/bucket.html#listing-keys

[2014-02-26 14:07] ramunasd opened #497 "Very high traffic between two nodes in cluster"
After joining two new nodes and some map reduce fails one node are sending huge amounts of data to another one. Much bigger amounts than total cluster size. Receiver logs in console.log some strange info:

[code]

error.log and crash.log is empty. Restarting riak on both sides does not helps.

Riak versions 1.4.7 and 1.4.8
Ubuntu 12.04 and 13.04 64bit

[2014-02-27 17:58] peczenyj opened #498 "Paginated query over 2i with range return non existent data"
Hi all

I am using Riak 1.4.2 + levelDB and I find something strange.

We have one index called 'expiration_epoch_int', it is like a TTL for a particular key in this bucket. To find expired data to delete is just query over expiration_epoch_int between 0 and 'now'. For a small amont of data it seems really good.

But today I find this: the first 10 results from this query return non-existent keys.

[2014-02-27 18:07] peczenyj opened #499 "Paginated query over 2i with range return key with wrong index"
Hi

Performing some queries I find this:

GET 'http://RIAK:8098/buckets/MY_BUCKET/index/expiration_epoch_int/1393462000/1393463030?return_terms=true&max_results=10'

RETURNS [{"1393462839":"FOOBAR"}]

OK 1393462000 <= 1393462839 <= 1393463030

But if I inspect this entry:

GET 'http://RIAK:8098/buckets/MY_BUCKET/keys/FOOBAR
...
x-riak-index-expiration_epoch_int: 1395013128
...

the value of this i

[2014-02-27 18:24] russelldb commented on #499
Did the value of the object change between when you did the 2i query and when you read the object with the get?

[2014-02-27 18:27] peczenyj commented on #499
I don't know if it is easy to reproduce. Lets try to give one idea.

We create 14 Gb per day of data stored in my buckets. And we create some 2i indexes ( using elevelDB ) for cleanup and searching. For example, we have one index for last_modified_time to search itens changed in the last 24 hours. When I try to search itens changed between 20 and 21 days ago I find itens changed, in fact, yesterda

[2014-02-27 18:29] peczenyj commented on #499
No, the value of the object does not change between the 2i query and when I read the object. In this particular case, if it is true I expect some value +120 days from now. 1395013128 is the epoch for '2014-03-16T23:38:48'

[2014-02-27 18:51] peczenyj commented on #499
One more interesting fact: IF I perform the same query over and over, I can find different (wrong) results. But when I inspect one entry, If I perform the same query again and again I can find this result. It is like: when we GET the data, it change what is returning the value with a wrong secondary index value ( like clean some cache ). It make sense?

[2014-02-28 00:05] xpe opened #500 "Some missing Riak protobuf message codes"
I'm working on an asynchronous Clojure protocol buffer client.

Most of Riak's protocol buffer message codes are sequential and alternate between request and response. But some codes are missing. I first noticed this [issue in the context of the Java client](https://github.com/basho/riak-java-client/issues/367), but now I am pretty sure this is a Riak issue.

To make my client logic make more sens

[2014-03-04 04:06] #353 closed, assigned to nobody

[2014-03-04 22:34] ghost opened #502 "riak 2.0.0pre11: high cpu utilization while idle with strong consistency turned on"
I'm running a 3 node riak cluster for testing and I'm seeing one of the nodes at 48% cpu utilization at idle with the two other nodes at ~23% cpu utilization.
I noticed that if I turned strong consistency off and restart the nodes, the cpu utilization drops to ~2-5% at idle.

I've pasted the riak-admin top outputs for the nodes:

******\*  48% node:

[code]

*******\* Other nodes (both look simila

[2014-03-05 14:46] jaredmorrow commented on #502
I'm not the expert on strong consistency, but I know someone is looking and working on the CPU utilization at the moment.

One comment on why you are seeing unbalanced results is the use of a 3-node cluster.  With N=3 and 3 physical nodes, you are not guaranteed an even spread of data amongst those three machines in the cluster.  That is why we recommend 5 as the minimum node count if you are usin

[2014-03-05 17:06] ghost commented on #502
Right now this is currently just a test setup to try out 2.0, so that's why there are only three nodes.
I'm not really concerned with an uneven cpu utilization, I'm only concerned that when the system is idle (no requests being sent at all to the riak cluster), there's a significant amount of cpu utilization showing on the system 'top'.

[2014-03-05 17:09] evanmcc commented on #502
This is more or less expected with the current build.  There are major
changes coming down the pike in the near future.  For the moment, don't
worry about it.

On Wed, Mar 5, 2014 at 9:06 AM, hmai- notifications@github.com wrote:

[2014-03-05 19:33] ghost commented on #502
Just for education purposes, is there an open issue tracking this main issue?

[2014-03-05 20:16] #502 closed, assigned to nobody

[2014-03-07 02:23] RyanGordon opened #505 "SmartOS package bug in 2.0.0pre11"
Using the latest available SmartOS tarball the following output is produced:

[root@node1 / ] # pkg_add http://s3.amazonaws.com/downloads.basho.com/riak/2.0/2.0.0pre11/smartos/13.1/riak-2.0.0pre11-SmartOS-x86_64.tgz
Creating directory /var/db/riak owned by riak
Creating directory /var/log/riak owned by riak
Skipping directory creation of /var, directory already exists
Skipping directory creation o

[2014-03-07 05:03] jaredmorrow commented on #505
Thanks for the report, you indeed are correct.  I'll get this fixed a.s.a.p.

[2014-03-12 09:45] ramunasd commented on #497
More info on that:
this node shows only itself in `riak-admin member-status` while other nodes shows all nodes(including problematic one).
`riak-admin ringready` from another node gives error `[...]list different partition owners`.
After `riak-admin cluster join...` problematic node really starts hinted handoffs. No more errors `Handoff receiver for partition undefined exited after processing 0 ob

[2014-03-12 20:38] wcamarao opened #507 "Issue with 2i sorting on Linux"
I originally opened this in riak-ruby-client but it seems like it's in riak itself

https://github.com/basho/riak-ruby-client/issues/153
### How to reproduce
- Create 3 documents: A, B, C, each one with corresponding keys "a", "b", "c"
- Save A into a bucket; and save B and C into another bucket
- Index B on A with index name "foo"
- Index C on A with index name "foo"
- Lookup index name "foo" on

[2014-03-12 22:02] reiddraper commented on #507
cc @engel. Wondering if this is because we changed 2i to _not_ be sorted except when using pagination. @wcamarao what version of Riak are you using?

[2014-03-14 02:10] wcamarao commented on #507
@reiddraper 1.4.1 on OSX and 1.4.6 on Linux

Just replied https://github.com/basho/riak-ruby-client/issues/153#issuecomment-37608478 with riak-admin status on both machines

[2014-03-14 12:18] oleksiyk opened #508 "Delete operation fails in cluster"
Version: 2.0.pre11, Ubuntu 12.04 64. Installed from .deb
backend: leveldb with all defaults, CAP settings: defaults
ring_size: 128
nodes: 2
n_val: 3
allow_mult: true
last_write_wins: false

I'm having a problem where `RpbDelReq` fails (actually the client connection hangs) when running a cluster. And eventually the following messages appear in error.log:

[code]

[code]

crash.log: https://www.dro

[2014-03-14 12:19] 613038475 opened #509 "SSL options in vm.args make nodetool stop working [JIRA: RIAK-1579]"
Hello,
I found use ssl options in vm.args will let nodetool (riak start, riak-admin status, etc...) stop working.
The reason is env.sh only pick up name and cookie from vm.args then pass to nodetool.
Here is a patch to fix this problem.
https://gist.github.com/613038475/9546619

Also I found this option is not valid.
-proto_dist inet_ssl
it should be
-proto_dist inet_tls

[2014-03-14 12:51] bsparrow435 commented on #509
I just confirmed this locally against develop. The fix is valid but we really should have a riak_test to validate this.

[2014-03-14 16:58] eminarcissus opened #510 "2.0 pre18 some questions"
When working with localhost:8098/stats, I get the version of riak_kv_version of 1.4.2-529-g2ea327b, which I can get correct version info from pbc with
[RiakPBC,client] 2.0.0pre18.

Also for yokozuna pbc interface, it only supports q, which didn't support fq,facet or any solr query arguments, so will it ever going to support that? or prefer to use a solr client instead?

[2014-03-15 04:25] 613038475 commented on #509
That patch is not useable, it will make erl boot from "riak start" or "riak console" duplicate the ssl argument.

[2014-03-15 21:11] oleksiyk opened #511 "allow_mult=true on new bucket and siblings"
Is there any delay before `allow_mult=true` option for a new bucket is gossiped between riak 2.0 cluster nodes? Because if I try to concurrently put several values without vclocks to the same key (and same new bucket) - I don't get any siblings, just a single value. But if I first set new bucket properties (even empty, so all defaults), then wait ~500ms and then concurrently put several values - I

[2014-03-15 22:23] seancribbs commented on #509
Note that previously, this was slurped in from a separate file. Unfortunately you cannot pass init arguments from the command line into an escript; they have to be specified in the comment line after the shebang. This means that any disterl-related arguments have to be in a file that is referred to in the comment line, which is what was done in `nodetool` in the past. Fixing this issue would requi

[2014-03-16 08:27] oleksiyk commented on #508
The firewall is not a problem. I can easily replicate the problem with hanging delete operations running 'devrel' cluster (commit f0d02eb9) on localhost with just two nodes (dev1 and dev2). Adding third node makes the problem much less likely to appear. And I was not able to replicate the problem when running all 5 nodes. But still the logs contain the following messages:

[code]

I also tried inc

[2014-03-16 13:53] oleksiyk commented on #508
The same problems happens with Riak 1.4.8, commit cb5f1c2 running devrel build on localhost. And it doesn't matter if it is a leveldb or bitcask. To summarise common circumstances:
- more than 1 node (happens more often when running just two nodes)
- client uses connection pooling (10 connections max)
- once in a while `RpbDelReq` will hang on a valid key until dropped by Riak with `timeout` error

[2014-03-16 18:11] cdahlqvist commented on #508
`busy_dist_port` messages indicates the buffers for communication between nodes are filling up, disrupting communication. This is usually due to either the `+zdbbl` parameter being set too low in the `vm.args` file or that there are large objects in the cluster causing problems.

Version 1.4.8 added logging of large objects, so if you are using this version any large objects should be visible in t

[2014-03-16 18:15] oleksiyk commented on #508
Thanks, I'll try `+zdbbl` but i'm not storing objects larger than 2MB. If you can try the test code I've posted above you'll see that the objects are 256kb. And the actual problem is that the 'del' operation hangs. I experience 'del' lockouts with no load on Riak at all.

[2014-03-16 18:38] oleksiyk commented on #508
I've increased `+zdbbl` to 32MB and the messages have gone away. And I can't replicate the `del` timeout. However I'm really worried that under no load at all I can get a `del` timeout and in order to decrease the chance of this situation I should somehow guess the `+zdbbl` limit. A `del` operation doesn't transfer much traffic (even 20 operations) so why would I need 32MB network buffer? If I cor

[2014-03-17 15:50] chapani opened #512 "Can't start riak (2.0 pre11.1)"
I installed riak 2.0 from source (make rel). Also, installed basho/otp (patched erlang R16).

ps aux | grep riak shows no other riak instances. Rebooted my whole server. But I'm getting this:

[code]

riak console is outputting this:

[code]

What am I doing wrong?

Thanks!

[2014-03-17 16:21] seancribbs commented on #512
You already have a riak node running with that name -- this is indicated by
the `duplicate_name` error. Run `ps aux | grep riak` to see if there is an
existing Riak process running.

On Mon, Mar 17, 2014 at 10:50 AM, buriwoy notifications@github.com wrote:

##

Sean Cribbs sean@basho.com
Software Engineer
Basho Technologies, Inc.
http://basho.com/

[2014-03-17 16:45] chapani commented on #512
I did that before and it didn't help. Here is the fresh one:

[code]

[2014-03-17 16:50] chapani commented on #512
[code]

[2014-03-17 16:57] seancribbs commented on #512
Just because it doesn't appear to have started according to the launcher/control script, doesn't it mean that it didn't start. Use `ps aux` and `tail -f` on the console log file to be sure.

[2014-03-17 17:07] chapani commented on #512
did you mean this:

[code]

[2014-03-17 20:19] oleksiyk commented on #508
Can someone please provide more information on this issue? If 1MB buffer caused a delete operation to timeout with no load on Riak at all then how much is 32MB? Why would delete operation require so huge network buffer? Its not `write`, its `delete` and even writes didn't timeout.

[2014-03-17 21:02] cheeseplus commented on #512
Is there an epmd process running?

[2014-03-17 21:05] chapani commented on #512
thanks!

I don't know what epmd is. How can I check it?

[2014-03-17 21:26] cheeseplus commented on #512
It's a a supervisory Erlang process that doesn't necessarily die when you stop Riak. You should be able to grep for `epmd` in a process list and kill it.

[2014-03-17 21:34] cheeseplus commented on #512
This is a classic Riak error and this ML post sums it up well: http://lists.basho.com/pipermail/riak-users_lists.basho.com/2012-March/007806.html

[2014-03-17 21:46] chapani commented on #512
I killed both epmd and beam.smp, but it didn't help. I rebooted, checked ports and they were free. Still having the "WAIT_FOR_ERLANG" error.

Btw, I was able to start my old Riak. So, it must be something only 2.0-related.

[2014-03-18 00:47] chapani commented on #512
the last build was successfully started: riak-2.0.0pre15

thanks guys,
Buriwoy

[2014-03-18 00:47] #512 closed, assigned to nobody

[2014-03-20 19:14] jrwest commented on #511
are you working with bucket types as well? we recently reverted the default for `allow_mult` to `false` for buckets under the default type [1]. Defaults are stored locally on each node and are not gossiped so there should be no delay when using them. If you are setting custom properties (defaults or otherwise) there may be some delay (usually microseconds in a devrel) as the update propagates arou

[2014-03-20 19:24] oleksiyk commented on #511
My order of operations is (its a test actually):
1. set bucket properties (via `RpbSetBucketReq`): allow_mult=true
2. insert several values without vclocks

I don't use bucket types.
If there is no delay between 1. and 2. then I don't get siblings, if I wait a bit between 1. and 2. then I get siblings as expected.

So if allow_mult=false is default again as it was in 1.4 then it all makes sense. W

[2014-03-20 19:40] jrwest commented on #508
when you perform a delete operation w/o a vector clock (as your code seems to be) you are in fact performing a read [1]. Since you have 2 nodes and 3 replicas,  each read will fill up one of the nodes buffer w/ 512KB and the other w/ 256KB. A 1MB buffer is then filled by any two (or three) concurrent delete operations. As the buffer is shared by all partitions on a node, this effectively halts con